<div class="content-section">
  <div class="content-section__header">
    <h2 class="content-section__title">Contact / Help</h2>
    <div class="content-section__small-text text-uppercase">How can we help you?</div>
  </div>
  <div class="content-section__content">
    <div class="help">
      <form class="help__feedback" name="contactForm" ng-submit="false" layout="column" flex>
        <div class="form-group">
          
          <label>Subject</label>
          <input class="form-control" type="text" ng-model="contactCtrl.subject" name="subject"
            md-select-on-focus ng-disabled="$root.isLoading" required placeholder="Subject">
          <div ng-messages="contactForm.subject.$error" md-auto-hide="false" class="errors">
            <div ng-message="required">This is required.</div>
          </div>
          
        </div>
        <div class="form-group">
          
          <label>Description</label>
          <textarea ng-model="contactCtrl.question_message" name="description"
          placeholder="Please describe in detail what you need assistance with. We will reply promptly."
                  maxlength="500" class="form-control" rows="5"  md-select-on-focus
                  ng-disabled="$root.isLoading" required>
          </textarea>
          <div ng-messages="contactForm.description.$error" md-auto-hide="false" class="errors">
            <div ng-message="required">This is required.</div>
            <div ng-message="maxlength">Max 500 characters</div>
          </div>
          
        </div>
        <div class="form-group">
          <button class="btn btn-white btn-small" ng-click="contactCtrl.createMessage(contactForm)"
                ng-disabled="contactForm.$invalid || $root.isLoading">
            Submit
          </button>
        </div>
      </form>
      <div ng-if="contactCtrl.messages.length === 0" class="help__messages">
          <h5 class="help__title">No Messages</h5>
      </div>
      <div ng-if="contactCtrl.messages.length > 0" class="help__messages">
        <h5 class="help__title">Messages <span ng-if="contactCtrl.unreadItems > 0">({{ contactCtrl.unreadItems }})</span></h5>
        <div ng-click="contactCtrl.toggleMessage(message)" class="help__message ng-class:{'help__message--active': message.active}" dir-paginate="message in contactCtrl.messages | itemsPerPage: contactCtrl.perPage"
        current-page="contactCtrl.currentPage" total-items="contactCtrl.totalItems">
          <div class="help__message-title">{{ contactCtrl.decodeMessage(message.subject) }}</div>
          <div class="help__message-date">{{ contactCtrl.getLastDate(message) | date:'MM-dd-yyyy' }}</div>
          <div class="help__message-text">
            <p>You said: {{ contactCtrl.decodeMessage(message.question_message) }}</p>
            <p ng-if="contactCtrl.hasReply(message)">Admin Replied: {{ contactCtrl.decodeMessage(message.reply_message) }}</p>
            <p ng-if="!contactCtrl.hasReply(message)">Admin will respond shortly</p>
          </div>
          <div ng-if="message.active" class="help__message-button help__message-button--close"><button type="button"><svg class="icon icon--close-circle">
                <use xlink:href="assets/images/icons.svg#close-circle"></use>
              </svg></button></div>
          <div ng-if="!message.active" class="help__message-button help__message-button--chevron"><button type="button" ng-click="contactCtrl.createMessage(contactForm)"
            ng-disabled="contactForm.$invalid || $root.isLoading"><svg class="icon icon--chevron">
                <use xlink:href="assets/images/icons.svg#chevron"></use>
              </svg></button></div>
        </div>
      </div>
    </div>
  </div>
</div>
