.contact-container {

  h2 { font-size: 2.1em; }

  label { font-size: 1.6em; }

  .header-date {
    margin-right: 2.5rem;
  }

  .unread-messages {
    margin-left: 1rem;
  }

  .no-reply-header {
    font-weight: 400;
  }

  .unread-message-row {
    background: $light-grey;
  }

  .accent-header-content {
    font-weight: bold;
  }
}

.messages-container {
  h3 {
    font-size: 1.6em;
    margin-right: 2rem;
  }

  p {
    font-size: 1.4em;
  }
}

.cards-gap {
  margin-top: 5rem;
}
