<md-dialog class="edit-dialog-container">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{editInfoCtrl.title}}</h2>
    </div>
  </md-toolbar>
  <md-dialog-content layout="column">
    <div layout="row" class="rejected-reasons" flex layout-align="start center"
         ng-if="editInfoCtrl.showRejectedReasons">
      <span>Changes Needed: </span>
      <div layout-padding class="bold-red">
        {{ editInfoCtrl.rejectedReasons() }}
      </div>
    </div>

    <form name="form" layout-padding>
      <div layout="column">
        <div class="form-group">
          <label>URL</label>
          <input class="form-control" type="text" required name="domainUrl" ng-model="editInfoCtrl.url.href"
                 ng-blur="editInfoCtrl.checkURL(form)" placeholder="http://www.awesome.site.com"
                 ng-disabled="$root.isLoading || editInfoCtrl.disable">
          <span class="error-message" ng-if="editInfoCtrl.showMinValues">
            Minimum MOZ Domain Authority is 15 and Majestic Trust Flow is 10
          </span>
          <div class="errors" ng-messages="form.domainUrl.$error" multiple md-auto-hide="false">
            <div ng-message="required">This is required.</div>
            <div ng-message="url">Check this url, it doesn't seem good.</div>
          </div>
        </div>

        <div class="form-group form-group--radios"><label>Required article length?</label>
          <div class="errors2" ng-messages="form.required_length.$error" multiple md-auto-hide="false">
            <div ng-message="required">This is required.</div>
          </div>
          <div ng-click="editInfoCtrl.setUrlRequiredLength('750-1000')" class="form-check form-check-radio form-check-inline">
            <input value="750-1000" ng-model="editInfoCtrl.url.required_length" class="form-check-input" name="required_length" type="radio" required>
            <label class="form-check-label"><span>750 - 1000</span></label>
          </div>
          <div ng-click="editInfoCtrl.setUrlRequiredLength('1000-1250')" class="form-check form-check-radio form-check-inline">
            <input value="1000-1250" ng-model="editInfoCtrl.url.required_length" class="form-check-input" name="required_length" type="radio" required>
            <label class="form-check-label"><span>1000 - 1250</span></label>
          </div>
          <div ng-click="editInfoCtrl.setUrlRequiredLength('1250-1500')" class="form-check form-check-radio form-check-inline">
            <input value="1250-1500" ng-model="editInfoCtrl.url.required_length" class="form-check-input" name="required_length" type="radio" required>
            <label class="form-check-label"><span>1250 - 1500</span></label>
          </div>
          <div ng-click="editInfoCtrl.setUrlRequiredLength('1500-+')" class="form-check form-check-radio form-check-inline">
            <input value="1500-+" ng-model="editInfoCtrl.url.required_length" class="form-check-input" name="required_length" type="radio" required>
            <label class="form-check-label"><span>1500 +</span></label>
          </div>
        </div>

        <div class="form-group form-group--radios">
          <label>Do You Allow Home Page Links?</label>
          <div class="errors2" ng-messages="form.allow_home_page.$error" multiple md-auto-hide="false">
            <div ng-message="required">This is required.</div>
          </div>
          <div ng-click="editInfoCtrl.setUrlAllowHomepage(true)" class="form-check form-check-radio form-check-inline">
            <input value="true" ng-model="editInfoCtrl.url.allow_home_page"
             class="form-check-input" name="allow_home_page" type="radio" required>
            <label class="form-check-label"><span>Yes</span></label>
          </div>
          <div ng-click="editInfoCtrl.setUrlAllowHomepage(false)" class="form-check form-check-radio form-check-inline">
              <input value="false" ng-model="editInfoCtrl.url.allow_home_page"
               class="form-check-input" name="allow_home_page" type="radio" required>
            <label class="form-check-label"><span>No</span></label>
          </div>
          <p class="error-message" ng-show="editInfoCtrl.showHomePageError">
            {{ editInfoCtrl.showHomePageErrorMessage() }}
          </p>
        </div>

        <div class="form-group form-group--radios">
          <label>Are the links Do-Follow?</label>
          <div class="errors2" ng-if="!editInfoCtrl.followLinkOptionIsSet(editInfoCtrl.url)">
            <div>This is required.</div>
          </div>
          <div ng-click="editInfoCtrl.setUrlFollowLink(true)" class="form-check form-check-radio form-check-inline">
            <input value="true" ng-model="editInfoCtrl.url.follow_link" class="form-check-input" name="follow_link" type="radio" required>
            <label class="form-check-label"><span>Yes</span></label>
          </div>
          <div ng-click="editInfoCtrl.setUrlFollowLink(false)" class="form-check form-check-radio form-check-inline">
              <input value="false" ng-model="editInfoCtrl.url.follow_link" class="form-check-input" name="follow_link" type="radio" required>
            <label class="form-check-label"><span>No</span></label>
          </div>
          <p class="error-message" ng-show="editInfoCtrl.showFollowLinkError">
            {{ editInfoCtrl.showFollowLinkErrorMessage() }}
          </p>
        </div>

        <div class="form-group form-group--radios">
          <label>I only allow links to blog posts</label>
          <div class="errors2" ng-messages="form.allow_blog_post.$error" multiple md-auto-hide="false">
            <div ng-message="required">This is required.</div>
          </div>
          <div ng-if="editInfoCtrl.url.allow_home_page != 'true';" ng-click="editInfoCtrl.setUrlAllowBlogPost(true)" class="form-check form-check-radio form-check-inline">
            <input value="true" ng-model="editInfoCtrl.url.allow_blog_post" ng-disabled="editInfoCtrl.url.allow_home_page == 'true';" class="form-check-input" name="allow_blog_post" type="radio" required>
            <label class="form-check-label"><span>Yes</span></label>
          </div>
          <div ng-if="editInfoCtrl.url.allow_home_page == 'true';" class="form-check form-check-radio form-check-inline">
            <input value="true" ng-model="editInfoCtrl.url.allow_blog_post" ng-disabled="editInfoCtrl.url.allow_home_page == 'true';" class="form-check-input" name="allow_blog_post" type="radio">
            <label class="form-check-label"><span>Yes</span></label>
          </div>

          <div ng-if="editInfoCtrl.url.allow_home_page != 'true';" ng-click="editInfoCtrl.setUrlAllowBlogPost(false)" class="form-check form-check-radio form-check-inline">
              <input value="false" ng-model="editInfoCtrl.url.allow_blog_post" ng-disabled="editInfoCtrl.url.allow_home_page == 'true';" class="form-check-input" name="allow_blog_post" type="radio" required>
            <label class="form-check-label" for="radio10"><span>No</span></label>
          </div>
          <div ng-if="editInfoCtrl.url.allow_home_page == 'true';" class="form-check form-check-radio form-check-inline">
              <input value="false" ng-model="editInfoCtrl.url.allow_blog_post" ng-disabled="editInfoCtrl.url.allow_home_page == 'true';" class="form-check-input" name="allow_blog_post" type="radio">
            <label class="form-check-label" for="radio10"><span>No</span></label>
          </div>

          <p class="error-message" ng-show="editInfoCtrl.showAllowBlogPostError">
            {{ editInfoCtrl.showFollowLinkErrorMessage() }}
          </p>
        </div>

        <div class="form-group" class="desc-group">
          <label>Description:</label>
          <textarea class="form-control" ng-trim="true" maxlength="450" ng-model="editInfoCtrl.url.description"
            rows="2" name="description" required ng-disabled="$root.isLoading || editInfoCtrl.disable">
          </textarea>
          <div class="errors" ng-messages="form.description.$error" multiple md-auto-hide="false">
            <div ng-message="required">This is required.</div>
          </div>
        </div>
      </div>

      <div layout="column">
        <div ng-if="editInfoCtrl.isContributor" class="form-group">
          <label>Publication Author Page</label>
          <input class="form-control" url-input name="url" ng-model="editInfoCtrl.profile.author_page"
                  placeholder='For example: http://HealthPublication.com/Author/Jane-Doe'
                  ng-disabled="$root.isLoading || editInfoCtrl.disable">
          </input>
          <div class="errors" ng-messages="form.url.$error" multiple md-auto-hide="false">
            <div ng-message="pattern">This doesn't appear to be a valid URL. Please fix to move forward.</div>
          </div>
        </div>

        <div layout="row" layout-align="start center">
          <div class="form-group">
            <label>{{ editInfoCtrl.pricePlaceholder }}</label>
            <input class="form-control" type="text" ui-money-mask="0" maxlength="9" required name="urlPrice"
                   ng-model="editInfoCtrl.url.price" format="currency" min="1"
                   ng-disabled="$root.isLoading || editInfoCtrl.disable">
            <div class="errors" ng-messages="form.urlPrice.$error" multiple md-auto-hide="false">
              <div ng-message="required">This is required.</div>
              <div ng-message="min">Must be greater than zero</div>
            </div>
          </div>
          <label class="suggested-price" ng-show="editInfoCtrl.suggestedPrice">
            <i> Suggested price based on DA =
              {{ editInfoCtrl.domInfo.domain_authority }} and TF = {{ editInfoCtrl.domInfo.trust_flow }}</i>
          </label>
          <div class="pausing-url" ng-if="editInfoCtrl.showPause && editInfoCtrl.url.id">
            <md-checkbox class="pause-url-check" ng-model="editInfoCtrl.pausedValue" ng-disabled="$root.isLoading">
              <label class="pause-url-lbl">Pause URL
              <span class="pause-url-note" ng-if="editInfoCtrl.pausedValue && !editInfoCtrl.disable">
                  - When paused is selected any changes won't have any effect
                </span>  
            </label>
            </md-checkbox>
          </div>
        </div>
      </div>
    </form>
    <md-divider></md-divider>

    <md-dialog-actions layout="row" layout-align="end center">
      <md-button class="btn btn-white btn-small" ng-click="editInfoCtrl.cancel()" ng-disabled=" $root.isLoading">
        Cancel
      </md-button>
      <md-button class="btn btn-white btn-small" ng-mousedown="editInfoCtrl.submit()" ng-disabled="editInfoCtrl.showMinValues || form.$invalid || $root.isLoading">
        Save
      </md-button>
    </md-dialog-actions>
  </md-dialog-content>
</md-dialog>
