<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Notes</h2>
    </div>
  </md-toolbar>

  <md-dialog-content layout="column" layout-padding>
    <h2 class="notes-h2">Here are the publisher notes for the rewrite. Please follow them.</h2>
    <div>
      <label class="reject-content"> Reason of rejection: <span class="pub-notes"> {{ pubNotesCtrl.rejectedReason }}</span></label>
    </div>
    <div>
      <label class="reject-content"> Notes from Publisher:</label>
      <md-input-container class="display-notes md-block">
        <textarea class="pub-notes" ng-disabled="false" ng-trim="true"
          ng-model="pubNotesCtrl.note.note" ng-readonly="true"
          rows="2" md-select-on-focus name="notes">
          </textarea>
      </md-input-container>
    </div>
  </md-dialog-content>

  <md-dialog-actions layout="row" layout-align="end center">
    <md-button class="btn btn-white btn-small" ng-click="pubNotesCtrl.ok()" ng-disabled="$root.isLoading">
      I Understand
    </md-button>
  </md-dialog-actions>
</md-dialog>
