<div class="application" style="background: url(assets/images/body-hero.png) no-repeat center;">
  <topnavext></topnavext>
  <div class="signin-container" layout="column" flex layout-fill>
      <div class="signin-form-container" layout="column" layout-align="start center" flex>
        <md-card layout="column" layout-align="start center" flex="90">
          <img class="main-logo" ng-src="assets/images/main_logo.svg"></img>
          <md-card-content flex>
            <form name="signInForm" ng-submit="signInForm.$valid" flex>
              <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="email" name="email" ng-model="signInCtrl.credentials.email"
                        ng-disabled="$root.isLoading" required md-autofocus
                        ng-keydown="signInCtrl.submitEnter($event)">
                <div class="errors" ng-messages="signInForm.email.$error" md-auto-hide="false">
                  <div ng-message="required">This is required.</div>
                  <div ng-message="email">This email isn't valid.</div>
                </div>
              </div>
    
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control ok-password"
                  ng-class="(signInForm.password.$dirty && signInForm.password.$invalid) ? 'error' : ''"
                  name="password" ng-required="true" ng-model="signInCtrl.credentials.password"
                  ng-disabled="$root.isLoading" ng-cut="$event.preventDefault()"
                  ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()"
                  ng-keydown="signInCtrl.submitEnter($event)">
                <div class="errors" ng-messages="signInForm.password.$error">
                  <div ng-message="required">This is required.</div>
                  <div ng-message="no-match">Passwords don't match</div>
                </div>
              </div>
    
              <div layout="row" layout-align="end center" class="forgot-password-link">
                <span class="opt-descriptions">
                  <a target="_blank" class="md-accent links">Forgot your password?</a>
                </span>
              </div>
            </form>
    
            <div layout="column" layout-align="center center" class="actions">
              <button class="btn btn-default"
                          ng-disabled="signInForm.$invalid || !signInForm.$dirty || $root.isLoading"
                          ng-click="signInCtrl.submit()">
                Sign In
              </button>
    
              <span class="opt-descriptions new-user-text">
                New to Scalefluence?
              </span>
              <span class="opt-descriptions footer">
                Create your Scalefluence account
                <a target="" ui-sref="sign-up" class="md-accent links">now!</a>
              </span>
            </div>
          </md-card-content>
        </md-card>
      </div>
    </div>
    <div class="application__footer">
      <div class="footer">&copy;ScaleFluence 2019</div>
    </div>
  </div>
