.signin-container {
  background: $primary;
  padding-top: 2.5rem;
  padding-bottom: 2rem;

  .signin-form-container {
    .main-logo {
      width: 30rem;
    }

    md-card {
      padding-top: 3rem;
      width: 65rem;
    }

    md-card-content {
      padding-top: 0;
      width: 45rem;
      margin-top: 5rem;
    }

    .actions {
      padding: 3rem 1rem;
    }

    .footer {
      padding: 2rem 0;
    }

    .links {
      cursor: pointer;
    }

    .opt-descriptions {
      text-align: center;
      color: $dark-grey;
      font-size: 1.6em;

      &.error {
        color: $error-red;
        font-weight: 600;
      }
    }

    .new-user-text {
      padding-top: 2rem;
    }

    .password-input {
      margin-bottom: 0;
    }

    .forgot-password-link {
      margin: -2rem 0 2rem 0;
    }
  }

  md-input-container {
    font-size: 1.8em;
  }
}

.signin-container {
  background: none;
}

.signin-container .signin-form-container md-card {
  padding: 15px;
  padding: 30px 20px 20px;
  background: #fff;
  border: 1px solid #d1dce3;
  border-radius: 8px;
  box-shadow: 7px 5px 10px rgba(0,0,0,0.2);
}

.signin-container .signin-form-container .opt-descriptions {
  font-size: 1em;
}