.demo-md-panel {
  min-height: 100rem;
}

.blog-post-container {
  width: 60%;

  .dialog-content {
    padding: 1.5rem 2rem 0 2rem;
    width: 100%;

    md-input-container {
      margin-bottom: 1rem;
      margin-top: .8rem;
    }

    .newUrl-container {
      padding-bottom: 0;
      margin-bottom: 0;
    }

    .selectUrl-container {
      margin: 2rem 0;
    }

    .divider-titles {
      padding-left: .3rem;
    }

    h2 {
      color: $dark-grey;
      font-weight: bold;
      margin: 0;
    }

    p {
      font-size: 1.3em;
    }

    .word {
      margin: 2rem 0;
    }

    .download-content {
      padding-top: .5rem;
    }

    .duplicated-order-warning {
      margin-bottom: -1rem;
    }
  }

  .anchor-input {
    padding-right: 3rem;
  }

  .form-doc-upload {
    margin-top: -3rem;
  }
}

.infographic {
  margin-bottom: 15px;
  color: $dark-grey;

  .options-container {
    padding-left: 3rem;
  }
}

.dialog-actions {
  width: 100%;
}

md-radio-button .md-label {
  font-size: 1.6em;
  color: $black;
}

.md-panel-outer-wrapper {
  position: fixed;
}

.note {
  float: right;
  font-size: 1.6em;
  margin-top: .2rem;
  color: $dark-grey;
}

text-angular {
  font-size: 1.6em;
  margin-bottom: 2rem;

  textarea {
    width: 100%;
  }

  .ta-scroll-window .ta-bind {
    border: 1px solid $dark-grey;
  }
}

.ta-toolbar {
  display: flex;
  flex-flow: row wrap;

  .ta-button-group {
    display: flex;
    flex-flow: row wrap;

    .md-button {
      font-size: 1em;
      font-weight: 600;
      color: $dark-grey;
      min-width: 0;
      min-height: 0;
      line-height: normal;
      margin-left: 0;
      padding-bottom: .1rem;

      &.md-primary:not([disabled]) {
        color: $primary;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 700px) {
  .form-label {
    font-size: 1.6em;
  }
}

@media (max-width: 1279px) {
  .download-content {
    margin-left: -1.5rem;
  }
}

.blog-post-container .form-label {
  font-size: 16px;
  padding-top: 5px;
  color: $black;
}

.blog-post-container md-radio-button .md-label {
  font-size: 16px;
}

.blog-post-container .infographic .options-container {
  padding-left: 0px;
}

.blog-post-container .form-group > label {
  color: $black;
  margin-bottom: 0px;
}

.blog-post-container md-select {
  margin-top: 3px;
  margin-bottom: 3px;
}

.blog-post-container .input-left {
  margin-right: 10px;
}

.blog-post-container .input-right {
  margin-left: 10px;
}

.blog-post-container .dialog-content p {
  font-size: 16px;
  color: $black;
}

.blog-post-container .file md-input-container.md-block.file-name label {
  font-size: 14px;
}

.blog-post-container .file md-input-container.md-block.file-name input {
  font-size: 14px;
}

.blog-post-container .dialog-content p {
  padding-top: 8px;
  padding-bottom: 10px;
  font-size: 14px;
}

.blog-post-container text-angular .ta-bind {
  width: 100%;
  margin-left: 0px;
}

.blog-post-container text-angular .md-button.md-primary:not([disabled]) {
  background: none;
  box-shadow: none;
}

.blog-post-container text-angular .md-button.md-icon-button {
  padding: 8px;
}

.blog-post-container .md-button[disabled] {
  font-size: 14px;
}

@media (max-width: 1279px) {
  .blog-post-container .download-content {
    margin-left: 0px;
  }
}
