<md-dialog class="blog-post-container" aria-label="Create Blog Post"
  layout="column" layout-align="center center">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Create Blog Post</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="blgCtrl.closeDialog()">
        <md-icon aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-content class="dialog-content" layout-align="start center">
    <form name="form" ng-submit="false" layout="column" flex>
      <div clas="md-block campaign-container">
        <div class="form-group">
          <label>Campaign</label>
          <md-select required class="form-control" name="campaign" ng-model="blgCtrl.blogPost.campaign">
            <md-optgroup label="Your campaigns">
              <md-option ng-value="campaign" ng-repeat="campaign in blgCtrl.campaigns">
                {{ campaign.name }}
              </md-option>
            </md-optgroup>
          </md-select>
          <div class="errors" ng-messages="form.campaign.$error" md-auto-hide="false">
            <div ng-message="required">This is required.</div>
          </div>
        </div>
      </div>
      <p class="error-message duplicated-order-warning" ng-if="blgCtrl.order.already_ordered">
        Warning! You have already purchased a post for <i>{{ blgCtrl.order.already_ordered_campaign }}</i> on this blog.
        <br>
        You can either purchase twice or select a new campaign above.
      </p>
      <div class="md-block infographic" layout="row" layout-xs="column">
        <label class="form-label" flex="30">Using an infographic?</label>
        <md-radio-group class="options-container" ng-model="blgCtrl.infographic" layout="row" flex="60"
          layout-align-sm="center center" layout-align="start center">
          <md-radio-button value="yes">Yes</md-radio-button>
          <md-radio-button value="no">No</md-radio-button>
        </md-radio-group>
      </div>

      <div class="form-group">
        <label>Title</label>
        <input class="form-control" ng-required="true" ng-model="blgCtrl.blogPost.blog_post_title"
          name="title" placeholder="Please Copy / Paste blog post title from Word Doc" type="text">
        <div class="errors" ng-messages="form.title.$error" md-auto-hide="false">
          <div ng-message="required">This is required.</div>
        </div>
      </div>

      <text-angular ng-required="blgCtrl.infographic == 'yes'"
        ng-show="blgCtrl.infographic == 'yes'" ng-model="blgCtrl.blogPost.blog_post_body"></text-angular>

        <div layout="row" layout-align="center center" flex>
          <div flex="50">
            <div class="form-group input-left">
              <label>Target URL</label>
              <input class="form-control" name="url" ng-required="true"
                ng-model="blgCtrl.newURL" ng-change="blgCtrl.setEmptyDropdownUrl()"
                placeholder="Please Copy / Paste URL from Word Doc" url-input>
              <div class="errors" ng-messages="form.url.$error" md-auto-hide="false">
                <div ng-message="required">This is required.</div>
                <div ng-message="pattern">This doesn't appear to be a valid URL. Please fix to move forward.</div>
              </div>
            </div>
          </div>

          <div flex="50">
            <div class="form-group input-right" ng-hide="blgCtrl.infographic == 'yes'">
              <label>Anchor text</label>
              <input class="form-control" ng-required="blgCtrl.infographic == 'no'" name="linkText"
                ng-model="blgCtrl.blogPost.link_text"
                placeholder="Please Copy / Paste anchor text from Word Doc" type="text">
              <div class="errors" ng-messages="form.linkText.$error" md-auto-hide="false">
                <div ng-message="required">This is required.</div>
              </div>
            </div>
          </div>
        </div>
      <br><br>
    </form>

    <form name="filesWideForm" class="form-doc-upload">
      <div>
        <p>Max file size is 25 MBs. If you want images, copy them onto the Word doc.</p>
      </div>
      <div layout="column" layout-align="center start" layout-gt-md="row" layout-align-gt-md="start center">
        <file-chooser text="Choose file" file-max="25MB" file-ext=".doc, .docx"
                      file-name="word" file="blgCtrl.blogPost.word" label="Word document" smaller="true"
                      small-input="true" ng-disabled="$root.isLoading" ng-show="blgCtrl.infographic == 'no'">
        </file-chooser>
        <div layout="row" class="download-content">
          <a class="btn btn-download" aria-label="download"
              ng-href="{{blgCtrl.blogPost.word.url}}" target="_blank"
              ng-click="blgCtrl.downloadContent(blgCtrl.blogPost)">
            <svg class="icon icon--download">
            <use xlink:href="assets/images/icons.svg#download"></use>
          </svg></a>
          <p>Download content</p>
        </div>
      </div>
    </form>
  </md-content>

  <div class="dialog-actions">
    <md-divider></md-divider>
    <md-card-actions layout="row" layout-align="end center" flex>
      <md-button class="btn btn-white btn-small" ng-disabled="$root.isLoading"
        ng-click="blgCtrl.closeDialog()">Cancel</md-button>
      <md-button class="btn btn-white btn-small" ng-disabled="$root.isLoading || !blgCtrl.hasContent()
        || blgCtrl.noUrl() || filesForm.$invalid || form.$invalid || imagesForm.$invalid || filesWideForm.$invalid"
        ng-click="blgCtrl.save()">Save</md-button>
    </md-card-actions>
  </div>
</md-dialog>
