<ul ng-if="1 < pages.length || !autoHide" class="pagination pagination--shadow">
  <li class="page-item" ng-if="directionLinks && pagination.current > 1">
    <a class="page-link" href="" ng-click="setCurrent(pagination.current - 1)"><svg class="icon icon--prev">
        <use xlink:href="assets/images/icons.svg#prev"></use>
      </svg></a>
  </li>
  <li class="page-item disabled" ng-if="directionLinks && pagination.current == 1">
    <a class="page-link" href="#"><svg class="icon icon--prev">
        <use xlink:href="assets/images/icons.svg#prev"></use>
      </svg></a>
  </li>
  <li class="page-item" aria-label="Go to page {{ pageNumber + 1 }}"
  ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)"
  ng-class="{'active': pagination.current == pageNumber}"><a class="page-link" href="" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a></li>
  <li class="page-item" ng-if="directionLinks && pagination.current != pagination.last">
    <a class="page-link" href="" ng-click="setCurrent(pagination.current + 1)"><svg class="icon icon--next">
        <use xlink:href="assets/images/icons.svg#next"></use>
      </svg></a>
  </li>
  <li class="page-item disabled" ng-if="directionLinks && pagination.current == pagination.last">
    <a class="page-link" href=""><svg class="icon icon--next">
      <use xlink:href="assets/images/icons.svg#next"></use>
    </svg></a>
  </li>
</ul>