<div class="content-section">
  <div class="content-section__header">
    <div class="content-section__back"><a class="btn btn-white" ui-sref="adv-dash"><svg class="icon icon--chevron">
          <use xlink:href="assets/images/icons.svg#chevron"></use>
        </svg><span>Back</span></a></div>
    <h2 class="content-section__title">Active Content</h2>
    <div class="content-section__right">
      <form class="search-widget active-ads-search-widget" ng-submit="repActCntCtrl.search()">
        <input ng-model="repActCntCtrl.query.filter" ng-change="repActCntCtrl.search()"
           class="form-control" placeholder="Search..."
           ng-disabled="repActCntCtrl.activeAds.length === 0">
        <button type="submit"><svg class="icon icon--search">
            <use xlink:href="assets/images/icons.svg#search"></use>
          </svg></button></form>
      <md-button class="btn btn-white btn-small btn-auto active-ads-dl-report"
          ng-disabled="repActCntCtrl.activeAds.length === 0"
          ng-disabled="!repActCntCtrl.active_csv_url"
          href="{{ repActCntCtrl.active_csv_url }}" target="_blank" download>
            Download Report
      </md-button>
    </div>
  </div>
  <div class="content-section__content">
    <div class="active-ads">
      <div class="active-ads__section active-ads__section--submit">
        <h5 ng-hide="repActCntCtrl.activeAds.length > 0"  class="active-ads__section-title">No Active Content</h5>
        <div class="active-ads__section-content d-lg-block" ng-hide="repActCntCtrl.activeAds.length === 0">
          <md-table-container>
            <table class="table" md-table ng-model="repActCntCtrl.activeAds"
                   md-progress="promise">
              <thead md-head md-order="repActCntCtrl.query.order">
                <tr md-row>
                  <th class="date" md-column md-order-by="requested_date"><a class="btn btn-link" href="javascript:void(0)"><span>Date purchased</span></a></th>
                  <th class="campaign" md-column md-order-by="campaign.name"><a class="btn btn-link" href="javascript:void(0)"><span>Campaign</span></a></th>
                  <th class="publisher" md-column md-order-by="url.href" md-desc><a class="btn btn-link" href="javascript:void(0)"><span>Publisher</span></a></th>
                  <th class="da" md-column md-order-by="url.domain_authority"><a class="btn btn-link" href="javascript:void(0)"><span>DA</span></a></th>
                  <th class="cost" md-column md-order-by="url.shown_price"><a class="btn btn-link" href="javascript:void(0)"><span>Cost</span></a></th>
                  <th class="url" md-column md-order-by="link.href"><a class="btn btn-link" href="javascript:void(0)"><span>Destination URL</span></a></th>
                  <th md-column md-order-by="link_text"><a class="btn btn-link" href="javascript:void(0)"><span>Anchor Text</span></a></th>
                  <th class="action" md-column><a class="btn btn-link" href="javascript:void(0)"><span>Live Link</span></a></th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row
                ng-repeat="ad in repActCntCtrl.filtered = (repActCntCtrl.activeAds | filter: repActCntCtrl.query.filter) | orderBy: repActCntCtrl.query.order
                | limitTo: repActCntCtrl.query.limit : (repActCntCtrl.query.page -1) * repActCntCtrl.query.limit">
                  <td md-cell>{{ ad.requested_date | date:'MM-dd-yyyy' }}</td>
                  <td md-cell data-ellipsis data-ng-bind="ad.campaign.name"
                      data-ellipsis-append="...">
                    <md-tooltip md-direction="bottom">
                      {{ ad.campaign.name }}
                    </md-tooltip>
                  </td>
                  <td md-cell data-ellipsis data-ng-bind="ad.url.href | limitTo: 30"
                      data-ellipsis-append="...">
                    <md-tooltip md-direction="bottom">
                      {{ ad.url.href }}
                    </md-tooltip>
                  </td>
                  <td md-cell>{{ ad.url.domain_authority }}</td>
                  <td md-cell>{{ ad.url.shown_price | currency:"$":0 }}</td>
                  <td md-cell class="url" data-ellipsis data-ng-bind="ad.link.href | limitTo: 30"
                      data-ellipsis-append="...">
                    <md-tooltip md-direction="bottom">
                      {{ ad.link.href }}
                    </md-tooltip>
                  </td>
                  <td md-cell>{{ ad.link_text }}</td>
                  <td md-cell>
                    <a ng-if="ad.full_pub_url && !repActCntCtrl.cancelledBlogPost(ad)" ng-href="{{ ad.full_pub_url }}" target="_blank">Click Here</a>
                    <span ng-if="ad.full_pub_url && repActCntCtrl.cancelledBlogPost(ad)">{{ ad.full_pub_url }}</span>
                    <span ng-if="!ad.full_pub_url">Not Live Yet</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </md-table-container>
        
          <md-table-pagination md-limit="repActCntCtrl.query.limit" md-page="repActCntCtrl.query.page"
                               md-total="{{ repActCntCtrl.filtered.length }}"
                               md-page-select="true" >
          </md-table-pagination>
        </div>
      </div>

    </div>
  </div>
</div>
