.signup-container {
  background: $primary;
  padding-top: 2.5rem;
  padding-bottom: 2rem;

  .signup-form-container {

    .main-logo {
      width: 30rem;
    }

    .user-types-container {
      padding-top: 2.5rem;
      width: 45rem;
    }

    md-checkbox {
      font-size: 2em;
    }

    .advertiser-opt {
      color: $accent;
    }

    .publisher-opt {
      color: $primary;
    }

    .opt-descriptions {
      text-align: center;
      color: $dark-grey;
      font-size: 1.6em;

      &.error {
        color: $error-red;
        font-weight: 600;
      }
    }

    md-card {
      padding-top: 3rem;
      width: 70%;
    }

    md-card-content {
      padding-top: 0;
      width: 45rem;
    }

    .actions {
      padding: 3rem 1rem;
    }

    .footer {
      padding-bottom: 2rem;
    }

    .links {
      cursor: pointer;
    }

    .pass-strength {
      p {
        margin: -1.5rem auto 1.5rem;
        font-size: 1.2em;
        padding-bottom: .1rem;
      }
    }
  }

  md-input-container {
    font-size: 1.8em;
  }
}

.signup-container {
  background: none;
}

.signup-container .signup-form-container md-card {
  padding: 15px;
  padding: 30px 20px 20px;
  background: #fff;
  border: 1px solid #d1dce3;
  border-radius: 8px;
  box-shadow: 7px 5px 10px rgba(0,0,0,0.2);
}

.signup-container .signup-form-container .opt-descriptions {
  font-size: 1em;
}