
<div class="application" style="background: url(assets/images/body-hero.png) no-repeat center;">
    <topnavext></topnavext>

    <div class="signup-container" layout="column">
      <div class="signup-form-container" layout="column" layout-align="start center" flex>
        <md-card layout="column" layout-align="start center" flex>
          <img class="main-logo" ng-src="assets/images/main_logo.svg"></img>
          <div class="user-types-container" style="padding-top: 1rem;" layout="row" layout-align="space-between center">
            
            <div ng-if="signUpCtrl.advertiser" layout="column" style="margin-left: auto; margin-right: auto; margin-bottom: 20px;" ng-include src="'app/pages/landing/signUp/partials/advSignup.html'"></div>
            <div ng-if="signUpCtrl.publisher" layout="column" style="margin-left: auto; margin-right: auto; margin-bottom: 20px;" ng-include src="'app/pages/landing/signUp/partials/pubSignup.html'"></div>
            
            <div style="display: none;" layout="column">
              <md-checkbox ng-model="signUpCtrl.advertiser" aria-label="Advertiser"
                            ng-click="signUpCtrl.toggleOption('adv')"
                            ng-disabled="$root.isLoading">
                <span class="advertiser-opt">Advertiser</span>
              </md-checkbox>
              <br>
              <span class="opt-descriptions">Influencer Marketing + <br> Big Data at Scale</span>
            </div>
            <div style="display: none;" layout="column">
              <md-checkbox ng-model="signUpCtrl.publisher" aria-label="Influencer" class="pub"
                            ng-click="signUpCtrl.toggleOption('pub')"
                            ng-disabled="$root.isLoading">
                <span class="publisher-opt">Influencer</span>
              </md-checkbox>
              <br>
              <span class="opt-descriptions">Artisan Level Content + <br> No Hassle Payments</span>
            </div>
          </div>
          <div style="display: none;">
          <p class="opt-descriptions" ng-class="{ 'error': signUpCtrl.noTypeSelected }">
            <i>(select one or both)</i>
          </p>
          <br><br>
          </div>
          <md-card-content flex>
            <form name="signUpForm" ng-submit="signUpForm.$valid" flex>
              <div class="form-group">
                <label>First name</label>
                <input class="form-control" name="firstName" ng-required="true" ng-model="signUpCtrl.user.first_name"
                        type="text" ng-disabled="$root.isLoading" ng-blur="signUpCtrl.displayCheckboxError()">
                <div class="errors" ng-messages="signUpForm.firstName.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </div>
    
              <div class="form-group">
                <label>Last name</label>
                <input class="form-control" name="lastName" ng-required="true" ng-model="signUpCtrl.user.last_name"
                        type="text" ng-disabled="$root.isLoading"
                        ng-blur="signUpCtrl.displayCheckboxError()">
                <div class="errors" ng-messages="signUpForm.lastName.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </div>
    
              <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="email" name="email" ng-model="signUpCtrl.user.email"
                        required ng-blur="signUpCtrl.checkEmail()" ng-focus="signUpCtrl.updateAttempt()"
                        ng-pattern="/^[A-Za-z0-9]+(\.[A-Za-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/">
                <div class="errors" ng-messages="signUpForm.email.$error" role="alert" md-auto-hide="false">
                  <div ng-message="required" ng-show="signUpForm.email.$error.required">This is required.</div>
                  <div ng-message-exp="['pattern']" ng-show="signUpForm.email.$error.pattern && signUpCtrl.attemptEmail">
                    Enter a valid email address
                  </div>
                  <div ng-message="in-use">
                    Email address is already in use. Please click Sign In at bottom.
                  </div>
                </div>
              </div>
    
              <div class="form-group">
                <label>Phone number</label>
                <input class="form-control" name="phone" type="text" ng-model="signUpCtrl.user.phone"
                        phone-input ng-blur="signUpCtrl.displayCheckboxError()">
                <div class="errors" ng-messages="signUpForm.phone.$error">
                  <div ng-message="pattern">(###) ###-#### - Please enter a valid phone number.</div>
                </div>
              </div>
    
              <div class="form-group">
                <label>Enter Password &nbsp;&nbsp;&nbsp;&nbsp;<span><i>(Min. 8 Characters)</i></span></label>
                <input class="form-control" type="password" class="form-control ok-password"
                  ng-class="(signUpForm.password.$dirty && signUpForm.password.$invalid) ? 'error' : ''"
                  name="password" ng-required="true" ng-model="signUpCtrl.password" ng-disabled="$root.isLoading"
                  ng-change="signUpCtrl.checkStrength()" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()"
                  ng-paste="$event.preventDefault()" ng-blur="signUpCtrl.displayCheckboxError()">
                <div class="label password-count"
                      ng-class="{ 'label-success': signUpCtrl.password.length > 7, 'label-danger': signUpCtrl.password.length <= 7,
                      'label-empty': signUpCtrl.password.length === 0 }" ng-cloak>
                  {{ signUpCtrl.password | passwordCount: 8 }}
                </div>
    
                <div class="errors" ng-messages="signUpForm.password.$error">
                  <div ng-message="required">This is required.</div>
                  <div ng-message="no-match">Passwords don't match</div>
                </div>
              </div>
    
              <div class="pass-strength" layout="row" layout-align="start center" ng-show="signUpCtrl.password" flex>
                <p flex="40">
                  Password Strength: {{ signUpCtrl.passTextStrength }}
                </p>
                <div class="strength-meter" ng-show="signUpCtrl.password" flex="60">
                  <div class="strength-meter-fill" ng-model="signUpCtrl.password"
                        password-strength="{{ signUpCtrl.passEval }}">
                  </div>
                </div>
              </div>
    
              <div class="form-group">
                <label>Confirm Password</label>
                <input class="form-control" type="password" name="confirmPassword"
                        ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()"
                        ng-paste="$event.preventDefault()" required
                        ng-model="signUpCtrl.user.password_confirmation"
                        maxlength="16" minlength="8" ng-change="signUpCtrl.canChangePassword()"
                        ng-password-strength="signUpCtrl.user.password_confirmation"
                        ng-blur="signUpCtrl.displayCheckboxError()"
                        ng-disabled="$root.isLoading">
                <div class="errors" ng-messages="signUpForm.confirmPassword.$error">
                  <div ng-message="required">This is required.</div>
                  <div ng-message="no-match">Passwords don't match</div>
                  <div ng-message="minlength">Password with at least 8 characters</div>
                  <div ng-message="md-maxlength">Password with maximum 16 characters</div>
                </div>
              </div>
            </form>
            <span class="opt-descriptions">
              By clicking "Get Going Already" below, I have already read, accepted and
              agreed to <a target="_blank" class="md-accent links">Scalefluence user agreement</a>
            </span>
          </md-card-content>
    
          <div layout="row" layout-align="end center" class="actions">
            <button class="btn btn-default"
                        ng-disabled="signUpForm.$invalid || !signUpForm.$dirty || $root.isLoading ||
                        !(signUpCtrl.advertiser || signUpCtrl.publisher)"
                        ng-click="signUpCtrl.submit($event)">
              Get Going Already!
            </button>
          </div>
    
          <span class="opt-descriptions footer">
            Already have an account?
            <a target="" ui-sref="sign-in" class="md-accent links">Sign In</a>
          </span>
        </md-card>
      </div>
    </div>

    <div class="application__footer">
      <div class="footer">&copy;ScaleFluence 2019</div>
    </div>
  </div>