sidenav {
  background-color: $white;

  .md-button:not([disabled]):hover {
    background-color: $dark-menu-selected;
  }
  .md-button:not([disabled]).md-focused {
    background-color: $dark-menu-selected;
  }
}

.mini-toolbar {
  height: 6.4rem;
}

.md-sidenav-left {
  background-color: $white;
  width: $sidenav-width;
}
