<md-sidenav class="md-sidenav-left" md-component-id="left"
  md-is-locked-open="$mdMedia('gt-md')" layout-fill>
  <md-content class="menu-container">
    <md-toolbar class="mini-toolbar" hide-gt-md >
    </md-toolbar>
    <md-content layout="column" class="menu-content">
      <div ng-if="vm.isAdvertiser()"
           ng-include src="'app/components/sidenav/partials/partial_adv.html'">
      </div>

      <div ng-if="vm.isPublisher()"
           ng-include src="'app/components/sidenav/partials/partial_pub.html'">
      </div>
    </md-content>
  </md-content>
</md-sidenav>
