<md-button class="menu-item" aria-label="Menu item" ng-click="vm.clickMenu()" ui-sref="{{ vm.state }}" ui-sref-active="selected">
  <md-icon class="menu-icon">{{ vm.icon }}</md-icon>
  <strong>{{ vm.value }}</strong>
  {{ vm.text }}
  <strong class="right-value" ng-if="vm.valueRight && vm.valueRight > 0">({{ vm.valueRight }})</strong>
</md-button>
