.menu-item {
  margin: 0;
  padding: 1rem;
  text-transform: none;
  color: $black;
  font-size: 1.6em;
  width: $menu-item-width;
  text-align: left;
  background-color: $white;
}

.menu-icon {
  padding-right: 1rem;
  color: $accent;
  vertical-align: middle;
}

.selected {
  background-color: $dark-menu-selected;
  font-weight: bold;
  border-left: .4rem solid $primary;
}

strong.right-value {
  color: $accent;
}
