<div class="content-section">
  <div class="content-section__header">
    <h2 class="content-section__title">Payout History</h2>
    <div class="content-section__small-text text-uppercase">{{ payCtrl.items.length }} payouts</div>
    <div class="content-section__right">
      <div class="datepicker-period">
        <div class="datepickerdiv">
          <div class="datepicker__field">
            <div class="datepicker__input"><input foundation-datepicker initial-date="{{ payCtrl.date_from }}" min-date="{{ payCtrl.minDateFrom }}" max-date="{{ payCtrl.maxDateFrom }}"  ng-model="payCtrl.date_from" ng-change="payCtrl.setChangesToDates()" class="form-control" name="name" type="text" placeholder value="Date from"></div>
            <div class="datepicker__calendar-icon"><svg class="icon icon--calendar">
                <use xlink:href="assets/images/icons.svg#calendar"></use>
              </svg></div>
            <div class="datepicker__chevron-icon"><svg class="icon icon--chevron-down">
                <use xlink:href="assets/images/icons.svg#chevron-down"></use>
              </svg></div>
          </div>
        </div>
        <div class="datepickerdiv">
          <div class="datepicker__field">
            <div class="datepicker__input"><input foundation-datepicker ng-model="payCtrl.date_to" min-date="{{ payCtrl.minDateTo }}" max-date="{{ payCtrl.maxDateTo }}" ng-change="payCtrl.setChangesToDates()" class="form-control" id="datepicker1" name="datepicker1" type="text" placeholder value="Date to"></div>
            <div class="datepicker__calendar-icon"><svg class="icon icon--calendar">
                <use xlink:href="assets/images/icons.svg#calendar"></use>
              </svg></div>
            <div class="datepicker__chevron-icon"><svg class="icon icon--chevron-down">
                <use xlink:href="assets/images/icons.svg#chevron-down"></use>
              </svg></div>
          </div>
        </div>
      </div>
      <button class="btn btn-white btn-small btn-auto" type="button" ng-click="payCtrl.getPayouts(payCtrl.date_from, payCtrl.date_to)"
        ng-disabled="payCtrl.cannotSearch || $root.isLoading">Search</button>
    </div>
  </div>
  <div class="content-section__content">
    <div class="payout-history">
      <ul class="payout-history__statistics">
        <li><span>{{ payCtrl.total_earnings | currency }}</span><small>Total Earnings</small></li>
        <li><span>{{ payCtrl.projected_earnings | currency }}</span><small>Projected Earnings</small></li>
        <li><span>{{ payCtrl.last_month_payouts | currency  }}</span><small>Last Month's payout</small></li>
      </ul>
      <div ng-include src="'app/pages/payouts/partials/details.html'" class="payout-history__content"></div>
    </div>
  </div>
</div>
