.payouts {
  md-card-content {
    padding: 3.2rem 0 0 0;

    h3 {
      margin-left: 1.2rem;
    }
  }

  md-divider {
    margin-top: 1.5rem;
  }

  div.titles-container {
    span {
      font-size: 1.8em;
      font-weight: bold;

      &.highlighted-green {
        color: $dark-green;
      }

      &.highlighted-blue {
        color: $blue-chip;
      }
    }
  }

  .actions-container {
    margin: 2rem 2rem;

    md-datepicker {
      background-color: $white;
      margin-left: 3rem;
    }

    .md-icon-button.md-button {
      margin-left: 2rem;

      &.download {
        width: 6rem;
        height: 6rem;

        md-icon {
          width: 5rem;
          height: 5rem;
        }
      }
    }

    .search-button {
      margin-left: 4rem;
    }
  }

  div.md-no-sticky.md-subheader {
    .md-subheader-inner {
      padding-top: 0;
    }
  }
}

.datepicker {
  width: unset;
}
.datepicker .date-switch {
  font-size: 16px;
  font-weight: 600;
}
.datepicker td.day {
  height: 44px;
  width: 44px;
  font-size: 12px;
  line-height: 44px;
  border: 0;
  border-radius: 3px;
  text-align: center;
  padding: 0;
}
.datepicker td.active.day, .datepicker td.day:hover:not(.new):not(.old) {
  color: $white;
  background: -webkit-gradient( linear, left top, right top, from($grad-from-1), to($grad-to-1) );
  background: linear-gradient(90deg, $grad-from-1 0%, $grad-to-1 100%);
  -webkit-box-shadow: 0 2px 6px 0 rgba(171, 171, 171, 0.5);
  box-shadow: 0 2px 6px 0 rgba(171, 171, 171, 0.5);
}
.datepicker table tr td span {
  text-align: center;
  width: 54px;
}
.datepicker table tr td span.active,
.datepicker table tr td span:hover:not(.new):not(.old) {
  color: $white;
  background: -webkit-gradient( linear, left top, right top, from($grad-from-1), to($grad-to-1) );
  background: linear-gradient(90deg, $grad-from-1 0%, $grad-to-1 100%);
  -webkit-box-shadow: 0 2px 6px 0 rgba(171, 171, 171, 0.5);
  box-shadow: 0 2px 6px 0 rgba(171, 171, 171, 0.5);
}
