<div class="content-section">
  <div class="content-section__header">
    <h2 class="content-section__title">{{vm.headerMessage()}}</h2>
    <div class="content-section__right"><a class="btn btn-white btn-small" ui-sref="show-profile" ng-disabled="$root.isLoading">Back to my account</a></div>
  </div>
  <div class="content-section__content">
    <div class="add-card">
      <form class="add-card__form" name="paymentForm" ng-submit="paymentForm.$valid">
        <div class="add-card__main-data" ng-include="'app/pages/creditCards/partials/billing.html'">
        </div>
        <div class="add-card__info" ng-include="'app/pages/creditCards/partials/creditCardInfo.html'">
        </div>
      </form>
    </div>
  </div>
</div>
