
<menu-item text="Dashboard" icon="home" state="pub-dash"></menu-item>
<menu-item text="Create New Profile" icon="add_box" state="new-profile">
</menu-item>
<menu-item text="Manage Profiles" icon="list" state="all-profiles">
</menu-item>
<menu-item text="Payout History" icon="history" state="payouts">
</menu-item>
<menu-item text="Read our FAQ" state="faq-pub"></menu-item>
<menu-item value-right="{{ $root.counterMessages }}" text="Contact / Help" state="contact-us"></menu-item>
