<menu-item value="{{ $root.cartItems.length }}" text="Item in Cart"
  icon="shopping_cart" state="cart"></menu-item>
<menu-item text="Dashboard" icon="home" state="adv-dash"></menu-item>
<menu-item text="Search" icon="search" state="search"></menu-item>
<menu-item text="Create New Campaign" icon="add_box" state="new-campaign"></menu-item>
<menu-item text="Manage Campaigns" icon="list" state="all-campaigns"></menu-item>
<menu-item value-right="{{ $root.counterQuotes }}" text="Quotes" icon="format_quote" state="quotes-main"> </menu-item>
<menu-item value-right="{{ $root.counterArticles }}" text="Content Pipe" icon="subject" state="done-articles"> </menu-item>
<menu-item text="Read our FAQ" state="faq-adv"></menu-item>
<menu-item value-right="{{ $root.counterMessages }}" text="Contact / Help" state="contact-us"></menu-item>
