<div class="content-section">
  <div class="content-section__header">
    <div class="content-section__back"><a class="btn btn-white btn-small" ui-sref="pub-dash"><svg class="icon icon--chevron">
          <use xlink:href="assets/images/icons.svg#chevron"></use>
        </svg><span>Back</span></a></div>
    <h2 class="content-section__title"></h2>
  </div>
  <div class="content-section__content">
    <div class="active-ads">
      <div class="active-ads__section active-ads__section--submit">
        <h5 class="active-ads__section-title">Active Ads ({{ actAdsCtrl.adsNotSubmitted.length }})
          <span ng-hide="actAdsCtrl.adsNotSubmitted.length === 0"><br />Submit Published Content to Get Paid!</span></h5>
        <div class="active-ads__section-content d-none d-lg-block" ng-hide="actAdsCtrl.adsNotSubmitted.length === 0">
            <md-table-container>
                <table class="table" md-table ng-model="actAdsCtrl.adsNotSubmitted"
                        md-progress="promise">
                  <thead md-head md-order="actAdsCtrl.queryNotSubmitted.order">
                    <tr md-row>
                      <th md-column><a class="btn btn-link" href="javascript:void(0)"><span>Date ordered</span></a></th>
                      <th md-column md-order-by="url.href"><a class="btn btn-link" href="javascript:void(0)"><span>URL</span></a></th>
                      <th md-column md-order-by="url.product_type" md-desc><a class="btn btn-link" href="javascript:void(0)"><span>Product Type</span></a></th>
                      <th md-column><a class="btn btn-link" href="javascript:void(0)"><span>Article Title</span></a></th>
                      <th md-column md-order-by="full_pub_url"><a class="btn btn-link" href="javascript:void(0)"><span>Enter Live Post URL</span></a></th>
                      <th md-column><a class="btn btn-link" href="javascript:void(0)"><span>Submit for Approval</span></a></th>
                    </tr>
                  </thead>
                  <tbody md-body>
                    <tr md-row ng-repeat="order in actAdsCtrl.filteredNotSubmitted = (actAdsCtrl.adsNotSubmitted |
                      filter: actAdsCtrl.queryNotSubmitted.filterNotSubmitted) | orderBy: actAdsCtrl.queryNotSubmitted.order |
                      limitTo: actAdsCtrl.queryNotSubmitted.limit : (actAdsCtrl.queryNotSubmitted.page -1) * actAdsCtrl.queryNotSubmitted.limit"
                      ng-class="{ 'submitted-url': actAdsCtrl.isSubmitted(order) }">
            
                      <td md-cell>{{ order.requested_date | date:'MM-dd-yyyy' }}</td>
            
                      <td md-cell data-ellipsis data-ng-bind="order.url.href | limitTo: 30"
                          data-ellipsis-append="...">
                        <md-tooltip md-direction="bottom">
                          {{ order.url.href }}
                        </md-tooltip>
                      </td>
            
                      <td md-cell data-ellipsis data-ng-bind="order.url.product_type | limitTo: 30 | capitalize"
                          data-ellipsis-append="...">
                        <md-tooltip md-direction="bottom">
                          {{ order.url.product_type | capitalize }}
                        </md-tooltip>
                      </td>
            
                      <td md-cell>
                        {{ order.blog_post_title }}
                      </td>
            
                      <td md-cell ng-click="editComment($event, order)" ng-class="{'md-placeholder': !order.full_pub_url}" ng-disabled="true">
                        {{order.full_pub_url || 'http://MySite.com/new-post'}}
                      </td>
            
                      <td md-cell>
                        <md-button class="md-icon-button" aria-label="description"
                                    ng-class="{ 'md-green': order.full_pub_url && !actAdsCtrl.adRejected(order) }"
                                    ng-if="actAdsCtrl.changeIcon(order) !== 'check_circle'"
                                    ng-click="actAdsCtrl.submitOrNotes(order)">
                          <md-icon ng-show="!actAdsCtrl.adRejected(order)">
                            {{ actAdsCtrl.changeIcon(order) }}
                          </md-icon>
                          <md-icon ng-show="actAdsCtrl.adRejected(order)" class="rejected-warning"
                                    md-svg-src="assets/images/alert.svg">
                          </md-icon>
                          <md-tooltip md-direction="bottom">
                            {{ actAdsCtrl.getIconTooltip(order) }}
                          </md-tooltip>
                        </md-button>
                        <button type="button" ng-if="actAdsCtrl.changeIcon(order) === 'check_circle'" ng-disabled="!order.full_pub_url || actAdsCtrl.adRejected(order)" class="btn btn-white btn-small"
                          ng-click="order.full_pub_url && !actAdsCtrl.adRejected(order) && actAdsCtrl.submitOrNotes(order)">Submit</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </md-table-container>
            
              <md-table-pagination class="arrows-enabled pagination-blue" md-limit="actAdsCtrl.queryNotSubmitted.limit" md-page="actAdsCtrl.queryNotSubmitted.page"
                                    md-total="{{ actAdsCtrl.filteredNotSubmitted.length }}"
                                    md-page-select="true">
              </md-table-pagination>
        </div>
        <div class="active-ads__section-content d-block d-lg-none" ng-hide="actAdsCtrl.adsNotSubmitted.length === 0">
          <table dir-paginate="order in actAdsCtrl.filteredNotSubmitted = (actAdsCtrl.adsNotSubmitted |
          filter: actAdsCtrl.queryNotSubmitted.filterNotSubmitted) | orderBy: actAdsCtrl.queryNotSubmitted.order |
          limitTo: actAdsCtrl.queryNotSubmitted.limit : (actAdsCtrl.queryNotSubmitted.page -1) * actAdsCtrl.queryNotSubmitted.limit | itemsPerPage: 5" pagination-id="mobile-pricing">
            <tr>
              <th>Date ordered</th>
              <td>{{ order.requested_date | date:'MM-dd-yyyy' }}</td>
            </tr>
            <tr>
              <th>URL</th>
              <td>{{ order.url.href }}</td>
            </tr>
            <tr>
              <th>Product Type</th>
              <td>{{ order.url.product_type | capitalize }}</td>
            </tr>
            <tr>
              <th>Article Title</th>
              <td>{{ order.blog_post_title }}</td>
            </tr>
            <tr>
              <th>Enter Live Post URL</th>
              <td><input class="form-control" ng-blur="editCommentBlur($event, order)" name="{{ order.id }}-mobileLiveUrl" type="text" placeholder="http://MySite.com/new-post" ng-value="order.full_pub_url || ''"></td>
            </tr>
            <tr>
              <th>Submit for Approval</th>
              <td>
                <button type="button" ng-if="actAdsCtrl.changeIcon(order) === 'check_circle'" ng-disabled="!order.full_pub_url || actAdsCtrl.adRejected(order)" class="btn btn-white"
                  ng-click="order.full_pub_url && !actAdsCtrl.adRejected(order) && actAdsCtrl.submitOrNotes(order)">Submit</button>
              </td>
            </tr>
          </table>
          <dir-pagination-controls pagination-id="mobile-pricing"></dir-pagination-controls>
        </div>
      </div>
      
      <div class="active-ads__section active-ads__section--approved">
        <div class="active-ads__section-content d-none d-lg-block" ng-hide="actAdsCtrl.activeAds.length === 0">
            <md-table-container>
                <md-toolbar class="md-table-toolbar md-default" ng-hide="actAdsCtrl.search">
                  <div class="md-toolbar-tools">
                    <h6>Approved Ads ({{ actAdsCtrl.activeAds.length }})</h6>
                    <span flex></span>
                    <md-button class="md-icon-button table-icons" ng-click="actAdsCtrl.searchOn()">
                      <md-tooltip md-direction="bottom">
                        Search Ads
                      </md-tooltip>
                      <md-icon md-svg-src="{{ actAdsCtrl.showSearchIcon() }}"></md-icon>
                    </md-button>
                  </div>
                </md-toolbar>
        
                <md-toolbar class="md-table-toolbar md-default" ng-show="actAdsCtrl.search"
                  aria-hidden="false">
                  <div class="md-toolbar-tools query-container" flex layout="row"
                    layout-align="start center">
                    <md-icon flex="5" class="small-search-icon">search</md-icon>
                    <input type="text" ng-model="actAdsCtrl.query.filter" flex="40"
                      placeholder="search" aria-invalid="false" class="query-no-border">
                    <button class="md-icon-button md-button md-ink-ripple" type="button"
                      ng-click="actAdsCtrl.removeFilterAds()" aria-label="close" flex="5">
                      <md-icon class="material-icons">close</md-icon>
                      <div class="md-ripple-container"></div>
                    </button>
                  </div>
                </md-toolbar>
        
                <table class="table" md-table ng-model="actAdsCtrl.urls" md-progress="promise">
                    <thead md-head md-order="actAdsCtrl.query.order">
                      <tr md-row>
                        <th md-column md-order-by="ad.approved_date"><a class="btn btn-link" href="javascript:void(0)"><span>Date Approved</span></a></th>
                        <th md-column md-order-by="profile_name"><a class="btn btn-link" href="javascript:void(0)"><span>Profile Name</span></a></th>
                        <th md-column md-order-by="url.product_type"><a class="btn btn-link" href="javascript:void(0)"><span>Product Type</span></a></th>
                        <th md-column md-order-by="ad.full_pub_url"><a class="btn btn-link" href="javascript:void(0)"><span>Live URL</span></a></th>
                        <th md-column md-order-by="completed_date"><a class="btn btn-link" href="javascript:void(0)"><span>Date Paid</span></a></th>
                        <th md-column md-order-by="url.price" flex="10"><a class="btn btn-link" href="javascript:void(0)"><span>Amount</span></a></th>
                      </tr>
                    </thead>
        
                    <tbody md-body class="data-table-container">
                      <tr md-row ng-repeat="order in actAdsCtrl.filtered = (actAdsCtrl.activeAds | filter: actAdsCtrl.query.filter) |
                        orderBy: actAdsCtrl.query.order |
                        limitTo: actAdsCtrl.query.limit : (actAdsCtrl.query.page -1) * actAdsCtrl.query.limit">
        
                          <td md-cell>{{ order.ad.approved_date | date:'MM-dd-yyyy' }}</td>
        
                          <td md-cell class="truncate-text" data-ellipsis
                              data-ng-bind="order.profile_name | limitTo: 80">
                            <md-tooltip md-direction="bottom">
                              {{ order.profile_name }}
                            </md-tooltip>
                          </td>
        
                          <td md-cell class="truncate-text" data-ellipsis
                              data-ng-bind="order.url.product_type | limitTo: 80 | capitalize">
                            <md-tooltip md-direction="bottom">
                              {{ order.url.product_type }}
                            </md-tooltip>
                          </td>
        
                          <td md-cell class="truncate-text" data-ellipsis
                              data-ng-bind="order.ad.full_pub_url | limitTo: 80">
                            <md-tooltip md-direction="bottom">
                              {{ order.ad.full_pub_url }}
                            </md-tooltip>
                          </td>
        
                          <td md-cell>{{ (order.ad.payout.created_at | date:'MM-dd-yyyy') || "Not paid yet" }}</td>
        
                          <td md-cell>
                            {{ order.url.price | currency:"$":0 }}
                          </td>
                      </tr>
                    </tbody>
                  </table>
                </md-table-container>
        
                <md-table-pagination md-limit="actAdsCtrl.query.limit" md-page="actAdsCtrl.query.page"
                                      md-total="{{ actAdsCtrl.filtered.length }}"
                                      md-page-select="true">
                </md-table-pagination>
        </div>
        <div class="active-ads__section-content d-block d-lg-none">
          <h5 class="active-ads__section-title">Approved Ads ({{ actAdsCtrl.activeAds.length }})</h5>
          <table dir-paginate="order in actAdsCtrl.filtered = (actAdsCtrl.activeAds | filter: actAdsCtrl.query.filter) |
          orderBy: actAdsCtrl.query.order |
          limitTo: actAdsCtrl.query.limit : (actAdsCtrl.query.page -1) * actAdsCtrl.query.limit | itemsPerPage: 5" pagination-id="mobile-approve">
            <tr>
              <th>Date Approved</th>
              <td>{{ order.ad.approved_date | date:'MM-dd-yyyy' }}</td>
            </tr>
            <tr>
              <th>Profile Name</th>
              <td class="truncate-text" data-ellipsis
              data-ng-bind="order.profile_name | limitTo: 80">
              </td>
            </tr>
            <tr>
              <th>Product Type</th>
              <td class="truncate-text" data-ellipsis
              data-ng-bind="order.url.product_type | limitTo: 80 | capitalize"></td>
            </tr>
            <tr>
              <th>Live URL</th>
              <td class="truncate-text" data-ellipsis
              data-ng-bind="order.ad.full_pub_url | limitTo: 80"></td>
            </tr>
            <tr>
              <th>Date Paid</th>
              <td>{{ (order.ad.payout.created_at | date:'MM-dd-yyyy') || "Not paid yet" }}</td>
            </tr>
            <tr>
              <th>Amount</th>
              <td>{{ order.url.price | currency:"$":0 }}</td>
            </tr>
          </table>
          <div class="profiles-list__pagination margin-top-5">
            <dir-pagination-controls pagination-id="mobile-approve"></dir-pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
