<div class="dashboard">
  <div class="dashboard__statistics">
    <div class="common-statistics">
      <div class="common-statistics__content">
        <div class="common-statistics__cell">
          <metric title="Active Ads" badge="{{ $root.badgeActiveAds }}" icon="active-ads"
                ng-disable="$root.badgeActive === 0" ng-click="pubCtrl.showActiveContent()">
            {{ $root.counterActiveAds }}
          </metric>
        </div>
        <div class="common-statistics__cell">
          <metric title="New Orders" badge="{{ $root.badgeNewOrders }}" icon="cart"
            ng-disable="$root.badgeAwaiting === 0" ng-click="pubCtrl.newOrders()">
            {{ $root.counterNewOrders }}
          </metric>
        </div>
        <div class="common-statistics__cell">
          <metric title="Pricing & Pausing" badge="{{ $root.badgePricingAndPausing }}" icon="wallet"
                  ng-disable="$root.badgeApproved === 0" ng-click="pubCtrl.pricingPausing()">
            {{ $root.counterPricingAndPausing }}
          </metric>
        </div>
        <div class="common-statistics__cell">
          <metric title="Re-Submitted Content" badge="{{ $root.badgeReSubmitted }}" icon="resubmit"
                  ng-disable="$root.badgeReused === 0" ng-click="pubCtrl.resubmittedContent()">
            {{ $root.counterReSubmitted }}
          </metric>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard__profiles-list">
    <div class="profiles-list">
      <div class="profiles-list__header">
          <h5 class="profiles-list__title">Profiles</h5>
        <div class="profiles-list__button"><a class="btn btn-white btn-small" ui-sref="new-profile">Create new profile</a></div>
      </div>
      <div class="profiles-list__content">
        <div class="profiles-list__list" ng-repeat="profile in ::pubCtrl.publisher.profiles | limitTo:3"
          ng-if="pubCtrl.publisher.profiles.length > 0">
          <profile-mini profile="profile"></profile-mini>
        </div>
      </div>
      <div ng-if="pubCtrl.publisher.profiles.length > 0" class="profiles-list__header">
        <div class="profiles-list__button"><a class="btn btn-white btn-small" ui-sref="all-profiles">View More Profiles</a></div>
      </div>
    </div>
  </div>
</div>
  
