<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Decline order</h2>
    </div>
  </md-toolbar>

  <md-dialog-content layout="column" layout-padding>
    <p class="reject-content">To Improve Your Experience with us, please select the reason below:</p>
    <form>
      <div>
        <md-radio-group ng-model="rejCtrl.selected">
          <md-radio-button ng-repeat="r in rejCtrl.rejectedReasons" ng-value="r.title" aria-label="{{ r.title }}">
            {{ r.title }}
          </md-radio-button>
        </md-radio-group>

        <md-checkbox class="bigger-checkbox" md-no-ink ng-model="rejCtrl.allowAgency" aria-label="Allow Agency to Rewrite?">
          Allow Rewrite?
        </md-checkbox>
      </div>

      <div>
        <md-input-container class="notes-hint md-block">
          <label>
            Please tell advertiser what needs to be fixed here.
          </label>
          <textarea ng-disabled="!rejCtrl.allowAgency" ng-trim="true" ng-model="rejCtrl.notes" rows="2" md-select-on-focus name="notes" required>
            </textarea>
          <div ng-messages="form.notes.$error" multiple md-auto-hide="false">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
      </div>
    </form>
  </md-dialog-content>

  <md-divider></md-divider>

  <md-dialog-actions layout="row" layout-align="end center">
    <md-button class="md-accent" ng-click="rejCtrl.cancel()" ng-disabled=" $root.isLoading">
      Cancel
    </md-button>
    <md-button class="md-accent" ng-click="rejCtrl.submit()" ng-disabled="form.$invalid || $root.isLoading || rejCtrl.selected.length === 0">
      Save
    </md-button>
  </md-dialog-actions>
</md-dialog>
