<div class="add-card__section add-card__section--row">
  <div class="add-card__section-title">Card Location</div>
  <div class="add-card__section-fields">
    <div class="form-group form-group--radios" ng-init="vm.creditCardOrigin = 'domestic'" ng-model="vm.creditCardOrigin" layout="row" ng-disabled="$root.isLoading">

      <md-radio-group ng-init="vm.creditCardOrigin = 'domestic'" ng-model="vm.creditCardOrigin" layout="row" ng-disabled="$root.isLoading">
        <md-radio-button value="domestic">
          USA
        </md-radio-button>
        <md-radio-button value="international">
          International
        </md-radio-button>
      </md-radio-group>
      
    </div>
  </div>
</div>
<div class="add-card__section">
  <div class="add-card__section-fields">
    <div class="form-group-row">
      <div class="form-group">
          <label class="md-lbl-mask">First name</label>
          <input placeholder="First name" name="firstName" ng-required="true" ng-model="vm.firstName" type="text"
            ng-disabled="$root.isLoading" class="form-control">
          <div class="errors" ng-messages="paymentForm.firstName.$error">
            <div ng-message="required">This is required.</div>
          </div>
      </div>
      <div class="form-group">
          <label class="md-lbl-mask">Last name</label>
          <input class="form-control" placeholder="Last name" name="lastName" ng-required="true" ng-model="vm.lastName" type="text"
            ng-disabled="$root.isLoading">
          <div class="errors" ng-messages="paymentForm.lastName.$error">
            <div ng-message="required">This is required.</div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="add-card__section">
  <div class="add-card__section-title">Address</div>
  <div class="add-card__section-fields">
    <div class="form-group">
        <label class="md-lbl-mask">Billing Address 1</label>
        <input class="form-control" placeholder="Address line 1" name="address" ng-required="true" ng-model="vm.address" type="text"
          ng-disabled="$root.isLoading">
        <div class="errors" ng-messages="paymentForm.address.$error">
          <div ng-message="required">This is required.</div>
        </div>
    </div>
    <div class="form-group">
        <label class="md-lbl-mask">Billing Address 2</label>
        <input class="form-control" placeholder="Address line 2" ng-model="vm.address2" type="text" ng-disabled="$root.isLoading">
    </div>
    <div class="form-group" ng-if="vm.creditCardOrigin === 'international'">
        <label>Country</label>
        <md-select class="form-control" name="country" ng-required="true" ng-model="vm.country"
          ng-disabled="$root.isLoading">
          <md-option ng-repeat="country in vm.countries" ng-value="country.name">{{ country.name }}</md-option>
        </md-select>
        <div ng-messages="paymentForm.country.$error">
          <div ng-message="required">This is required.</div>
        </div>
    </div>
    <div class="form-group-row">
      <div class="form-group">
          <label class="md-lbl-mask">City</label>
          <input class="form-control" placeholder="City" name="city" ng-required="true" ng-model="vm.city" type="text"
            ng-disabled="$root.isLoading">
          <div class="errors" ng-messages="paymentForm.city.$error">
            <div ng-message="required">This is required.</div>
          </div>
      </div>
      <div class="form-group">
          <label class="md-lbl-mask">State</label>
          <input class="form-control" placeholder="State" name="state" ng-required="true" ng-model="vm.state" type="text"
            ng-disabled="$root.isLoading">
          <div class="errors" ng-messages="paymentForm.state.$error">
            <div ng-message="required">This is required.</div>
          </div>
      </div>
      <div class="form-group">
          <label class="md-lbl-mask">Zip code</label>
          <input
            class="form-control" placeholder="Zip code"
            name="zipCode"
            ng-required="true"
            ng-model="vm.zipCode"
            type="text" ng-disabled="$root.isLoading">
          <div class="errors" ng-messages="paymentForm.zipCode.$error">
            <div ng-message="required">This is required.</div>
          </div>
      </div>
    </div>
  </div>
</div>
