<div class="add-card__section">
  <div class="add-card__section-title add-card__section-title--double-margin">Card Information</div>
  <div class="add-card__section-fields">
    <div class="form-group">
        <input id="card-number" ng-model="vm.ccNumber" name="ccNumber" class="form-control"
          ng-required="!vm.edit()" ng-credit-card-type="vm.ccType"
          ng-focus="vm.toggleCreditCardMask()" ng-blur="vm.toggleCreditCardMask()"
          ui-options="{ allowInvalidValue: true, clearOnBlur: false }"
          ui-mask="{{ vm.ccNumberMask }}" ui-mask-placeholder-char="" type="text"
          ng-disabled="$root.isLoading || vm.edit()">
          <div class="errors" ng-messages="paymentForm.ccNumber.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="mask">Enter a valid credit card.</div>
            <div ng-message="invalid">This credit card number is invalid.</div>
          </div>
    </div>
    <div class="form-group-row">
      <div class="form-group">
        <md-input-container>
          <label class="md-lbl-mask">Month</label>
          <md-select class="form-control" name="expDateMonth" ng-model="vm.expDate.month" ng-required="true" ng-disabled="$root.isLoading" ng-change="vm.checkExpirationDate()">
            <md-option id="exp-date-month" ng-value="opt" ng-repeat="opt in vm.months">{{ opt }}</md-option>
          </md-select>
          <div class="errors" ng-messages="paymentForm.expDateMonth.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="past">The card is expired.</div>
          </div>
        </md-input-container>
      </div>
      <div class="form-group">
        <md-input-container>
          <label class="md-lbl-mask">Year</label>
          <md-select class="form-control" name="expDateYear" ng-model="vm.expDate.year" ng-required="true" ng-disabled="$root.isLoading" ng-change="vm.checkExpirationDate()">
            <md-option id="exp-date-year" ng-value="opt" ng-repeat="opt in vm.years">{{ opt }}</md-option>
          </md-select>
          <div ng-messages="paymentForm.expDateYear.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
      </div>
      <div class="form-group form-group--cvv">
          <label class="md-lbl-mask">CVV</label>
          <input id="cvv" name="cvv" class="form-control" ng-required="!vm.edit()" ng-model="vm.cvvNumber" ng-focus="vm.toggleCvvMask()" ng-blur="vm.toggleCvvMask()" ui-mask="{{ vm.cvvMask }}" ui-options="{ allowInvalidValue: true, clearOnBlur: false }"
            ui-mask-placeholder-char="" placeholder="CVV"
              type="text" ng-disabled="$root.isLoading || vm.edit()" >
            <div class="errors" ng-messages="paymentForm.cvv.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="mask">Enter a valid cvv</div>
            </div>
      </div>
      <div class="hint">
        <div class="hint__icon">
          <a href="javascript:void(0)" ng-click="vm.showInfo()" ng-disabled="$root.isLoading">
          <svg class="icon icon--info">
            <use xlink:href="assets/images/icons.svg#info"></use>
          </svg>
          </a>
        </div>
        <div class="hint__text">Lorem ipsum dolor sit amet.</div>
      </div>
    </div>
    <div class="form-group"><button class="btn btn-white btn-small btn-auto" type="submit" ng-disabled="paymentForm.$invalid || $root.isLoading"
      ng-click="vm.submit()">Submit</button></div>
  </div>
</div>
