<div class="content-section">
  <div class="content-section__header">
    <h2 class="content-section__title">Create New Quote</h2>
    <div class="content-section__right">
      <button type="button" class="btn btn-default btn-auto" ng-click="nQuoteCtrl.submit()"
      ng-disabled="nQuoteCtrl.content.categories.length == 0 || nQuoteCtrl.content.campaign == null">Create Quote Now</button>
    </div>
  </div>
  <div class="content-section__content">
    <div class="create-quote">
      <div class="create-quote__content">
        <div class="create-quote__select-campaign">
          <form class="create-quote__select-campaign__form" action="#">
            <div class="form-group">
              <label>Select a campaign</label>
              <md-select class="form-control" aria-label="campaigns" required name="campaign" ng-model="nQuoteCtrl.content.campaign" md-selected-text="nQuoteCtrl.getCampaign()">
                <md-optgroup label="your campaigns">
                  <md-option ng-value="campaign" ng-repeat="campaign in nQuoteCtrl.campaigns">
                    {{ campaign.name }}</md-option>
                </md-optgroup>
              </md-select>
              <div ng-messages="form.campaign.$error" md-auto-hide="false">
                <div ng-message="required">This is required.</div>
              </div>
            </div>
            <div class="form-group d-flex">
              <label>Required article length?<div class="hint">
                  <div class="hint__icon">
                    <svg class="icon icon--info" ng-click="nQuoteCtrl.showAuthorContent()">
                      <use xlink:href="assets/images/icons.svg#info"></use>
                    </svg>
                  </div>
                </div>
              </label>
              <div class="form-check form-check-radio form-check-inline" ng-click="nQuoteCtrl.setAuthorScalefluence()">
                <input class="form-check-input" type="radio" value="scalefluence" ng-model="nQuoteCtrl.contentAuthor">
                <label class="form-check-label"><span>Scalefluence</span></label>
              </div>
              <div class="form-check form-check-radio form-check-inline" ng-click="nQuoteCtrl.setAuthorAgency()">
                <input class="form-check-input" type="radio" value="agency" ng-model="nQuoteCtrl.contentAuthor">
                <label class="form-check-label"><span>Agency</span></label>
              </div>
              <p class="error-message" ng-show="nQuoteCtrl.showAuthorError">
                {{nQuoteCtrl.showAuthorErrorMessage()}}
              </p>
            </div>
          </form>
        </div>
        <div class="create-quote__categories">
          <category-selector placeholder="Add additional categories"
          ng-model="nQuoteCtrl.content.categories"></category-selector>
        </div>
        <div class="create-quote__show-control-btn d-block d-md-none"><a class="btn btn-link" href="#">Hide Categories</a></div>
        <div class="create-quote__authority-parameters">
          <h6 class="create-quote__authority-parameters__title">Authority Parameters<div class="hint">
              <div class="hint__icon">
                <svg ng-click="nQuoteCtrl.showInfo()" class="icon icon--info">
                  <use xlink:href="assets/images/icons.svg#info"></use>
                </svg>
              </div>
              <div class="hint__text">Lorem ipsum dolor sit amet.</div>
            </div>
          </h6>
          <div class="create-quote__authority-parameters__sliders">
            <div class="create-quote__authority-parameters__slider">
              <div class="range-slider">
                <div class="range-slider__title"><span>Domain Authority&nbsp;</span><b>{{ nQuoteCtrl.content.minDA }}-{{ nQuoteCtrl.content.maxDA }}</b></div>
                <div class="da-range-container">
                <rzslider rz-slider-model="nQuoteCtrl.content.minDA"
                    rz-slider-high="nQuoteCtrl.content.maxDA"
                    rz-slider-options="nQuoteCtrl.da_range.options">
                </rzslider>
                </div>
              </div>
            </div>
            <div class="create-quote__authority-parameters__slider">
              <div class="range-slider">
                <div class="range-slider__title"><span>Trust Flow&nbsp;</span><b>{{ nQuoteCtrl.content.minTF }}-{{ nQuoteCtrl.content.maxTF }}</b></div>
                <div class="tf-range-container">
                  <rzslider rz-slider-model="nQuoteCtrl.content.minTF"
                    rz-slider-high="nQuoteCtrl.content.maxTF"
                    rz-slider-options="nQuoteCtrl.tf_range.options">
                  </rzslider>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
