.instructions-dialog {
  width: 50%;

  .content-instructions {
    font-size: 1.6em;

    .instructions-main-words {
      font-weight: bold;
      color: $primary;
    }

    .aligned-row-bullets {
      margin-left: 1.1rem;
    }

    .align-bullets-main {
      margin-right: .6rem;

      &.first {
        margin-left: 1.2rem;
      }

      &.second {
        margin-left: .6rem;
      }

      &.third {
        margin-left: .8rem;
      }
    }
  }

  .rows-container {
    h3 {
      margin-top: 0;
    }
  }
}

.articles-container {
  .report-container {
    table.md-table tbody.md-body > tr.md-row {
      height: 9.5rem;
    }

    table.md-table:not(.md-row-select) {
      & td.md-cell {
        padding: 0 1rem 0 0;

        &:first-child {
          padding: 0 1rem 0 2rem;
        }

        &:nth-child(n+2):nth-last-child(n+2) {
          padding: 0 1rem 0 0;

          &.action {
            padding-left: 3rem;
            text-align: left;
          }

          &.url {
            padding-left: 4rem;
          }

          &.center-cell {
            text-align: center;
          }

          &.cost {
            text-align: right;
            padding: 0 4rem 0 0;
          }

          &.notes {
            text-align: center;
          }
        }

        &:last-child {
          padding: 0 2rem 0 0;
          text-align: center;
        }
      }

      & th.md-column {
        padding: 0 1rem 0 0;

        &:first-child {
          padding: 0 1rem 0 2rem;

          &.date {
            width: 10%;
          }
        }

        &:nth-child(n+2):nth-last-child(n+2) {
          padding: 0 3rem 0 0;

          &.action {
            padding-left: 3rem;
            text-align: left;
            width: 5%;
          }

          &.date {
            width: 10%;
          }

          &.title {
            width: 5%;
          }

          &.cost {
            width: 5%;
          }

          &.url {
            padding-left: 0;

            &.no-padding {
              padding-left: 0;
            }
          }

          &.publisher {
            width: 15%;
          }
        }

        &:last-child {
          padding: 0 2rem 0 0;
          text-align: center;
        }
      }
    }

    .rejected-row {
      background-color: rgba($article-rejected, .5);
    }

    .approved-row {
      background-color: rgba($green-submit, .6);
    }

    .actions {
      cursor: pointer;
      text-decoration: none;

      &.disabled {
        pointer-events: none;
        color: $dark-grey;

        &:hover {
          color: $dark-grey;
        }
      }
    }

    .blue-labels {
      cursor: pointer;
      color: $primary;

      &.disabled {
        color: $dark-grey;
      }
    }

    .instructions-btn {
      margin-top: .5rem;
      font-size: .8em;
      min-width: 75%;
      height: 75%;;
    }
  }

  .xls-icon {
    height: 5rem;
    width: 5rem;
  }

  .zip-container {
    padding: 0;
    padding-left: .5rem;
  }

  table.md-table td.md-cell.md-placeholder {
    color: $dark-placeholder;
    font-style: italic;
  }
}

.admin-notes-dialog {
  .no-spacing {
    padding: 0 .8rem;
    margin-bottom: -1rem;
  }

  .full-content {
    padding-bottom: 1rem;
  }

  .notes-content {
    &.admin {
      color: $black;
    }
    &.author {
      color: $primary;
    }
    &.advertiser {
      color: $accent;
    }
  }
}
