<md-card>
  <form name="form" ng-submit="form.$valid && newSteCtrl.submit()">
    <md-card-content layout="column" layout-gt-xs="row" flex>
      <md-subheader class="md-no-sticky" flex-order-xs="2">
        <h3>Submit a page from your site and start builing links to it today!</h3>
      </md-subheader>
      <span flex></span>
      <md-button ng-show="!newSteCtrl.csv" class="md-raised full-accent" flex-order-xs="1"
                 ng-click="newSteCtrl.showDialog()">Upload Spreadsheet</md-button>
    </md-card-content>

    <md-card-content layout="column">
      <!-- Input for URL -->
      <md-input-container ng-show="!newSteCtrl.csv" class="normal-input" flex>
        <label>Add a new url</label>
        <input ng-required="!newSteCtrl.csv" name="url" ng-model="newSteCtrl.campaignUrl"
               placeholder="http://yourawesomesite.com" url-input>
        <div ng-messages="form.url.$error" md-auto-hide="false">
          <div ng-message="required">This is required.</div>
          <div ng-message="pattern">This doesn't appear to be a valid URL. Please fix to move forward.</div>
        </div>
      </md-input-container>

      <!-- CSV file uploaded -->
      <div layout="row" ng-show="newSteCtrl.csv">
        <md-input-container class="normal-input" flex>
          <label>Uploaded Spreadsheet</label>
          <input name="csv" class="highlighted" disabled ng-model="newSteCtrl.csv.name">
        </md-input-container>
        <md-button class="md-raised full-accent" ng-if="newSteCtrl.csv" ng-click="newSteCtrl.clearCsv()">
          Remove
        </md-button>
      </div>

      <!-- Select for campaign -->
      <md-input-container class="normal-input" flex>
        <label>Add to campaign</label>
        <md-select required name="selectedCampaign" ng-model="newSteCtrl.selectedCampaign" md-selected-text="newSteCtrl.getSelectedCampaign()">
          <md-optgroup label="your campaigns">
            <md-option ng-value="campaign" ng-repeat="campaign in newSteCtrl.campaigns">
              {{ campaign.name }}</md-option>
          </md-optgroup>
        </md-select>
        <div ng-messages="form.selectedCampaign.$error" md-auto-hide="false">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-subheader class="md-no-sticky">
        <h3>Select categories for this campaign</h3>
      </md-subheader>
      <category-selector placeholder="Select your categories..."
        ng-model="newSteCtrl.categories" flex></category-selector>

      <md-button class="md-raised full-accent right" type="submit" ng-disabled="form.$invalid || newSteCtrl.isSelectedCategoriesEmpty() || $root.isLoading">Create</md-button>
    </md-card-content>
  </form>
</md-card>
