.file {
  margin: .5rem .2rem;
  md-input-container.md-block.file-name {
    margin-bottom: 0;

    label {
      font-size: 2em;
    }

    input {
      font-size: 1.6em;
      text-overflow: ellipsis;
    }

    &.smaller-input {
      input {
        width: 27rem;
      }
    }

    @media (min-width: 760px) and (max-width: 830px) {
      input {
        font-size: 1.4em;
      }

      &.smaller-input {
        input {
          width: 20rem;
        }
      }
    }
  }

  .md-icon-button.md-button {
    md-icon {
      color: $primary;
    }
  }

  .word-doc-btn {
    padding: .2rem 1rem;
    height: 2rem;
    margin-left: 0;
  }
}
