<div class="file" layout="row" layout-align="start center">
  <div layout="row" flex layout-align="start center">
    <md-button class="md-raised md-accent" ng-class="{ 'word-doc-btn': vm.smaller }"
      ng-disabled="vm.disable" aria-label="file chooser"
      type="file" ngf-select ng-model="vm.file" name="vm.fileName"
      ngf-accept="vm.fileExt" ngf-max-size="vm.fileMax">
      {{ vm.text }}
    </md-button>
    <md-input-container class="md-block file-name" ng-class="{ 'smaller-input': vm.smallInput }" flex>
      <label>{{ vm.label }}</label>
      <input ng-model="vm.file.name" disabled>
      <md-button class="md-icon-button" ng-disabled="vm.disable" ng-show="vm.file"
        ng-click="vm.clearFile()" aria-label="close">
        <md-icon aria-label="delete">close</md-icon>
      </md-button>
    </md-input-container>
  </div>
</div>
