<div class="user-photo">
  <div ngf-drop ngf-select ng-model="vm.images"
    ngf-allow-dir="true"
    ngf-change="vm.imageChange($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)"
    ngf-multiple="false" accept="image/*" ngf-pattern="'image/*'" ngf-keep="true" ng-disabled="vm.ngDisabled"
    flex layout="row" layout-align="center center">
    <div class="user-photo__image">
      <img ng-if="vm.result" ng-src="{{ vm.result }}" alt>
      <img ng-if="!vm.result && vm.edit && vm.image" ng-src="{{ vm.image }}" alt>
      <svg ng-if="!vm.result && vm.edit && !vm.image" class="icon icon--camera"><use xlink:href="assets/images/icons.svg#camera"></use></svg>
      <svg ng-show="!vm.result && !vm.edit" class="icon icon--camera"><use xlink:href="assets/images/icons.svg#camera"></use></svg>
    </div>
  </div>
</div>

<div hidden>
  <div class="md-dialog-container" id="cropper">
    <md-dialog aria-label="cropper">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Crop your image</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="vm.cancel()">
            <md-icon aria-label="Close dialog">close</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content layout-padding layout="column" layout-gt-sm="row" layout-align="center center">
        <div class="crop-area">
          <img-crop image="vm.imageTemp | ngfDataUrl" result-image="vm.croppedDataUrl"
                    area-type="square" result-image-quality="1.0" result-image-format="image/jpeg">
          </img-crop>
        </div>
        <div layout="column" class="preview-container">
          <h2>Preview</h2>
          <img class="preview" ng-src="{{ vm.croppedDataUrl }}"></img>
        </div>
      </md-dialog-content>

      <md-divider></md-divider>

      <md-dialog-actions layout="row" layout-align="end center">
        <md-button class="md-accent" ng-click="vm.cancel()">
          Cancel
        </md-button>
        <md-button class="md-accent" ng-click="vm.select()">
          Select
        </md-button>
      </md-dialog-actions>

    </md-dialog>
  </div>
</div>
