.square-blue {
  background-color: $primary;
  height: 10rem;
  width: 10rem;
  margin: 0;

  div {
    cursor: pointer;
  }

  md-icon {
    padding: 0;
    margin: 0;
    font-size: 5em;
    color: $white;
    width: 5rem;
    height: 5rem;
  }
}

.preview {
  min-width: 10rem;
  min-height: 10rem;
}

.crop-area {
  width: 50rem;
  height: 35rem;
  // background-color: $light-grey-2;
  padding: 0;
}
.preview-container {
  // padding-bottom: 0;

  .preview {
    min-width: 16rem;
    min-height: 16rem;
  }
}
