<div layout="row">
  <md-subheader class="md-no-sticky">
    <h3>Content pipeline (work in progress...)</h3>
  </md-subheader>
  <span flex></span>
</div>

<md-subheader ng-hide="false" class="md-no-sticky" layout="row" layout-align="center center">
  <h2>No articles to show</h2>
</md-subheader>
