.cart-item {

  .card-value {
    margin-right: 2rem;
    padding-left: 2rem;

    h3 {
      font-size: 1.1em;
      margin: 0;
    }

    p {
      font-size: 1em;
      max-height: 5rem;
      max-width: 45rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    span {
      font-size: 1.2em;
      padding-right: 0;
    }

    &.description-container {
      width: 80%;
    }
  }

  .url-price {
    font-size: 1.1em;
    font-weight: bold;
  }

  .url {
    font-size: 1.1em;
    color: $primary;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding-right: 1.5rem;
    max-width: 30rem;
  }

  .cart-check {
    margin-right: 2rem;
    margin-bottom: 0;
  }

  .title {
    font-size: 1.1em;
    color: $dark-grey;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  .blog-title {
    padding-left: 4rem;
  }

  @media (min-width: 960px) and (max-width: 1400px) {
    .blog-title {
      padding-left: 3.5rem;
    }
  }

  .bold-title {
    color: $dark-grey;
    font-size: 1.1em;
    font-weight: bolder;
    margin-right: .5rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.price {
  font-size: 2em;
}

@media (max-width: 842px) {

  .cart-item {
    .cart-check {
      margin-left: 1.5rem;
    }
  }

  .price {
    padding: 0 3rem 0 2rem;
    margin-right: 1rem;
  }
}

@media (max-width: 599px) {

  .price {
    padding: 0 3rem 0 7rem;
    margin-right: 1rem;
  }
}
