<md-card class="cart-item">
  <md-card-content layout-gt-sm="row" layout="column" layout-padding flex class="card-no-padding">

    <div layout="row" layout-align="start center" flex>
      <md-checkbox ng-checked="vm.exists()" ng-click="vm.toggle()"
        aria-label="check" class="cart-check">
      </md-checkbox>

      <span class="url" flex hide-gt-sm>
        {{ vm.getOrderUrl() }}
      </span>
    </div>

    <!-- Card body -->
    <div layout="row" layout-align="start center" flex="95">
      <div flex layout="row" layout-align="start center" show-gt-sm hide-sm hide-xs>
        <span class="url" flex>
          {{ vm.getOrderUrl() }}
          <md-tooltip md-delay="400" md-direction="bottom" md-autohide="true">
              {{ vm.getOrderUrl() }}
          </md-tooltip>
        </span>
      </div>

      <div flex="10">
        <span class="title" layout="row" layout-align="center center">
          {{ vm.order.ad.campaign.name }}
        </span>
      </div>

      <div class="card-value" layout="column" layout-align="center center" flex="5">
        <span>{{ vm.order.url.domain_authority }}</span>
        <h3>DA</h3>
      </div>

      <div class="card-value" layout="column" layout-align="center center" flex="5">
        <span>{{ vm.order.url.trust_flow }}</span>
        <h3>TF</h3>
      </div>

      <div class="card-value" layout="column" layout-align="center center" flex="5">
        <span>{{ vm.order.url.citation_flow }}</span>
        <h3>CF</h3>
      </div>

      <div class="card-value description-container" layout="column" layout-align="center start" flex>
        <p data-ng-bind="vm.order.url.description" data-ellipsis></p>
      </div>

      <div layout="column" layout-align="end center" flex="15">
        <span class="url-price">{{ vm.order.url.shown_price | currency:undefined:0 }}/post</span>
      </div>
    </div>
  </md-card-content>

  <md-divider></md-divider>

  <div class="md-actions" layout="row" layout-align="space-between">
    <div layout="row" layout-align="start center" class="blog-title">
      <h3 class="bold-title">Blog Title:</h3>
      <span class="title" layout="row" layout-align="center center">
        {{ vm.order.ad.blog_post_title }}
      </span>
    </div>
    <div layout="row" layout-align="end center">
      <p class="error-message"
         ng-show="vm.order.showMessageError">
          Please upload content for this publisher before checking out
      </p>
      <md-button class="btn btn-white btn-small" ng-click="vm.blogPostDialog($event)"
        flex-order-xs="2">{{ vm.getBlogPostStatus() }}
      </md-button>
    </div>
  </div>
</md-card>
