<!-- partial for domain information - search content (SEO) -->
<div class="edit-profile__section" ng-include="'app/pages/profiles/editProfile/partials/domainInformation.html'"></div>

<!-- partial for sponsored web content -->
<div class="edit-profile__section" ng-include="'app/pages/profiles/editProfile/partials/webContent.html'"></div>

<!-- partial for social content -->
<div class="edit-profile__section" ng-include="'app/pages/profiles/editProfile/partials/socialContent.html'"></div>
