<h5 class="edit-profile__title">Domain information - Search Content (SEO)
    <md-button class="md-icon-button info-icons" aria-label="info"
    ng-click="editProfCtrl.showInfo(2)">
    <md-icon md-svg-src="assets/images/help-circle.svg"></md-icon>
  </md-button>
</h5>
<div class="edit-profile__content">
  <md-table-container>
    <table class="table" md-table ng-model="editProfCtrl.urls" md-progress="promise">
      <thead md-head md-order="editProfCtrl.query.order">
        <tr md-row>
          <th md-column md-order-by="href"><a class="btn btn-link" href="javascript:void(0)"><span>Domain URL</span></a></th>
          <th md-column md-order-by="description"><a class="btn btn-link" href="javascript:void(0)"><span>Description</span></a></th>
          <th md-column md-order-by="follow_link"><a class="btn btn-link" href="javascript:void(0)"><span>DoFollow / NoFollow</span></a></th>
          <th md-column md-order-by="domain_authority"><a class="btn btn-link" href="javascript:void(0)"><span>DA</span></a></th>
          <th md-column md-order-by="trust_flow"><a class="btn btn-link" href="javascript:void(0)"><span>TF</span></a></th>
          <th md-column md-order-by="price"><a class="btn btn-link" href="javascript:void(0)"><span>Payout</span></a></th>
          <th md-column><a class="btn btn-link" href="javascript:void(0)"><span>Pause</span></a>
            <div class="hint hint--active hint--bottom">
              <div ng-mouseover="vm.showPauseHint = true" ng-mouseleave="vm.showPauseHint = false" class="hint__icon"><svg class="icon icon--info">
                  <use xlink:href="assets/images/icons.svg#info"></use>
                </svg></div>
              <div ng-show="vm.showPauseHint" class="hint__text">Pausing a URL will deactivate it from getting orders. You can reactivate it anytime.</div>
            </div>
          </th>
          <th md-column><a class="btn btn-link" href="javascript:void(0)"><span>Edit</span></a></th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="url in editProfCtrl.filtered = (editProfCtrl.urls | filter: editProfCtrl.query.filter) |
        orderBy: editProfCtrl.query.order |
        limitTo: editProfCtrl.query.limit : (editProfCtrl.query.page -1) * editProfCtrl.query.limit">
          <td md-cell class="truncate-text" data-ellipsis
              data-ng-bind="url.href | limitTo: 80">
            <md-tooltip md-direction="bottom">
              {{ url.href }}
            </md-tooltip>
          </td>
          <td md-cell class="truncate-text" data-ellipsis
          data-ng-bind="url.description || 'Will be processed as soon as possible' | limitTo: 80">
            <md-tooltip md-direction="bottom">
                {{ url.description || 'Will be processed as soon as possible' }}
            </md-tooltip>
          </td>
          <td md-cell class="follow-cell">
            {{ editProfCtrl.setFollowValue(url) }}
          </td>
          <td md-cell>{{ url.domain_authority }}</td>
          <td md-cell>{{ url.trust_flow }}</td>
          <td md-cell>{{ url.price | currency }}</td>
          <td md-cell>
            <div class="switcher">
              <input ng-id="{{ url.id }}-pause" type="checkbox" ng-checked="editProfCtrl.getPausedStatus(url)"
                ng-disabled="editProfCtrl.nonPausableUrl(url)" aria-label="paused">
              </input>
              <label ng-if="editProfCtrl.nonPausableUrl(url)" ng-for="{{ url.id }}-pause" data-on="ON" data-off="OFF"></label>
              <label ng-if="!editProfCtrl.nonPausableUrl(url)" ng-click="editProfCtrl.pausedStateChanged(url, $index)" ng-for="{{ url.id }}-pause" data-on="ON" data-off="OFF"></label>
            </div>
          </td>

          <td md-cell>
            <md-tooltip class="custom-tooltip" md-direction="bottom">
              {{ editProfCtrl.getPencilTooltip(url.state) }}
            </md-tooltip>
            <md-icon ng-click="editProfCtrl.editDomain($event, url)" ng-class="url.state">
              edit
            </md-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination md-limit="editProfCtrl.query.limit" md-page="editProfCtrl.query.page"
                      md-total="{{ editProfCtrl.filtered.length }}"
                      md-page-select="true">
  </md-table-pagination>
</div>
