<div ng-if="editProfCtrl.hasChanged" class="edit-profile__main-data__buttons">
  <button class="btn btn-default btn-auto" ng-click="editProfCtrl.saveCategories()"
  ng-disabled="!editProfCtrl.categories.length" ng-disabled="$root.isLoading">Save Changes</button>
</div>
<category-selector flex placeholder="Search categories here or click below"
  ng-model="editProfCtrl.categories" on-change="editProfCtrl.categoriesChanged()"
  hide-categories="!showCategories" has-changed="editProfCtrl.hasChanged">
</category-selector>
