<h5 class="edit-profile__title">
  Domain information - Search Content (SEO)
  <md-button class="md-icon-button info-icons" aria-label="info"
    ng-click="editProfCtrl.showInfo(2)">
    <md-icon md-svg-src="assets/images/help-circle.svg"></md-icon>
  </md-button>
</h5>

<md-card class="edit-profile__content" layout="column" layout-gt-sm="row">
  <md-card-content class="content-more-padding" flex>
    <form name="form"
      ng-init="editProfCtrl.url.canEdit = !editProfCtrl.isRejected(editProfCtrl.url.state)">

      <div layout="column" layout-gt-sm="row" layout-align-gt-sm="start center">
        <div class="sposored-blog__input">
          
          <label>URL</label>
          <input class="form-control url-input" url-input required name="url" ng-model="editProfCtrl.url.href"
                  ng-disabled="!editProfCtrl.canEditDomainInfo()" ng-blur="editProfCtrl.checkURL()"
                  placeholder="http://www.awesome.site.com">
          <md-tooltip ng-show="!editProfCtrl.canEditDomainInfo()" md-direction="top">
            {{ editProfCtrl.displayPendingStateText() }}
          </md-tooltip>
          <div class="errors" ng-messages="form.url.$error" multiple md-auto-hide="false">
            <div ng-message="required">This is required.</div>
            <div ng-message="pattern">This doesn't appear to be a valid URL. Please fix to move forward.</div>
          </div>
          
        </div>

        <div class="sposored-blog__input">

          <label>{{ editProfCtrl.pricePlaceholder }}</label>
          <input class="form-control" type="text" ui-money-mask="0" maxlength="9"
            name="searchPrice"
            ng-disabled="!editProfCtrl.canEditDomainInfo()"
            ng-model="editProfCtrl.url.price"
            format="currency" min="1">

          <div class="errors" ng-messages="form.searchPrice.$error" multiple md-auto-hide="false">
            <div ng-message="required">This is required.</div>
            <div ng-message="min">Must be greater than zero</div>
          </div>
          
        </div>
        <div class="pending-state-row" style="margin-top:27px;">
          <md-icon ng-hide="$mdMedia('gt-sm')"
            ng-click="editProfCtrl.showPriceSEO()">
            info
          </md-icon>

          <md-tooltip ng-show="!editProfCtrl.canEditDomainInfo()" md-direction="top">
            {{ editProfCtrl.displayPendingStateText() }}
          </md-tooltip>
          <div class="info-block">
            <md-icon ng-show="editProfCtrl.url.href && $mdMedia('gt-sm')"
                      ng-click="editProfCtrl.showPriceSEO()">
                      info
            </md-icon>
            <md-icon ng-if="!editProfCtrl.url.href && $mdMedia('gt-sm')"
              ng-click="editProfCtrl.showWarningPopup()">
              info
            </md-icon>
          </div>
          <div layout-align="start center" flex class="domain-info-icon-container">
            <md-icon class="state-icon" ng-class="editProfCtrl.url.state" flex="5"
              ng-click="editProfCtrl.showRejectionReasons(editProfCtrl.url)">
              {{ editProfCtrl.changeIcon(editProfCtrl.url.state) }}
              <md-tooltip>
                {{ editProfCtrl.getIconTooltip(editProfCtrl.url.state) }}
              </md-tooltip>
            </md-icon>
          </div>
        </div>
      </div>

      <div class="desc-block">
        <div class="sposored-blog__input md-block" flex="85">
          <label>Description</label>
          <md-tooltip md-direction="top" md-delay="500" ng-show="editProfCtrl.canEditDomainInfo()">
            'Use your meta description or write your own. If you write your own, include friendly KWs. IE >> "Health | Travel | Tech " etc.'
          </md-tooltip>
          <md-tooltip ng-if="!editProfCtrl.canEditDomainInfo()">
            {{ editProfCtrl.displayPendingStateText() }}
          </md-tooltip>
          <textarea class="form-control" ng-trim="true" maxlength="450" ng-model="editProfCtrl.url.description"
            ng-disabled="!editProfCtrl.canEditDomainInfo()" rows="2" md-select-on-focus name="description" required>
          </textarea>
          <div ng-messages="form.description.$error" multiple md-auto-hide="false">
            <div ng-message="required">This is required.</div>
          </div>
        </div>
      </div>

      <!-- actions -->
      <div layout="row" layout-align="end center" ng-if="form.$dirty">
        <md-button class="btn btn-default" ng-click="editProfCtrl.saveSearchContent(form)">
          Save changes
        </md-button>
      </div>
    </form>
  </md-card-content>
</md-card>
