<div class="edit-profile__main-data">
  <div class="edit-profile__main-data__photo">
    <image-selector image="editProfCtrl.profile.image" edit="true" ng-disabled="$root.isLoading"></image-selector>
  </div>
  <form class="edit-profile__main-data__form" name="form">
    <div class="edit-profile__main-data__buttons">
      <button ng-if="editProfCtrl.isBroker() || editProfCtrl.isContributor()" class="btn btn-white btn-auto btn-small" ng-click="editProfCtrl.editDomain($event)">Add New URL</button>
      <button ng-if="editProfCtrl.isBroker() || editProfCtrl.isContributor()" class="btn btn-white btn-auto btn-small hide-on-mobile" ng-click="editProfCtrl.showCsvDialog()">Add Multiple URLs</button>
      <button ng-if="form.$dirty" class="btn btn-default btn-auto" ng-click="editProfCtrl.saveHeaderChanges(form)"
      ng-disabled="$root.isLoading">Save Changes</button>
    </div>
    <div class="edit-profile__main-data__inputs">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" ng-model="editProfCtrl.profile.name" name="name"
                required unique-on="editProfCtrl.profileNames" ng-disabled="$root.isLoading">
        <div ng-messages="form.name.$error" md-auto-hide="false">
          <div ng-message="required">This is required.</div>
          <div ng-message="repeated">This name has already been used.</div>
        </div>
      </div>
      <div class="selected-spreadsheet" layout="row" ng-show="editProfCtrl.csv"
            layout-align="end center" flex>
            <md-icon class="md-accent" ng-if="editProfCtrl.csv"
              ng-click="editProfCtrl.clearCsv()">
              delete
            </md-icon>
            <md-input-container>
              <input name="csv" class="highlighted" disabled ng-model="editProfCtrl.csv.name">
            </md-input-container>
            <md-button class="btn btn-default" ng-if="editProfCtrl.csv"
              ng-click="editProfCtrl.sendFileToAdmin()">
              Submit for approval
            </md-button>
            <span class="error-message errors" ng-show="editProfCtrl.spreadsheetError" flex>
              Remember to send the file to admin.
            </span>
          </div>
      <div ng-if="false" class="form-group"><label>Description</label><textarea class="form-control" rows="3" placeholder="Please describe in detail what you need assistance with. We will reply promptly.">Be colorful. Pitch yourself with easy keywords to be found by our partners. Travel, tech, business, health, entertainment, etc. Words like this are easy to search.</textarea></div>
    </div>
  </form>
</div>
