<md-dialog class="row-container">
  <md-toolbar>
    <div class="md-toolbar-tools" layout="column" layout-align="center start">
      <h2>{{ rowHeader }}</h2>
    </div>
  </md-toolbar>

  <md-dialog-content layout-padding layout="column" layout-align="start start">
    <div>
      <span class="content-format">{{ content }}</span>
      <br>
      <span class="content-format">{{ contentLineTwo }}</span>
    </div>
    <row followers="followers" network="network" header="header"></row>
  </md-dialog-content>

  <md-dialog-actions layout="row" layout-align="end center">
    <md-button class="md-accent" ng-click="close()">Ok, got it!</md-button>
  </md-dialog-actions>
</md-dialog>
