<h5 class="edit-profile__title">
  Sponsored Social Content
  <md-button class="md-icon-button info-icons" aria-label="info"
    ng-click="editProfCtrl.showInfo(4)">
    <md-icon md-svg-src="assets/images/help-circle.svg">
    </md-icon>
  </md-button>
</h5>

<md-card layout="column" layout-gt-sm="row" class="edit-profile__content">
  <md-card-content flex>
    <div layout="column">
      <form name="form">
        <div layout="column" class="social-handles">
          <div flex ng-repeat="sh in editProfCtrl.profile.facebook_handles">
            <ng-form name="form.fbForm[{{$index}}]" ng-init="sh.canEdit = !editProfCtrl.isRejected(sh.state)">
              <div class="sponsored-social__row">
                <div class="sponsored-social__icon"><img src="assets/images/facebook.svg" alt></div>
                <div class="sponsored-social__name">
                  <h6>Facebook</h6>
                  <span>
                    <md-icon class="info-icons" ng-hide="!sh.url || $mdMedia('gt-sm')"
                      ng-click="editProfCtrl.showPriceGa('facebook', sh, true)"
                      ng-disabled="$root.isLoading">
                      info
                    </md-icon>
                    <md-icon ng-hide="sh.url || $mdMedia('gt-sm')"
                      ng-click="editProfCtrl.showWarningPopup()">
                      info
                    </md-icon>
                    <md-icon ng-show="sh.url && $mdMedia('gt-sm')" ng-click="editProfCtrl.showPriceGa('facebook', sh, true)"
                            ng-disabled="$root.isLoading">
                            info
                    </md-icon>
                    <md-icon ng-if="!sh.url && $mdMedia('gt-sm')"
                      ng-click="editProfCtrl.showWarningPopup()">
                      info
                    </md-icon>
                  </span>
                </div>
                <div class="sponsored-social__input">
                  <input ui-money-mask="0" maxlength="9" ng-disabled="!sh.url"
                  name="price" ng-required="sh.url" ng-model="sh.price"
                  format="currency" min="1" class="form-control" type="text" placeholder="Your price per post (USD)">
                  <div class="errors" ng-messages="form.fbForm[$index].price.$error" multiple md-auto-hide="false">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="min">Must be greater than zero</div>
                  </div>
                </div>
                <div class="sponsored-social__button"><button ng-click="editProfCtrl.handleFacebookAuthentication($event, sh, 'facebook')" class="btn btn-white btn-small" type="button">Connect</button></div>
              </div>
            </ng-form>
          </div>
          <div flex ng-repeat="sh in editProfCtrl.profile.instagram_handles">
            <ng-form name="form.inForm[{{$index}}]" ng-init="sh.canEdit = !editProfCtrl.isRejected(sh.state)">
              <div class="sponsored-social__row">
                <div class="sponsored-social__icon"><img src="assets/images/instagram.svg" alt></div>
                <div class="sponsored-social__name">
                  <h6>Instagram</h6>
                  <span>
                    <md-icon class="info-icons" ng-hide="!sh.url || $mdMedia('gt-sm')"
                      ng-click="editProfCtrl.showPriceGa('instagram', sh, true)"
                      ng-disabled="$root.isLoading">
                      info
                    </md-icon>
                    <md-icon ng-hide="sh.url || $mdMedia('gt-sm')"
                      ng-click="editProfCtrl.showWarningPopup()">
                      info
                    </md-icon>
                    <md-icon ng-show="sh.url && $mdMedia('gt-sm')" ng-click="editProfCtrl.showPriceGa('instagram', sh, true)">
                      info
                    </md-icon>
                    <md-icon ng-if="!sh.url && $mdMedia('gt-sm')"
                        ng-click="editProfCtrl.showWarningPopup()">
                        info
                    </md-icon>
                  </span>
                </div>
                <div class="sponsored-social__input">
                  <input ui-money-mask="0" maxlength="9" name="price" ng-disabled="!sh.url"
                  ng-required="sh.url" ng-model="sh.price" format="currency" min="1" class="form-control" type="text" placeholder="Your price per post (USD)">
                  <div class="errors" ng-messages="form.inForm[$index].price.$error" multiple md-auto-hide="false">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="min">Must be greater than zero</div>
                  </div>
                </div>
                <div class="sponsored-social__button"><button ng-click="editProfCtrl.handleFacebookAuthentication($event, sh, 'instagram')" class="btn btn-white btn-small" type="button">Connect</button></div>
              </div>
            </ng-form>
          </div>
          <div flex ng-repeat="sh in editProfCtrl.profile.youtube_handles">
            <ng-form name="form.ytForm[{{$index}}]" ng-init="sh.canEdit = !editProfCtrl.isRejected(sh.state)">
              <div class="sponsored-social__row">
                <div class="sponsored-social__icon"><img src="assets/images/youtube.svg" alt></div>
                <div class="sponsored-social__name">
                  <h6>Youtube</h6>
                  <span>
                    <md-icon class="info-icons" ng-hide="!sh.url || $mdMedia('gt-sm')"
                      ng-click="editProfCtrl.showPriceGa('youtube', sh, true)"
                      ng-disabled="$root.isLoading">
                      info
                    </md-icon>
                    <md-icon ng-hide="sh.url || $mdMedia('gt-sm')"
                      ng-click="editProfCtrl.showWarningPopup()">
                      info
                    </md-icon>
                    <md-icon ng-show="sh.url && $mdMedia('gt-sm')"
                              ng-click="editProfCtrl.showPriceGa('youtube', sh, true)">
                              info
                    </md-icon>
                    <md-icon ng-if="!sh.url && $mdMedia('gt-sm')"
                      ng-click="editProfCtrl.showWarningPopup()">
                      info
                    </md-icon>
                  </span>
                </div>
                <div class="sponsored-social__input">
                  <input ng-disabled="!sh.url"
                  ui-money-mask="0" maxlength="9" name="price" ng-required="sh.url" ng-model="sh.price" format="currency" min="1" class="form-control" type="text" placeholder="Your price per post (USD)">
                  <div class="errors" ng-messages="form.ytForm[$index].price.$error" multiple md-auto-hide="false">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="min">Must be greater than zero</div>
                  </div>
                </div>
                <div class="sponsored-social__button"><button ng-click="editProfCtrl.authorize($event, true, sh)" class="btn btn-white btn-small" type="button">Connect</button></div>
              </div>
            </ng-form>
          </div>
          <div flex ng-repeat="sh in editProfCtrl.profile.twitter_handles">
            <ng-form name="form.twForm[{{$index}}]" ng-init="sh.canEdit = !editProfCtrl.isRejected(sh.state)">
              <div class="sponsored-social__row sponsored-social__row--disconnect">
                <div class="sponsored-social__icon"><img src="assets/images/twitter.svg" alt></div>
                <div class="sponsored-social__name">
                  <h6>Twitter</h6>
                  <span>
                    <md-icon class="info-icons" ng-hide="!sh.url || $mdMedia('gt-sm')"
                      ng-click="editProfCtrl.showPriceGa('twitter', sh, true)"
                      ng-disabled="$root.isLoading">
                      info
                    </md-icon>
                    <md-icon ng-hide="sh.url || $mdMedia('gt-sm')"
                      ng-click="editProfCtrl.showWarningPopup()">
                      info
                    </md-icon>
                    <md-icon ng-show="sh.url && $mdMedia('gt-sm')" ng-click="editProfCtrl.showPriceGa('twitter', sh, true)"
                              ng-disabled="$root.isLoading">
                              info
                    </md-icon>
                    <md-icon ng-if="!sh.url && $mdMedia('gt-sm')"
                      ng-click="editProfCtrl.showWarningPopup()">
                      info
                    </md-icon>
                  </span>
                </div>
                <div class="sponsored-social__input">
                  <input ui-money-mask="0" maxlength="9" name="price" ng-disabled="!sh.url"
                  ng-required="sh.url" ng-model="sh.price" format="currency" min="1" class="form-control" type="text" placeholder="Your price per post (USD)">
                  <div class="errors" ng-messages="form.twForm[$index].price.$error" multiple md-auto-hide="false">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="min">Must be greater than zero</div>
                  </div>
                </div>
                <div class="sponsored-social__button"><button ng-click="editProfCtrl.authenticateTwitter($event, sh)" class="btn btn-white btn-small" type="button">Connect</button></div>
              </div>
            </ng-form>
          </div>
        </div>
        <!-- actions -->
        <div layout="row" layout-align="end center" ng-if="form.$dirty">
          <md-button class="btn btn-default btn-auto" ng-disabled="$root.isLoading || form.$invalid"
                     ng-click="editProfCtrl.saveSocialContent(form)">Save changes</md-button>
        </div>
      </form>
    </div>
  </md-card-content>
</md-card>
