<h5 class="edit-profile__title">
  Sponsored Web Content
  <md-button class="md-icon-button info-icons" aria-label="info"
    ng-click="editProfCtrl.showInfo(3)">
    <md-icon md-svg-src="assets/images/help-circle.svg">
    </md-icon>
  </md-button>
</h5>

<md-card class="edit-profile__content">
  <md-card-content class="content-more-padding">
    <form name="form"
      ng-init="editProfCtrl.profile.web_content.canEdit = !editProfCtrl.isRejected(editProfCtrl.profile.web_content.state)">
      <div layout="column" layout-gt-sm="row" layout-align-gt-sm="start center">
        <div class="sposored-blog__input">
          
            <md-tooltip ng-if="!editProfCtrl.canEditSponsoredWeb()">
              {{ editProfCtrl.displayPendingStateText() }}
            </md-tooltip>
            <label>Google Analytics Url</label>
            <input class="form-control" url-input ng-required="editProfCtrl.profile.web_content.price"
                   name="url" ng-model="editProfCtrl.profile.web_content.href"
                   ng-blur="editProfCtrl.checkGAMinValues()"
                   ng-disabled="!editProfCtrl.canEditSponsoredWeb() || $root.isLoading"
                   placeholder="http://www.google.analytics.com/user-name">
            <div class="errors" ng-messages="form.url.$error" multiple md-auto-hide="false">
              <div ng-message="required">This is required.</div>
              <div ng-message="pattern">This doesn't appear to be a valid URL. Please fix to move forward.</div>
            </div>
          
        </div>

        <div class="sposored-blog__input">
          
            
            <label>{{ editProfCtrl.getPricingLabelGA('GA') }}</label>
            <input class="form-control" type="text" ng-required="editProfCtrl.profile.web_content.href"
                   name="gaPrice" ng-model="editProfCtrl.profile.web_content.price"
                   maxlength="9" format="currency" min="1" ui-money-mask="0"
                   ng-disabled="!editProfCtrl.canEditSponsoredWeb() || $root.isLoading">

            

            <div class="errors" ng-messages="form.gaPrice.$error" multiple md-auto-hide="false">
              <div ng-message="required">This is required.</div>
              <div ng-message="min">Must be greater than zero</div>
            </div>
          
          
        </div>
        <div class="pending-state-block">
            <md-icon class="info-icons" ng-hide="$mdMedia('gt-sm')" ng-click="editProfCtrl.showPriceGa('GA', '' , true)">
                info
              </md-icon>
              <md-tooltip ng-if="!editProfCtrl.canEditSponsoredWeb()">
                {{ editProfCtrl.displayPendingStateText() }}
              </md-tooltip>
            <div layout="row" class="info-block">
                <md-icon ng-show="editProfCtrl.profile.web_content.href && $mdMedia('gt-sm')"
                         ng-click="editProfCtrl.showPriceGa('GA', '' , true)">
                         info
                </md-icon>
                <md-icon ng-if="!editProfCtrl.profile.web_content.href && $mdMedia('gt-sm')"
                  ng-click="editProfCtrl.showWarningPopup()">
                  info
                </md-icon>
              </div>
            <div class="state-icon-container info-block">
                <md-icon ng-if="editProfCtrl.profile.web_content.state" class="state-icon"
                  ng-class="editProfCtrl.profile.web_content.state"
                  ng-click="editProfCtrl.showRejectionReasons(editProfCtrl.profile.web_content)">
                  <md-tooltip>
                      {{ editProfCtrl.getIconTooltip(editProfCtrl.profile.web_content.state) }}
                  </md-tooltip>
                  {{ editProfCtrl.changeIcon(editProfCtrl.profile.web_content.state) }}
                </md-icon>
              </div>
        </div>
      </div>

      <!-- actions -->
      <div layout="row" class="edit-prof-save" layout-align="end center" ng-if="form.$dirty">
        <md-button class="btn btn-default btn-small btn-auto" ng-disabled="$root.isLoading || form.$invalid"
                   ng-click="editProfCtrl.saveWebContent(form)">
          Save changes
        </md-button>
      </div>
    </form>
  </md-card-content>
</md-card>
