<div class="quotes-for">
<div layout="row">
  <md-subheader class="md-no-sticky">
    <h2>Manage quotes</h2>
  </md-subheader>
</div>

<md-card>
  <div layout="row" layout-align="space-between" layout-padding>
    <div layout="row" layout-padding layout-align="start center">
      <div class="content-section__back">
        <a class="btn btn-white" ui-sref="quotes-main"><svg class="icon icon--chevron">
        <use xlink:href="assets/images/icons.svg#chevron"></use>
        </svg><span>Back</span></a>
      </div>
      <!-- <md-button class="md-fab md-mini md-primary" aria-label="back" ui-sref="quotes-main">
        <md-tooltip md-delay="400" md-direction="right" md-autohide="true">
          Back to Quote List View
        </md-tooltip>
        <md-icon class="arrow-back">arrow_back</md-icon>
      </md-button> -->
      <md-divider class="quotes-divider"></md-divider>
      <h2 class="campaign-name">Campaign: {{ quoteForCtrl.quote.campaign.name }}</h2>
      <span></span>
      <md-button class="btn btn-white btn-small"
                 ng-click="quoteForCtrl.downloadReport()"
                 aria-label="download">Download</md-button>
      <md-button class="btn btn-white btn-small"
                 ng-disabled="!quoteForCtrl.downloaded" ng-click="quoteForCtrl.upload(quoteForCtrl.quote.campaign.name)"
                 aria-label="upload">Upload</md-button>
    </div>

    <div>
      <button class="btn btn-default btn-small" ng-click="quoteForCtrl.submit()"
        ng-disabled="$root.isLoading || quoteForCtrl.cannotSubmit()"
        aria-label="SubmitToAuthors">{{ quoteForCtrl.buttonText }}</button>
    </div>
  </div>

  <div class="accordion">
    <div dir-paginate="url in quoteForCtrl.quote.urls | itemsPerPage: quoteForCtrl.perPage">
      <md-expansion-panel md-component-id="expansionPanelOne" class="selectable-box" ng-disabled="quoteForCtrl.quote.agency_content" ng-show="quoteForCtrl.urlNotPaused(url)">
        <md-expansion-panel-collapsed flex disable="true"
          ng-class="{'green-background': quoteForCtrl.setGreenBackground(url)}">
          <div layout="column" flex layout-align="start strech">
            <div layout-gt-md="row" layout-align="start center" flex>
              <div layout="row" layout-align="start center" flex="45">
                <md-checkbox name="string" ng-checked="url.checked"
                    ng-click="url.checked = !url.checked; quoteForCtrl.toggle(url)"
                    aria-label="string">
                </md-checkbox>
                <div layout="column">
                  <span class="title">Publisher</span>
                  <span>{{ url.href }}</span>
                  <span ng-if="false && url.showMessage" class="error-message">
                    Fill out the order before submitting
                  </span>
                </div>
              </div>
              <div class="headers" ng-class="{'centered-headers': quoteForCtrl.$mdMedia('gt-xs')}"
                   layout="row" layout-align="space-between center" flex>
                <div layout="column">
                  <md-tooltip>
                    Domain Authority
                  </md-tooltip>
                  <span class="title">DA</span>
                  <span>{{ url.domain_authority }}</span>
                </div>
                <div layout="column">
                  <md-tooltip>
                    Trust Flow
                  </md-tooltip>
                  <span class="title">TF</span>
                  <span>{{ url.trust_flow }}</span>
                </div>
                <div layout="column">
                  <md-tooltip>
                    Citation Flow
                  </md-tooltip>
                  <span class="title">CF</span>
                  <span>{{ url.citation_flow }}</span>
                </div>
                <div layout="column">
                  <span class="price">
                    {{ url.shown_price | currency:"$":0 }}</span>
                </div>
              </div>
            </div>
          </div>
          <md-expansion-panel-icon ng-hide="quoteForCtrl.quote.agency_content"></md-expansion-panel-icon>
        </md-expansion-panel-collapsed>
        <md-expansion-panel-expanded>
          <md-expansion-panel-header ng-class="{'green-background': quoteForCtrl.setGreenBackground(url)}"
            md-no-sticky ng-click="$panel.collapse()">
            <div layout-gt-md="row" layout-padding layout-align="start center" flex>
              <div layout="row" layout-align="start center" flex="45">
                <md-checkbox name="string" ng-checked="url.checked"
                    ng-click="url.checked = !url.checked; quoteForCtrl.toggle(url)"
                    aria-label="string">
                </md-checkbox>
                <div layout="column">
                  <span class="title">Publisher</span>
                  <span>{{ url.href }}</span>
                </div>
              </div>
              <div class="headers" ng-class="{'centered-headers': quoteForCtrl.$mdMedia('gt-xs')}"
                   layout="row" layout-align="space-between center" flex>
                <div layout="column">
                  <md-tooltip>
                    Domain Authority
                  </md-tooltip>
                  <span class="title">DA</span>
                  <span>{{ url.domain_authority }}</span>
                </div>
                <div layout="column">
                  <md-tooltip>
                    Trust Flow
                  </md-tooltip>
                  <span class="title">TF</span>
                  <span>{{ url.trust_flow }}</span>
                </div>
                <div layout="column">
                  <md-tooltip>
                    Citation Flow
                  </md-tooltip>
                  <span class="title">CF</span>
                  <span>{{ url.citation_flow }}</span>
                </div>
                <div layout="column">
                  <span class="title">Site Age</span>
                  <span>{{ url.domain_age }}</span>
                </div>
                <div layout="column">
                  <span class="title">Alexa rank</span>
                  <span>{{ url.alexa_rank }}</span>
                </div>
                <div layout="column">
                  <span class="price">$
                    {{ url.shown_price }}</span>
                </div>
              </div>
            </div>
            <md-expansion-panel-icon ng-click="$panel.collapse()" ng-hide="quoteForCtrl.quote.agency_content"></md-expansion-panel-icon>
          </md-expansion-panel-header>

          <md-expansion-panel-content>
            <div layout="column" flex="95" class="quote-sub-form">
              <span class="text-info"> Please fill the information for your article </span>

              <form name="form" flex>
                <div layout="column" layout-gt-sm="row" layout-align-gt-sm="center center">
                  <!-- <md-input-container class="md-block" flex> -->
                  <div class="form-group" flex>
                    <input name="domainUrl" class="form-control" type="text" ng-model="url.quote.blog_post_title"
                      placeholder="Blog Topic / Title (not required)" no-double-quotes>
                  </div>
                  <!-- </md-input-container> -->
                  <span class="input-separation" ng-if="quoteForCtrl.$mdMedia('gt-sm')"></span>
                  <!-- <md-input-container class="md-block" flex> -->
                  <div class="form-group" flex>
                    <input class="form-control" url-input required name="url" ng-model="url.quote.href"
                      placeholder="Target URL" no-double-quotes>
                    <div class="errors" ng-messages="form.url.$error" multiple md-auto-hide="false">
                      <div ng-message="required">This is required.</div>
                      <div ng-message="pattern">This doesn't appear to be a valid URL. Please fix to move forward.</div>
                    </div>
                  </div>
                  <!-- </md-input-container> -->
                </div>

                <div layout="column" layout-gt-sm="row" layout-align-gt-sm="center center">
                  <!-- <md-input-container class="md-block" flex> -->
                  <div class="form-group" flex>
                    <md-tooltip md-direction="top" md-delay="300">
                      You can type out a specific anchor or use words like "relevant phrase" or "natural"
                    </md-tooltip>
                    <input class="form-control" name="linkText" ng-model="url.quote.link_text"
                      placeholder="Anchor (specific anchor or use words like 'relevant phrase' or 'natural')" type="text" required no-double-quotes>
                    <div class="errors" ng-messages="form.linkText.$error" md-auto-hide="false">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </div>
                  <!-- </md-input-container> -->
                  <span class="input-separation" ng-if="quoteForCtrl.$mdMedia('gt-sm')"></span>
                  <!-- <md-input-container class="md-block" flex> -->
                  <div class="form-group" flex>
                    <md-tooltip md-direction="top" md-delay="300">
                      Notes <i>(i.e. > get "Atlanta near the anchor" or "leave space for CEO quote")</i>
                    </md-tooltip>
                    <input class="form-control" name="notes" type="text" ng-model="url.quote.notes" no-double-quotes placeholder="Notes (i.e. > get 'Atlanta near the anchor' or 'leave space for CEO quote')">
                  </div>
                  </md-input-container>
                </div>
              </form>
              <div layout="row" layout-gt-sm="row" layout-align-gt-sm="end center">
                <button ng-disabled="!form.$valid" class="btn btn-orange"
                 ng-click="$panel.collapse(); quoteForCtrl.prepareForSubmit(url)">DONE</button>
              </div>
            </div>
          </md-expansion-panel-content>
        </md-expansion-panel-expanded>
      </md-expansion-panel>
    </div>
  </div>
</md-card>

<dir-pagination-controls max-size="6" on-page-change="quoteForCtrl.goTop()"></dir-pagination-controls>
</div>
