<div layout="row" layout-align="space-between start">
  <div layout="column">
    <md-subheader class="md-no-sticky">
      <h2>New Orders</h2>
    </md-subheader>
  </div>
</div>

<div class="edit-profile__content" ng-hide="newOrdersCtrl.newOrders.length === 0">
  <md-table-container>
    <table class="table" md-table ng-model="newOrdersCtrl.newOrders"
           md-progress="promise">
      <thead md-head md-order="newOrdersCtrl.query.order">
        <tr md-row>
          <th md-column md-order-by="requested_date"><a class="btn btn-link" href="javascript:void(0)"><span>Date ordered</span></a></th>
          <th md-column><a class="btn btn-link" href="javascript:void(0)"><span>Time Left to Approve</span></a></th>
          <th md-column md-order-by="url.href"><a class="btn btn-link" href="javascript:void(0)"><span>URL</span></a></th>
          <th md-column md-order-by="url.product_type" md-desc><a class="btn btn-link" href="javascript:void(0)"><span>Product Type</span></a></th>
          <th md-column md-order-by="url.price"><a class="btn btn-link" href="javascript:void(0)"><span>Payout</span></a></th>
          <th md-column><a class="btn btn-link" href="javascript:void(0)"><span>Get Content</span></a></th>
          <th md-column><a class="btn btn-link" href="javascript:void(0)"><span>Approve</span></a></th>
          <th md-column><a class="btn btn-link" href="javascript:void(0)"><span>Decline</span></a></th>
        </tr>
      </thead>
      <tbody md-body flex>
        <tr md-row ng-class="{ 'submitted-url': newOrdersCtrl.isRejected(order) }"
        ng-repeat="order in newOrdersCtrl.filtered = (newOrdersCtrl.newOrders | filter: newOrdersCtrl.query.filter) | orderBy: newOrdersCtrl.query.order
        | limitTo: newOrdersCtrl.query.limit : (newOrdersCtrl.query.page -1) * newOrdersCtrl.query.limit">

          <td md-cell>{{ order.requested_date | date:'MM-dd-yyyy' }}</td>

          <td md-cell><remaining-time started-at="order.requested_date"></remaining-time></td>

          <td md-cell data-ellipsis data-ng-bind="order.url.href | limitTo: 30"
              data-ellipsis-append="...">
            <md-tooltip md-direction="bottom">
              {{ order.url.href }}
            </md-tooltip>
          </td>

          <td md-cell data-ellipsis data-ng-bind="order.url.product_type | limitTo: 30 | capitalize"
              data-ellipsis-append="...">
            <md-tooltip md-direction="bottom">
              {{ order.profile.product_type }}
            </md-tooltip>
          </td>

          <td md-cell class="price">
            {{ order.url.price | currency:"$":0 }}
          </td>

          <td md-cell class="action">
            <a href="javascript:void(0)" class="btn btn-download" aria-label="description"
            ng-href="{{order.word.url}}" target="_blank"
            ng-show="order.word"
            ng-click="newOrdersCtrl.downloadContent($event, order)">
              <svg class="icon icon--download">
              <use xlink:href="assets/images/icons.svg#download"></use>
            </svg></a>
            <a href="javascript:void(0)" class="btn btn-download" aria-label="description"
            ng-show="order.blog_post_body"
            ng-click="newOrdersCtrl.downloadContent($event, order)">
              <svg class="icon icon--download">
              <use xlink:href="assets/images/icons.svg#download"></use>
            </svg></a>

          </td>

          <td md-cell>
            <a class="actions" ng-click="newOrdersCtrl.approve(order)"
              ng-class="{ 'disabled': newOrdersCtrl.isRejected(order), 'md-primary': !newOrdersCtrl.isRejected(order) }">
              Approve
            </a>
          </td>

          <td md-cell>
            <a class="actions" ng-click="newOrdersCtrl.decline(order)"
              ng-class="{ 'disabled': newOrdersCtrl.isRejected(order), 'md-primary': !newOrdersCtrl.isRejected(order) }">
              Decline
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>

  <md-table-pagination md-limit="newOrdersCtrl.query.limit" md-page="newOrdersCtrl.query.page"
                       md-total="{{ newOrdersCtrl.filtered.length }}"
                       md-page-select="true">
  </md-table-pagination>
</div>

<md-subheader ng-hide="newOrdersCtrl.newOrders.length > 0" class="md-no-sticky no-items"
              layout="row" layout-align="center center">
  <h2 class="no-items">No content to display</h2>
</md-subheader>
