<div ng-if="profCtrl.isAdvertiser()" ng-include="'app/pages/user/profile/partials/advProfile.html'" class="content-section"></div>
<div ng-if="!profCtrl.isAdvertiser()" ng-include="'app/pages/user/profile/partials/pubProfile.html'" class="content-section"></div>
