<div class="account__card">
  <div class="account__card-header" ng-repeat="card in vm.cards">
    <div class="account__card-data"><img ng-src="{{ card.image_url }}" alt><span>{{ card.masked_number }}</span></div>
    <div class="account__card-actions">
      <button class="btn" type="button" ng-click="vm.editCC(card.id)">
        <svg class="icon icon--edit">
          <use xlink:href="assets/images/icons.svg#edit"></use>
        </svg>
      </button>
      <button class="btn" type="button" ng-click="vm.removeCC(card.id)"><svg class="icon icon--trash">
          <use xlink:href="assets/images/icons.svg#trash"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="account__card-new"><a class="btn btn-white btn-small" href="javascript:void(0)" ng-click="vm.addNewCC()">Add new credit card</a></div>
</div>
