md-card.filter {
  max-width: 25rem;
  background-color: $category-background;
  margin: .1rem;

  .title {
    color: $dark-grey;
    font-size: 1.6em;
    font-weight: bold;
    margin: 0;
    padding-bottom: 0;
  }

  .no-padding-top {
    padding-top: 0;
  }
  
  span.subtitle {
    font-size: 1.4em;
    font-weight: bold;
    color: $dark-grey;
  }
}
