<div class="search__options-slider">
  <div class="range-slider-simple">
    <h6 class="range-slider-simple__title">{{ vm. title }}</h6>
    <div class="range-slider-simple__scale">
      <rzslider rz-slider-model="vm.config.min" rz-slider-high="vm.config.max"
              rz-slider-options="vm.config.options"></rzslider>
      <ul class="range-slider-simple__scale__labels">
        <li>{{ vm.minText }} {{ vm.prefix }} {{ vm.config.min }}</li>
        <li>{{ vm.maxText }} {{ vm.prefix }} {{ vm.config.max }} {{ vm.suffix }}</li>
      </ul>
    </div>
  </div>
</div>
