md-dialog.file-content {
  min-width: 30%;

  strong {
    font-size: 1.6em;
  }
}

.white {
  color: $white;
}

md-input-container label.big-size {
  font-size: 1.6em;
}

div.margin-left {
  margin-left: 1rem;
}
