<form name="uploadForm">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="white">{{ vm.title }}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content layout-padding>
    <div layout-padding>
      <strong>Leave rows blank if you don't want to order with those bloggers.</strong>
      <br>
      <br>
      <strong>Email admin@scalefluence.com if you are having issues.</strong>
    </div>

    <div layout="row" class="margin-left">
      <md-input-container class="md-block" flex>
        <label class="big-size">{{ vm.getInputLabel() }}</label>
        <input ng-model="vm.file.name" ng-required="true" disabled>
      </md-input-container>
      <div layout="column" layout-align="center center">
        <md-button class="md-raised md-mini" aria-label="upload"
                   type="file" ngf-select ng-model="vm.file" name="vm.fileName"
                   ngf-accept="vm.fileExt" ngf-max-size="vm.fileMax">Search</md-button>
      </div>
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row" layout-align="end center">
    <md-button class="md-raised md-warn" ng-click="vm.submit()" ng-disabled="uploadForm.$invalid">
      Submit file
    </md-button>
  </md-dialog-actions>
</form>
