<category-selector flex placeholder="Search Categories"
  ng-model="editCampCtrl.categories" on-change="editCampCtrl.categoriesChanged()"
  hide-categories="!showCategories" has-changed="editCampCtrl.hasChanged">
</category-selector>
<div ng-if="editCampCtrl.hasChanged" layout="row" layout-align="end center" flex>
  <md-button class="btn btn-default btn-small" ng-click="editCampCtrl.saveCategories()"
    ng-disabled="!editCampCtrl.categories.length" ng-disabled="$root.isLoading">
    Save categories
  </md-button>
</div>
