<div class="edit-campaign__main-data__photo">
  <image-selector image="editCampCtrl.campaign.image" edit="true" ng-disabled="$root.isLoading"></image-selector>
</div>
<form class="edit-campaign__main-data__form" name="form">
  <div class="edit-campaign__main-data__inputs">
    <div class="form-group">
      <label>Campaign name</label>
      <input class="form-control" type="text" ng-model="editCampCtrl.campaign.name" name="name" required
      unique-on="editCampCtrl.campaignNames">
      <div class="errors" ng-messages="form.name.$error" md-auto-hide="false">
        <div ng-message="required">This is required.</div>
        <div ng-message="repeated">This name has already been used.</div>
      </div>
      <div layout="row" layout-align="end center" flex ng-if="form.$dirty">
        <md-button class="btn btn-default btn-small" ng-click="editCampCtrl.saveHeaderChanges(form)"
                    ng-disabled="$root.isLoading">Save changes</md-button>
      </div>
    </div>
  </div>
</form>
