<div class="edit-campaign__section-header">
  <h5 class="edit-campaign__section-title">URLS &amp; ORDERS</h5>
  <div class="edit-campaign__section-buttons"><a class="btn btn-white btn-auto btn-small" ng-click="editCampCtrl.addDomain()" href="javascript:void(0)">Add 1 url</a><a class="btn btn-white btn-auto btn-small" href="javascript:void(0)" ng-click="editCampCtrl.showCsvDialog()">Add Bulk URLs</a></div>
</div>
<div class="edit-campaign__section-content">
  <div class="edit-campaign__table d-none d-md-block">
    <table class="table">
      <tr>
        <th><span>Domain URL</span></th>
        <th><span>Links Built to this Page</span></th>
      </tr>
      <tr dir-paginate="link in editCampCtrl.links | itemsPerPage: editCampCtrl.perPage"
      current-page="editCampCtrl.currentPage" total-items="editCampCtrl.totalItems">
        <td colspan="2">
          <div class="campaign-links" ng-class="{'campaign-links--active': link.isOpen}">
            <div class="campaign-links__header">
              <div class="campaign-links__header-url">{{ link.href }}</div>
              <div class="campaign-links__header-counter">{{ link.urls.length }}</div>
              <div class="campaign-links__header-button">
                <button class="btn" type="button" ng-click="editCampCtrl.deleteLink(link)" ng-if="link.urls.length === 0"><svg class="icon icon--trash">
                    <use xlink:href="assets/images/icons.svg#trash"></use>
                  </svg></button>
                <button class="btn" type="button" ng-if="link.urls.length > 0" ng-click="editCampCtrl.togglePanel(link)"><svg class="icon icon--chevron">
                    <use xlink:href="assets/images/icons.svg#chevron"></use>
                  </svg></button>
              </div>
            </div>
            <div class="campaign-links__table">
              <table class="table">
                <tr>
                  <th><span><b>Links built to this page</b></span></th>
                  <th><span>Live Blog Post</span></th>
                  <th><span>Anchor Text</span></th>
                  <th><span>DA</span></th>
                  <th><span>TF</span></th>
                  <th><span>Price</span></th>
                </tr>
                <tr ng-repeat="linkUrl in link.orders_built">
                  <td>&nbsp;</td>
                  <td>
                    <span class="live-link" ng-if="editCampCtrl.linkNotRefounded(linkUrl.full_pub_url)">
                      <a href="{{ linkUrl.full_pub_url }}" target="_blank">
                      {{ linkUrl.full_pub_url }}
                      </a>
                    </span>
                    <span ng-if="!editCampCtrl.linkNotRefounded(linkUrl.full_pub_url)">{{ linkUrl.full_pub_url }}</span>
                  </td>
                  <td>{{ linkUrl.anchor }}</td>
                  <td>{{ linkUrl.domain_authority }}</td>
                  <td>{{ linkUrl.trust_flow }}</td>
                  <td>{{ linkUrl.shown_price | currency:undefined:0 }}</td>
                </tr>
              </table>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="edit-campaign__table d-block d-md-none">
    <div class="campaign-links" ng-class="{'campaign-links--active': link.isOpen}" dir-paginate="link in editCampCtrl.links | itemsPerPage: editCampCtrl.perPage"
    current-page="editCampCtrl.currentPage" total-items="editCampCtrl.totalItems">
      <div class="campaign-links__header">
        <div class="campaign-links__header-url">{{ link.href }}</div>
        <div class="campaign-links__header-counter">{{ link.urls.length }}</div>
        <div class="campaign-links__header-button">
            <button class="btn" type="button" ng-click="editCampCtrl.deleteLink(link)" ng-if="link.urls.length === 0"><svg class="icon icon--trash">
                <use xlink:href="assets/images/icons.svg#trash"></use>
              </svg></button>
          <button class="btn" type="button" ng-if="link.urls.length > 0" ng-click="editCampCtrl.togglePanel(link)"><svg class="icon icon--chevron">
              <use xlink:href="assets/images/icons.svg#chevron"></use>
            </svg></button>
        </div>
      </div>
      <div class="campaign-links__table" ng-if="link.urls.length > 0">
        <table ng-repeat="linkUrl in link.orders_built">
          <tr>
            <th>Live Blog Post</th>
            <td>
                <span class="live-link" ng-if="editCampCtrl.linkNotRefounded(linkUrl.full_pub_url)">
                    <a href="{{ linkUrl.full_pub_url }}" target="_blank">
                    {{ linkUrl.full_pub_url }}
                    </a>
                  </span>
                  <span ng-if="!editCampCtrl.linkNotRefounded(linkUrl.full_pub_url)">{{ linkUrl.full_pub_url }}</span>
            </td>
          </tr>
          <tr>
            <th>Anchor Text</th>
            <td>{{ linkUrl.anchor }}</td>
          </tr>
          <tr>
            <th>DA</th>
            <td>{{ linkUrl.domain_authority }}</td>
          </tr>
          <tr>
            <th>TF</th>
            <td>{{ linkUrl.trust_flow }}</td>
          </tr>
          <tr>
            <th>Price</th>
            <td>{{ linkUrl.shown_price | currency:undefined:0 }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="profiles-list__pagination margin-top-5">
    <dir-pagination-controls max-size="10" on-page-change="editCampCtrl.retrieveMoreLinks(editCampCtrl.currentPage)"></dir-pagination-controls>
  </div>
</div>
