.category-selector-container {
  md-chips.md-contact-chips {
    width: 100%;
  }

  .md-chips.md-removable md-chip .md-chip-content {
    padding-right: .6rem;
  }

  md-chips-wrap.md-chips {
    box-shadow: none;
    padding: .8rem 1rem;

    &.md-focused {
      box-shadow: none;
    }

    .md-chip-input-container.ng-scope {
      margin: 0;
      width: 1rem;
    }

    md-chip {
      margin: 0 .5rem .3rem 0;
      border-radius: 0;
      background-color: $primary;
      color: $white;

      .md-contact-name {
        font-size: .9em;
      }
    }
  }

  .category {
    min-width: 18rem;

    &.md-button.md-raised {
      background: $category-background;
      color: $dark-text;
      font-size: 1.4em;
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;

      &.selected-category {
        background-color: $primary;
        color: $white;
      }
    }
  }

  .funnel-container {
    .md-no-sticky {
      font-size: 1.3em;
    }
  }

  .capitalized-subtitles {
    text-transform: capitalize;
  }

  .adjusted {
    max-width: 69%;
  }

  .shrinked {
    max-width: 53%;
  }
}

.md-chips.md-removable md-chip {
  font-size: 10px;
  color: $blue-btn;
  background: none;
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 10px;
}

md-chips md-chip md-icon, md-chips md-chip.md-focused md-icon {
  color: $blue-btn;
}

md-icon {
  min-height: 14px;
  min-width: 14px;
}

.md-chips md-chip .md-chip-remove md-icon {
  width: 14px;
  height: 14px;
}

.md-chips md-chip {
  margin: 8px 5px 0 5px;
}

.categories .cat-card {
  border: 1px solid $bg-off-white;
  border-radius: 6px;
  box-shadow: none;
}
