<div class="categories">
  <div class="categories__header">
    <h6 class="categories__title">Categories</h6>
    <div class="categories__show-control-btn d-none d-md-block">
      <button type="button" class="btn btn-link" ng-click="vm.toggleCatList()">{{ vm.toggleBtnText() }}</button>
    </div>
  </div>
  <md-card flex class="cat-card" ng-class="{ 'shrinked': vm.shrinked && vm.$mdMedia('gt-sm'),
    'adjusted' : vm.showOwnHideButton && vm.$mdMedia('gt-sm') }">
    <md-contact-chips class="md-no-underline" ng-model="vm.categories"
      md-contacts="vm.querySearch($query)" md-contact-name="name"
      md-require-match="true" md-highlight-flags="i" filter-selected="true"
      placeholder="{{ vm.placeholder }}" layout="row">
    </md-contact-chips>
  </md-card>
  <ul ng-hide="vm.hideCategories" class="categories__list">
    <li
      ng-repeat="category in vm.mCategories">
      <a ng-click="vm.toggleCategory(category)"
        ng-class="{ 'selected': vm.isSelected(category) }"
        href="javascript:void(0)">{{ category.name }}</a>
    </li>
  </ul>
</div>
