<md-dialog class="admin-notes-dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Reason Why We Declined Approval</h2>
    </div>
  </md-toolbar>

  <md-dialog-content layout="column" layout-padding>
    <p class="notes-content">
      <span> {{ noteCtrl.note }} </span>
    </p>
  </md-dialog-content>

  <md-dialog-actions layout="row" layout-align="end center">
    <md-button class="md-accent" ng-click="noteCtrl.ok()"
      ng-disabled="$root.isLoading">
      Ok, Go to Edit
    </md-button>
  </md-dialog-actions>
</md-dialog>
