.user-container {
  div.siblings-input-container {
    md-input-container {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  input[placeholder], [placeholder], *[placeholder] {
    color: $dark-grey;
  }

  md-input-container {
    font-size: 1.8em;
  }

  .md-button.full-accent:not([disabled]) {
    margin-top: .8rem;
    height: 6rem;
  }

  .profile-sub-header {
    color: $black;
  }

  .info-icons {
    margin-left: -4.2rem;
    md-icon svg {
      fill: $accent;
    }
  }

  .countries {
    font-size: .9em;
  }
}

.form-check-inline {
  margin-right: 10px;
  margin-bottom: 0px;
}
