<div class="faq__content" ng-if="!vm.isPublisher()">
  <div class="faq__image"><img src="assets/images/faq.svg" alt></div>
  <div class="faq__list">
    <div class="faq__row" ng-init="faq1 = false" ng-class="{'faq__row--active':faq1}" ng-click="faq1 = !faq1">
      <div class="faq__question">I created an account. Now what?</div>
      <div class="faq__answer">Click "<a href="#/campaigns/new">Create New Campaign</a>".
        This takes 2 minutes. Give us the home page URL, select some relevant
        categories, click submit.</div>
      <div ng-if="faq1" class="faq__button faq__button--close"><button type="button"><svg class="icon icon--close-circle">
            <use xlink:href="assets/images/icons.svg#close-circle"></use>
          </svg></button></div>
      <div ng-if="!faq1" class="faq__button faq__button--chevron"><button type="button"><svg class="icon icon--chevron">
          <use xlink:href="assets/images/icons.svg#chevron"></use>
        </svg></button></div>
    </div>
    <div class="faq__row" ng-init="faq2 = false" ng-class="{'faq__row--active':faq2}" ng-click="faq2 = !faq2">
      <div class="faq__question">How come the domains are hidden?</div>
      <div class="faq__answer">To avoid spam and users trying to bypass our markups, to be honest. If you want
          to see domains for a given Campaign, click
          "<a href="#/quotes">Quotes</a>".<br /><br />
          After you get a quote going, our team will send a good sized selection of about 15 to
          20 publishers; given the Authority Metrics that you requested in the quote.
      </div>
      <div ng-if="faq2" class="faq__button faq__button--close"><button type="button"><svg class="icon icon--close-circle">
            <use xlink:href="assets/images/icons.svg#close-circle"></use>
          </svg></button></div>
      <div ng-if="!faq2" class="faq__button faq__button--chevron"><button type="button"><svg class="icon icon--chevron">
          <use xlink:href="assets/images/icons.svg#chevron"></use>
        </svg></button></div>
    </div>
    <div class="faq__row" ng-init="faq3 = false" ng-class="{'faq__row--active':faq3}" ng-click="faq3 = !faq3">
      <div class="faq__question">What happens after I have my Quote?</div>
      <div class="faq__answer">A <sub>(1)</sub> :<br />
        Firstly, you can search hidden domains and put them into the cart if you
        “like what you see” from the metrics &amp; description. Attach your
        copy and purchase. It’s that easy.<br /><br />
        A <sub>(2)</sub> :<br />
        Secondly, if you need to see domains, you will see domains in the Quote.
        <ul>
          <li>If you want us to do the content they will be in: “Content Pipeline”.</li>
          <li>If you want to do the content, the domains will be in: “Cart”</li>
        </ul>
      </div>
      <div ng-if="faq3" class="faq__button faq__button--close"><button type="button"><svg class="icon icon--close-circle">
            <use xlink:href="assets/images/icons.svg#close-circle"></use>
          </svg></button></div>
      <div ng-if="!faq3" class="faq__button faq__button--chevron"><button type="button"><svg class="icon icon--chevron">
          <use xlink:href="assets/images/icons.svg#chevron"></use>
        </svg></button></div>
    </div>
    <div class="faq__row" ng-init="faq4 = false" ng-class="{'faq__row--active':faq4}" ng-click="faq4 = !faq4">
      <div class="faq__question">I got content from you! Now what?</div>
      <div class="faq__answer">First click “View” to digitally view the content without having to download it.
        <ul>
          <li>If minor edits are needed, click “Download”, do some minor edits,
            then click “Upload”.</li>
          <li>If you want a full rewrite from our Author, click “Rewrite”.</li>
          <li>If all done. Click the check box and move item to Checkout</li>
        </ul>
      </div>
      <div ng-if="faq4" class="faq__button faq__button--close"><button type="button"><svg class="icon icon--close-circle">
            <use xlink:href="assets/images/icons.svg#close-circle"></use>
          </svg></button></div>
      <div ng-if="!faq4" class="faq__button faq__button--chevron"><button type="button"><svg class="icon icon--chevron">
          <use xlink:href="assets/images/icons.svg#chevron"></use>
        </svg></button></div>
    </div>
    <div class="faq__row" ng-init="faq5 = false" ng-class="{'faq__row--active':faq5}" ng-click="faq5 = !faq5">
      <div class="faq__question">What happens after I purchase?</div>
      <div class="faq__answer">Content is sent to bloggers / Influencers. They have 5 days to respond
        to your order. If a publisher declines the order (or simply does not
        respond), then you are not charged. The charge will be pending for this
        5 day period. If you have multiple under orders in one purchase, then
        you will only be charged for the order(s) that were accepted by bloggers.
        <br /><br />  
        Bloggers that accept your order, are required to publish in a reasonable
        time frame and submit the live post back into their account in order to
        get paid. Our Admin team will review the live post to ensure it matches
        with your order. Once we approve, it will go live in your Dashboard and
        you will be notified via email as well.
      </div>
      <div ng-if="faq5" class="faq__button faq__button--close"><button type="button"><svg class="icon icon--close-circle">
            <use xlink:href="assets/images/icons.svg#close-circle"></use>
          </svg></button></div>
      <div ng-if="!faq5" class="faq__button faq__button--chevron"><button type="button"><svg class="icon icon--chevron">
          <use xlink:href="assets/images/icons.svg#chevron"></use>
        </svg></button></div>
    </div>
  </div>
</div>

<div class="faq__content" ng-if="vm.isPublisher()">
  <div class="faq__image"><img src="assets/images/faq2.png" alt></div>
  <div class="faq__list">
    <div class="faq__row" ng-init="faq1 = false" ng-class="{'faq__row--active':faq1}" ng-click="faq1 = !faq1">
      <div class="faq__question">I created an account. Now what?</div>
      <div class="faq__answer">Top right corner, you will see a gear icon. Click that and go to My Account Info. Give us
          your PayPal information and a secure shipping address (if you plan on
          accepting product deliveries).</div>
      <div ng-if="faq1" class="faq__button faq__button--close"><button type="button"><svg class="icon icon--close-circle">
            <use xlink:href="assets/images/icons.svg#close-circle"></use>
          </svg></button></div>
      <div ng-if="!faq1" class="faq__button faq__button--chevron"><button type="button"><svg class="icon icon--chevron">
          <use xlink:href="assets/images/icons.svg#chevron"></use>
        </svg></button></div>
    </div>
    <div class="faq__row" ng-init="faq2 = false" ng-class="{'faq__row--active':faq2}" ng-click="faq2 = !faq2">
      <div class="faq__question">How do I submit my site information?</div>
      <div class="faq__answer">Create a Profile. This is the most important part for you. Please take your time.
          There are for different types of users that make up Profiles. Choose wisely.
        <br /><br />
        <ul class="highlighted-item">
          <li class="highlighted custom-bullet">
            Blogger
            <ul>
              <li class="black-bullet">Someone that owns their own blog and social media handles</li>
            </ul>
          </li>
          <li class="highlighted custom-bullet">
            Social Influencer
            <ul>
              <li class="black-bullet">Someone that only uses YouTube (or other networks) to publish content</li>
            </ul>
          </li>
          <li class="highlighted custom-bullet">
            Contributors
            <ul>
              <li class="black-bullet">
                Someone that writes for a publication they do not own. They are called
                “Contributors”.
              </li>
            </ul>
          </li>
          <li class="highlighted custom-bullet">
            Brokers
            <ul>
              <li class="black-bullet">
                Someone that reaches out to bloggers and creates working relationships
                with them.
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div ng-if="faq2" class="faq__button faq__button--close"><button type="button"><svg class="icon icon--close-circle">
            <use xlink:href="assets/images/icons.svg#close-circle"></use>
          </svg></button></div>
      <div ng-if="!faq2" class="faq__button faq__button--chevron"><button type="button"><svg class="icon icon--chevron">
          <use xlink:href="assets/images/icons.svg#chevron"></use>
        </svg></button></div>
    </div>
    <div class="faq__row" ng-init="faq3 = false" ng-class="{'faq__row--active':faq3}" ng-click="faq3 = !faq3">
      <div class="faq__question">How often do I get paid?</div>
      <div class="faq__answer">3 to 7 business days from the day you submit the live blog post back to us.</div>
      <div ng-if="faq3" class="faq__button faq__button--close"><button type="button"><svg class="icon icon--close-circle">
            <use xlink:href="assets/images/icons.svg#close-circle"></use>
          </svg></button></div>
      <div ng-if="!faq3" class="faq__button faq__button--chevron"><button type="button"><svg class="icon icon--chevron">
          <use xlink:href="assets/images/icons.svg#chevron"></use>
        </svg></button></div>
    </div>
    <div class="faq__row" ng-init="faq4 = false" ng-class="{'faq__row--active':faq4}" ng-click="faq4 = !faq4">
      <div class="faq__question">What kind of sites can I submit?</div>
      <div class="faq__answer">
          We do not allow gambling, adult, or sites that otherwise are defamatory
          is some way. Any site that you either own, or have a relationship with
          (such as a contributor to a publication), as we all as any social media
          handle that you have created.
      </div>
      <div ng-if="faq4" class="faq__button faq__button--close"><button type="button"><svg class="icon icon--close-circle">
            <use xlink:href="assets/images/icons.svg#close-circle"></use>
          </svg></button></div>
      <div ng-if="!faq4" class="faq__button faq__button--chevron"><button type="button"><svg class="icon icon--chevron">
          <use xlink:href="assets/images/icons.svg#chevron"></use>
        </svg></button></div>
    </div>
    <div class="faq__row" ng-init="faq5 = false" ng-class="{'faq__row--active':faq5}" ng-click="faq5 = !faq5">
        <div class="faq__question">Are there any minimum requirements?</div>
        <div class="faq__answer">
          Here are the minimum requirements for each channel that advertisers are
          interested in.
          <br /><br />
          <ul class="bullet aligned-bullets">
            <li>
              Search: Moz Domain Authority Score of 20 and Majestic Trust Flow Score of 10
            </li>
            <li>
              Social: Minimum 1000 followers for each social channel
            </li>
            <li>
              Sponsored: 3000 Monthly Unique Visitors (MUV) per month.
            </li>
          </ul>
        </div>
        <div ng-if="faq5" class="faq__button faq__button--close"><button type="button"><svg class="icon icon--close-circle">
              <use xlink:href="assets/images/icons.svg#close-circle"></use>
            </svg></button></div>
        <div ng-if="!faq5" class="faq__button faq__button--chevron"><button type="button"><svg class="icon icon--chevron">
            <use xlink:href="assets/images/icons.svg#chevron"></use>
          </svg></button></div>
      </div>
      <div class="faq__row" ng-init="faq6 = false" ng-class="{'faq__row--active':faq6}" ng-click="faq6 = !faq6">
        <div class="faq__question">How do I know if my site is approved?</div>
        <div class="faq__answer">
          You will receive an email stating if we approve, reject, or if changes
          need to made before approval.
        </div>
        <div ng-if="faq6" class="faq__button faq__button--close"><button type="button"><svg class="icon icon--close-circle">
              <use xlink:href="assets/images/icons.svg#close-circle"></use>
            </svg></button></div>
        <div ng-if="!faq6" class="faq__button faq__button--chevron"><button type="button"><svg class="icon icon--chevron">
            <use xlink:href="assets/images/icons.svg#chevron"></use>
          </svg></button></div>
      </div>
      <div class="faq__row" ng-init="faq7 = false" ng-class="{'faq__row--active':faq7}" ng-click="faq7 = !faq7">
        <div class="faq__question">When will I start getting orders?</div>
        <div class="faq__answer">
          Depending upon how active and relevant your site is to an advertiser,
          it may be only days or several months. We cannot control the interest
          on your site(s) from our marketing partners.
        </div>
        <div ng-if="faq7" class="faq__button faq__button--close"><button type="button"><svg class="icon icon--close-circle">
              <use xlink:href="assets/images/icons.svg#close-circle"></use>
            </svg></button></div>
        <div ng-if="!faq7" class="faq__button faq__button--chevron"><button type="button"><svg class="icon icon--chevron">
            <use xlink:href="assets/images/icons.svg#chevron"></use>
          </svg></button></div>
      </div>
      <div class="faq__row" ng-init="faq8 = false" ng-class="{'faq__row--active':faq8}" ng-click="faq8 = !faq8">
        <div class="faq__question">How do I change my prices?</div>
        <div class="faq__answer">
          From your dashboard &gt; click on “Pricing and Pausing” at top &gt;
          Find the URL you want to change &gt; Click on the Price link. When
          finished, click the Submit Icon at the far right.
        </div>
        <div ng-if="faq8" class="faq__button faq__button--close"><button type="button"><svg class="icon icon--close-circle">
              <use xlink:href="assets/images/icons.svg#close-circle"></use>
            </svg></button></div>
        <div ng-if="!faq8" class="faq__button faq__button--chevron"><button type="button"><svg class="icon icon--chevron">
            <use xlink:href="assets/images/icons.svg#chevron"></use>
          </svg></button></div>
      </div>
      <div class="faq__row" ng-init="faq9 = false" ng-class="{'faq__row--active':faq9}" ng-click="faq9 = !faq9">
        <div class="faq__question">Where do I opt out?</div>
        <div class="faq__answer">
          From your dashboard &gt; click on “Pricing and Pausing” at top &gt;
          Find the URL you want to change &gt; Click on the Pause checkbox.
        </div>
        <div ng-if="faq9" class="faq__button faq__button--close"><button type="button"><svg class="icon icon--close-circle">
              <use xlink:href="assets/images/icons.svg#close-circle"></use>
            </svg></button></div>
        <div ng-if="!faq9" class="faq__button faq__button--chevron"><button type="button"><svg class="icon icon--chevron">
            <use xlink:href="assets/images/icons.svg#chevron"></use>
          </svg></button></div>
      </div>
      <div class="faq__row" ng-init="faq10 = false" ng-class="{'faq__row--active':faq10}" ng-click="faq10 = !faq10">
        <div class="faq__question">I want to opt out of certain products? How
            do I do that?</div>
        <div class="faq__answer">
            From your dashboard &gt; click on “Pricing and Pausing” in the Top
            Navigation Items &gt; Find the URL you want to opt out &gt; Click on
            the Price link.
        </div>
        <div ng-if="faq10" class="faq__button faq__button--close"><button type="button"><svg class="icon icon--close-circle">
              <use xlink:href="assets/images/icons.svg#close-circle"></use>
            </svg></button></div>
        <div ng-if="!faq10" class="faq__button faq__button--chevron"><button type="button"><svg class="icon icon--chevron">
            <use xlink:href="assets/images/icons.svg#chevron"></use>
          </svg></button></div>
      </div>
      <div class="faq__row" ng-init="faq11 = false" ng-class="{'faq__row--active':faq11}" ng-click="faq11 = !faq11">
        <div class="faq__question">I got an order! Now what?</div>
        <div class="faq__answer">
          Simply approve the order if you are fine with the content. Publish in a
          reasonable time frame. This is usually a couple of days for smaller
          sites or 3 to 4 weeks for really large sites.
          You will receive another email prompting you to submit the live blog
          post back to us in order to receive payment.
        </div>
        <div ng-if="faq11" class="faq__button faq__button--close"><button type="button"><svg class="icon icon--close-circle">
              <use xlink:href="assets/images/icons.svg#close-circle"></use>
            </svg></button></div>
        <div ng-if="!faq11" class="faq__button faq__button--chevron"><button type="button"><svg class="icon icon--chevron">
            <use xlink:href="assets/images/icons.svg#chevron"></use>
          </svg></button></div>
      </div>
      <div class="faq__row" ng-init="faq12 = false" ng-class="{'faq__row--active':faq12}" ng-click="faq12 = !faq12">
        <div class="faq__question">Can I edit content?</div>
        <div class="faq__answer">
          Yes. But only minor edits please. If you do not like the topic, or the
          content is too short / too long, you can reject and ask the agency to
          rewrite the article more to your liking.
        </div>
        <div ng-if="faq12" class="faq__button faq__button--close"><button type="button"><svg class="icon icon--close-circle">
              <use xlink:href="assets/images/icons.svg#close-circle"></use>
            </svg></button></div>
        <div ng-if="!faq12" class="faq__button faq__button--chevron"><button type="button"><svg class="icon icon--chevron">
            <use xlink:href="assets/images/icons.svg#chevron"></use>
          </svg></button></div>
      </div>
  </div>
</div>
