.faq__row {
  padding: 3rem 8rem;

  .question-container {
    color: $primary;

    .question-begin {
      font-size: 1.6em;
      font-weight: bold;
    }

    .question-content {
      font-size: 1.2em;
      font-style: italic;
      font-weight: bold;
    }
  }

  .answer-container {
    padding-left: 3rem;
    text-align: justify;
    text-justify: inter-word;

    .answer-begin {
      font-size: 1.6em;
      font-weight: bold;
    }

    .answer-content {
      font-size: 1.2em;
    }

    sub {
      font-size: .7em;
    }

    .list-container {
      padding-left: 4rem
    }
  }

  ul {
    &.bullet {
      padding-left: 10rem;
      font-size: 1.1em;
    }

    &.highlighted-item {
      list-style: none;
      padding: 0 1rem;
      margin: 0;
    }

    &.aligned-bullets {
      padding-left: 5rem;
    }
  }

  li {
    &.black-bullet {
      color: $black;
    }

    &.highlighted {
      padding-left: 1.7rem;
      color: $primary;
      font-size: 1.2em;
    }

    &.custom-bullet {
      &::before {
        content: "•";
        font-size: 1.5em;
        color: black;
        vertical-align: middle;
      }
    }
  }
}
