<div class="content-section">
  <div class="content-section__header">
    <h2 class="content-section__title">Content Pipe<span ng-show="aDoneCtrl.articles.length === 0"> (No Articles to Show)</span></h2>
    <div class="content-section__right" ng-hide="aDoneCtrl.articles.length === 0">
      <form class="search-widget" action="#">
        <input class="form-control" name="name" type="text" placeholder="Search for something..." ng-model="aDoneCtrl.queryArticles.filter">
        <button type="submit"><svg class="icon icon--search">
            <use xlink:href="assets/images/icons.svg#search"></use></svg>
        </button>
      </form>
    </div>
  </div>
  <div class="content-section__content">
    <div class="content-pipeline" ng-hide="aDoneCtrl.articles.length === 0">
      <div class="content-pipeline__content">
        <div class="content-pipeline__header"><button ng-click="aDoneCtrl.instructions()" class="btn btn-white btn-small btn-auto" type="button">Instructions</button><a ng-href="{{ aDoneCtrl.zip }}" class="btn btn-white btn-small">Download</a></div>
        <div class="content-pipeline__table d-lg-block">
          <md-table-container>
          <table class="table" md-table ng-model="aDoneCtrl.articles"
                md-progress="promise">
            <thead md-head
            md-order="aDoneCtrl.queryArticles.order">
                <tr>
              <th md-column md-order-by="eta"><a class="btn btn-link" href="javascript:void(0)"><span>ETA</span></a></th>
              <th md-column><a class="btn btn-link" href="javascript:void(0)"><span>Campaign</span></a></th>
              <th md-column md-order-by="publisher"><a class="btn btn-link" href="javascript:void(0)"><span>Publisher</span></a></th>
              <th md-column><a class="btn btn-link" href="javascript:void(0)"><span>Price</span></a></th>
              <th md-column md-order-by="title"><a class="btn btn-link" href="javascript:void(0)"><span>Title</span></a></th>
              <th md-column md-order-by="distination_url" md-desc><a class="btn btn-link" href="javascript:void(0)"><span>Destination URL</span></a></th>
              <th md-column md-order-by="anchor"><a class="btn btn-link" href="javascript:void(0)"><span>Anchor</span></a></th>
              <th md-column><a class="btn btn-link" href="javascript:void(0)"><span>Doc Name</span></a></th>
              <th md-column><a class="btn btn-link" href="javascript:void(0)"><span>Actions</span></a></th>
              <th md-column><a class="btn btn-link" href="javascript:void(0)"><span>Cart</span></a></th>
            </tr>
            </thead>
            <tr md-row ng-repeat="article in aDoneCtrl.filteredArticles = (aDoneCtrl.articles |
                filter: aDoneCtrl.queryArticles.filter) | orderBy: aDoneCtrl.queryArticles.order |
                limitTo: aDoneCtrl.queryArticles.limit : (aDoneCtrl.queryArticles.page -1) * aDoneCtrl.queryArticles.limit"
                ng-class="{ 'inactive': aDoneCtrl.isRejected(article),
                  'active': aDoneCtrl.isApproved(article) }">
              <td md-cell>{{ (article.eta | date:'MM-dd-yyyy') || 'TBD' }}</td>
              <td md-cell>{{ article.campaign_name }}</td>
              <td md-cell data-ellipsis data-ng-bind="article.publisher | limitTo: 40"
                  data-ellipsis-append="...">
                <md-tooltip md-direction="bottom">
                  {{ article.publisher }}
                </md-tooltip>
              </td>
              <td md-cell>${{ article.price }}</td>
              <td md-cell data-ellipsis data-ng-bind="article.title || 'Not set yet' | limitTo: 30"
                  data-ellipsis-append="..." class="blue-labels"
                  ng-class="{ 'disabled': aDoneCtrl.isRejected(article) || aDoneCtrl.isPending(article), 'md-placeholder': !article.title }"
                  ng-click="editText($event, article, false)">
                <md-tooltip md-direction="bottom">
                  {{ article.title }}
                </md-tooltip>
              </td>
              <td md-cell data-ellipsis data-ng-bind="article.destination_url || 'http://www.destination.com' | limitTo: 40"
                  data-ellipsis-append="..." class="blue-labels"
                  ng-class="{ 'disabled': aDoneCtrl.isRejected(article) || aDoneCtrl.isPending(article), 'md-placeholder': !article.destination_url }"
                  ng-click="editURL($event, article)">
                <md-tooltip md-direction="bottom">
                  {{ article.destination_url }}
                </md-tooltip>
              </td>
              <td md-cell data-ellipsis data-ng-bind="article.anchor || 'Not set yet' | limitTo: 30"
                  data-ellipsis-append="..." class="blue-labels"
                  ng-class="{ 'disabled': aDoneCtrl.isRejected(article) || aDoneCtrl.isPending(article), 'md-placeholder': !article.anchor }"
                  ng-click="editText($event, article, true)">
                <md-tooltip md-direction="bottom">
                  {{ article.anchor }}
                </md-tooltip>
              </td>
              <td md-cell>{{ article.blog_post_doc.name }}</td>
              <td md-cell>
                <ul class="action-buttons">
                  <li>
                    <div ng-hide="aDoneCtrl.isRejected(article) || aDoneCtrl.isPending(article)"
                    ng-mouseover="aDoneCtrl.setArticleHoverView(article, true)" ng-mouseleave="aDoneCtrl.setArticleHoverView(article, false)"
                        ng-href="https://docs.google.com/viewer?url={{ article.blog_post_doc.url }}" target="_blank"
                        ng-disabled="aDoneCtrl.isRejected(article) || aDoneCtrl.isPending(article)"
                        ng-class="{ 'disabled': aDoneCtrl.isRejected(article) || aDoneCtrl.isPending(article) }"><svg class="icon icon--action_view">
                      <use xlink:href="assets/images/icons.svg#action_view"></use></svg>
                    </div>
                    <button type="button"
                    ng-mouseover="aDoneCtrl.setArticlePendingHoverView(article, true)" ng-mouseleave="aDoneCtrl.setArticlePendingHoverView(article, false)"
                      ng-show="aDoneCtrl.isRejected(article) || aDoneCtrl.isPending(article)">
                      <svg class="icon icon--action_view">
                      <use xlink:href="assets/images/icons.svg#action_view"></use></svg>
                    </button>
                    <div class="action-button-hint" ng-class="{ 'action-button-hint--active': article.hoverView }">View Content</div>
                    <div class="action-button-hint" ng-class="{ 'action-button-hint--active': article.pendingHoverView }">Article must be completed first.</div>
                  </li>
                  <li>
                    <div ng-hide="aDoneCtrl.isRejected(article) || aDoneCtrl.isPending(article)"
                      ng-mouseover="aDoneCtrl.setArticleHoverDownload(article, true)" ng-mouseleave="aDoneCtrl.setArticleHoverDownload(article, false)"
                      ng-href="{{ article.blog_post_doc.url }}" target="_blank"
                      ng-click="aDoneCtrl.downloadContent(aDoneCtrl.blog_post_doc)">
                      <svg class="icon icon--action_download">
                        <use xlink:href="assets/images/icons.svg#action_download"></use>
                      </svg>
                    </div>
                    <button type="button" 
                    ng-mouseover="aDoneCtrl.setArticlePendingHoverDownload(article, true)" ng-mouseleave="aDoneCtrl.setArticlePendingHoverDownload(article, false)"
                      ng-show="aDoneCtrl.isRejected(article) || aDoneCtrl.isPending(article)"><svg class="icon icon--action_download">
                        <use xlink:href="assets/images/icons.svg#action_download"></use>
                      </svg>
                    </button>
                    <div class="action-button-hint" ng-class="{ 'action-button-hint--active': article.hoverDownload }">Download</div>
                    <div class="action-button-hint" ng-class="{ 'action-button-hint--active': article.pendingHoverDownload }">Article must be completed first.</div>
                  </li>
                  <li>
                    <div ng-hide="aDoneCtrl.isRejected(article) || aDoneCtrl.isPending(article)"
                      ngf-select ng-model="article.blog_post_doc" name="article.blog_post_doc.name"
                      ngf-accept="'.docx'" ngf-max-size="2MB" type="file" ng-change="aDoneCtrl.updateWord(article)">
                    <a ng-mouseover="aDoneCtrl.setArticleHoverUpload(article, true)" ng-mouseleave="aDoneCtrl.setArticleHoverUpload(article, false)">
                      <svg class="icon icon--action_upload">
                        <use xlink:href="assets/images/icons.svg#action_upload"></use>
                      </svg>
                    </a>
                    </div>
                    <button type="button"
                      ng-mouseover="aDoneCtrl.setArticlePendingHoverUpload(article, true)" ng-mouseleave="aDoneCtrl.setArticlePendingHoverUpload(article, false)"
                      ng-show="aDoneCtrl.isRejected(article) || aDoneCtrl.isPending(article)">
                      <svg class="icon icon--action_upload">
                        <use xlink:href="assets/images/icons.svg#action_upload"></use>
                      </svg>
                    </button>
                    <div class="action-button-hint" ng-class="{ 'action-button-hint--active': article.hoverUpload }">Upload</div>
                    <div class="action-button-hint" ng-class="{ 'action-button-hint--active': article.pendingHoverUpload }">Article must be completed first.</div>
                  </li>
                  <li>
                    <a ng-hide="aDoneCtrl.isRejected(article) || aDoneCtrl.isPending(article)"
                        ng-mouseover="aDoneCtrl.setArticleHoverNotes(article, true)" ng-mouseleave="aDoneCtrl.setArticleHoverNotes(article, false)"
                        ng-click="aDoneCtrl.showNotes(article, false)">
                      <svg class="icon icon--action_edit">
                        <use xlink:href="assets/images/icons.svg#action_edit"></use>
                      </svg>
                    </a>
                    <button type="button"
                      ng-mouseover="aDoneCtrl.setArticlePendingHoverNotes(article, true)" ng-mouseleave="aDoneCtrl.setArticlePendingHoverNotes(article, false)"
                      ng-show="aDoneCtrl.isRejected(article) || aDoneCtrl.isPending(article)"><svg class="icon icon--action_edit">
                        <use xlink:href="assets/images/icons.svg#action_edit"></use>
                      </svg>
                    </button>
                    <div class="action-button-hint" ng-class="{ 'action-button-hint--active': article.hoverNotes }">Notes</div>
                    <div class="action-button-hint" ng-class="{ 'action-button-hint--active': article.pendingHoverNotes }">Article must be completed first.</div>
                  </li>
                  <li>
                    <a ng-hide="aDoneCtrl.isRejected(article) || aDoneCtrl.isPending(article)"
                        ng-click="aDoneCtrl.showNotes(article, true)"
                      ng-mouseover="aDoneCtrl.setArticleHoverRewrite(article, true)" ng-mouseleave="aDoneCtrl.setArticleHoverRewrite(article, false)" href="javascript:void(0)"><svg class="icon icon--action_reload">
                        <use xlink:href="assets/images/icons.svg#action_reload"></use>
                      </svg>
                    </a>
                    <button type="button"
                      ng-mouseover="aDoneCtrl.setArticlePendingHoverRewrite(article, true)" ng-mouseleave="aDoneCtrl.setArticlePendingHoverRewrite(article, false)"
                      ng-show="aDoneCtrl.isRejected(article) || aDoneCtrl.isPending(article)"><svg class="icon icon--action_reload">
                        <use xlink:href="assets/images/icons.svg#action_reload"></use>
                      </svg>
                    </button>
                    <div class="action-button-hint" ng-class="{ 'action-button-hint--active': article.hoverRewrite }">Rewrite</div>
                    <div class="action-button-hint" ng-class="{ 'action-button-hint--active': article.pendingHoverRewrite }">Article must be completed first.</div>
                  </li>
                </ul>
              </td>
              <td md-cell>
                <md-checkbox aria-label="check" ng-checked="article.checked"
                  ng-disabled="!aDoneCtrl.isApproved(article)"
                  ng-click="aDoneCtrl.toggle(article)">
                </md-checkbox>
              </td>
            </tr>
            <tr style="height: 30px;">&nbsp;</tr>
          </table>
          </md-table-container>
          <md-table-pagination style="border-top: 0px;" class="arrows-enabled pagination-blue" md-limit="aDoneCtrl.queryArticles.limit"
            md-page="aDoneCtrl.queryArticles.page" md-total="{{ aDoneCtrl.filteredArticles.length }}"
            md-page-select="true">
          </md-table-pagination>
        </div>
        <div ng-if="false" class="content-pipeline__table d-block d-lg-none">
          <table class="active">
            <tr>
              <th>ETA</th>
              <td>11/22/18</td>
            </tr>
            <tr>
              <th>Campaign</th>
              <td>Adv1 Campaign1</td>
            </tr>
            <tr>
              <th>Publisher</th>
              <td>webtoolsdepot.com</td>
            </tr>
            <tr>
              <th>Price</th>
              <td>$100</td>
            </tr>
            <tr>
              <th>Title</th>
              <td><span class="span-placeholder">Not set yet</span></td>
            </tr>
            <tr>
              <th>Destination URL</th>
              <td> <input class="form-control form-control--editable" name="name" type="text" placeholder value="testinginvoice.com"></td>
            </tr>
            <tr>
              <th>Anchor</th>
              <td> <input class="form-control form-control--editable" name="name" type="text" placeholder value="testing invoice"></td>
            </tr>
            <tr>
              <th>Doc Name</th>
              <td>test.docx</td>
            </tr>
            <tr>
              <th>Actions</th>
              <td>
                <ul class="action-buttons">
                  <li><button type="button"><svg class="icon icon--action_view">
                        <use xlink:href="assets/images/icons.svg#action_view"></use>
                      </svg></button></li>
                  <li><button type="button"><svg class="icon icon--action_upload">
                        <use xlink:href="assets/images/icons.svg#action_upload"></use>
                      </svg></button></li>
                  <li><button type="button"><svg class="icon icon--action_download">
                        <use xlink:href="assets/images/icons.svg#action_download"></use>
                      </svg></button></li>
                  <li><button type="button"><svg class="icon icon--action_edit">
                        <use xlink:href="assets/images/icons.svg#action_edit"></use>
                      </svg></button></li>
                  <li><button type="button"><svg class="icon icon--action_reload">
                        <use xlink:href="assets/images/icons.svg#action_reload"></use>
                      </svg></button></li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>Cart</th>
              <td>
                <div class="form-check form-check-checkbox"><input class="form-check-input" id="checkbox5" name="name" type="checkbox"><label class="form-check-label" for="checkbox5"></label></div>
              </td>
            </tr>
          </table>
          <table class="inactive">
            <tr>
              <th>ETA</th>
              <td>11/22/18</td>
            </tr>
            <tr>
              <th>Campaign</th>
              <td>Adv1 Campaign1</td>
            </tr>
            <tr>
              <th>Publisher</th>
              <td>webtoolsdepot.com</td>
            </tr>
            <tr>
              <th>Price</th>
              <td>$100</td>
            </tr>
            <tr>
              <th>Title</th>
              <td><span class="span-placeholder">Not set yet</span></td>
            </tr>
            <tr>
              <th>Destination URL</th>
              <td> <input class="form-control form-control--editable" name="name" type="text" placeholder value="testinginvoice.com"></td>
            </tr>
            <tr>
              <th>Anchor</th>
              <td> <input class="form-control form-control--editable" name="name" type="text" placeholder value="testing invoice"></td>
            </tr>
            <tr>
              <th>Doc Name</th>
              <td>test.docx</td>
            </tr>
            <tr>
              <th>Actions</th>
              <td>
                <ul class="action-buttons">
                  <li><button type="button"><svg class="icon icon--action_view">
                        <use xlink:href="assets/images/icons.svg#action_view"></use>
                      </svg></button></li>
                  <li><button type="button"><svg class="icon icon--action_upload">
                        <use xlink:href="assets/images/icons.svg#action_upload"></use>
                      </svg></button></li>
                  <li><button type="button"><svg class="icon icon--action_download">
                        <use xlink:href="assets/images/icons.svg#action_download"></use>
                      </svg></button></li>
                  <li><button type="button"><svg class="icon icon--action_edit">
                        <use xlink:href="assets/images/icons.svg#action_edit"></use>
                      </svg></button></li>
                  <li><button type="button"><svg class="icon icon--action_reload">
                        <use xlink:href="assets/images/icons.svg#action_reload"></use>
                      </svg></button></li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>Cart</th>
              <td>
                <div class="form-check form-check-checkbox"><input class="form-check-input" id="checkbox6" name="name" type="checkbox"><label class="form-check-label" for="checkbox6"></label></div>
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <th>ETA</th>
              <td>11/22/18</td>
            </tr>
            <tr>
              <th>Campaign</th>
              <td>Adv1 Campaign1</td>
            </tr>
            <tr>
              <th>Publisher</th>
              <td>webtoolsdepot.com</td>
            </tr>
            <tr>
              <th>Price</th>
              <td>$100</td>
            </tr>
            <tr>
              <th>Title</th>
              <td><span class="span-placeholder">Not set yet</span></td>
            </tr>
            <tr>
              <th>Destination URL</th>
              <td> <input class="form-control form-control--editable" name="name" type="text" placeholder value="testinginvoice.com"></td>
            </tr>
            <tr>
              <th>Anchor</th>
              <td> <input class="form-control form-control--editable" name="name" type="text" placeholder value="testing invoice"></td>
            </tr>
            <tr>
              <th>Doc Name</th>
              <td>test.docx</td>
            </tr>
            <tr>
              <th>Actions</th>
              <td>
                <ul class="action-buttons">
                  <li><button type="button"><svg class="icon icon--action_view">
                        <use xlink:href="assets/images/icons.svg#action_view"></use>
                      </svg></button></li>
                  <li><button type="button"><svg class="icon icon--action_upload">
                        <use xlink:href="assets/images/icons.svg#action_upload"></use>
                      </svg></button></li>
                  <li><button type="button"><svg class="icon icon--action_download">
                        <use xlink:href="assets/images/icons.svg#action_download"></use>
                      </svg></button></li>
                  <li><button type="button"><svg class="icon icon--action_edit">
                        <use xlink:href="assets/images/icons.svg#action_edit"></use>
                      </svg></button></li>
                  <li><button type="button"><svg class="icon icon--action_reload">
                        <use xlink:href="assets/images/icons.svg#action_reload"></use>
                      </svg></button></li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>Cart</th>
              <td>
                <div class="form-check form-check-checkbox"><input class="form-check-input" id="checkbox7" name="name" type="checkbox"><label class="form-check-label" for="checkbox7"></label></div>
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <th>ETA</th>
              <td>11/22/18</td>
            </tr>
            <tr>
              <th>Campaign</th>
              <td>Adv1 Campaign1</td>
            </tr>
            <tr>
              <th>Publisher</th>
              <td>webtoolsdepot.com</td>
            </tr>
            <tr>
              <th>Price</th>
              <td>$100</td>
            </tr>
            <tr>
              <th>Title</th>
              <td><span class="span-placeholder">Not set yet</span></td>
            </tr>
            <tr>
              <th>Destination URL</th>
              <td> <input class="form-control form-control--editable" name="name" type="text" placeholder value="testinginvoice.com"></td>
            </tr>
            <tr>
              <th>Anchor</th>
              <td> <input class="form-control form-control--editable" name="name" type="text" placeholder value="testing invoice"></td>
            </tr>
            <tr>
              <th>Doc Name</th>
              <td>test.docx</td>
            </tr>
            <tr>
              <th>Actions</th>
              <td>
                <ul class="action-buttons">
                  <li><button type="button"><svg class="icon icon--action_view">
                        <use xlink:href="assets/images/icons.svg#action_view"></use>
                      </svg></button></li>
                  <li><button type="button"><svg class="icon icon--action_upload">
                        <use xlink:href="assets/images/icons.svg#action_upload"></use>
                      </svg></button></li>
                  <li><button type="button"><svg class="icon icon--action_download">
                        <use xlink:href="assets/images/icons.svg#action_download"></use>
                      </svg></button></li>
                  <li><button type="button"><svg class="icon icon--action_edit">
                        <use xlink:href="assets/images/icons.svg#action_edit"></use>
                      </svg></button></li>
                  <li><button type="button"><svg class="icon icon--action_reload">
                        <use xlink:href="assets/images/icons.svg#action_reload"></use>
                      </svg></button></li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>Cart</th>
              <td>
                <div class="form-check form-check-checkbox"><input class="form-check-input" id="checkbox8" name="name" type="checkbox"><label class="form-check-label" for="checkbox8"></label></div>
              </td>
            </tr>
          </table>
        </div>
        <div class="content-pipeline__footer" style="flex-flow: row-reverse;">
          <button class="btn btn-white" type="button" ng-click="aDoneCtrl.checkout()"
                      ng-disabled="aDoneCtrl.selectedArticles.length < 1 || $root.isLoading">Send to cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
