<md-dialog class="grid-container">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Suggested Pricing for Guest Content (SEO)</h2>
    </div>
  </md-toolbar>

  <md-dialog-content layout="column" layout-padding>
    <div class="info-text">
      <span>
        This content is NOT disclosed. You will NOT be endorsing a product or service. <br>
        You will be naturally linking to out to another website. Content will NOT be advertorial.
      </span>
    </div>
    <grid domain-authority="da" trust-flow="tf">
    </grid>
  </md-dialog-content>

  <md-dialog-actions layout="row" layout-align="end center">
    <md-button class="md-accent" ng-click="close()">Ok, got it!</md-button>
  </md-dialog-actions>
</md-dialog>
