<md-dialog class="row-container">
  <md-toolbar>
    <div class="md-toolbar-tools" layout="column" layout-align="center start">
      <h2>Please specify your Twitter handle</h2>
    </div>
  </md-toolbar>

  <md-dialog-content layout="row" layout-align="center start">
    <md-input-container class="md-block twitter-handle">
      <label class="form-label">Twitter Handle</label>
      <input name="twitterHandle" ng-model="ctrl.twitterHandle">
    </md-input-container>
  </md-dialog-content>

  <md-dialog-actions layout="row" layout-align="end center">
    <md-button class="md-accent" ng-click="ctrl.ok()">Ok</md-button>
  </md-dialog-actions>
</md-dialog>
