<md-dialog-content layout="column" layout-padding>
  <h2>Are you sure?</h2>
  <div>
    <p class="notes-content" ng-show="pauseCtrl.isPausing()">
      <span>Pausing this URL will remove it from our Advertiser database. </span> <br>
      <span>You may "un-pause" anytime as well. If a URL is paused, you will not receive any orders for that product type. </span>
    </p>

    <p class="notes-content" ng-show="pauseCtrl.isUnpausing()">
      <span>You are activating this URL again. This means you will get orders again.</span>
    </p>

    <p class="notes-content" ng-show="pauseCtrl.priceChanged() && pauseCtrl.pausedChanged()">
      <i>When paused is selected, price won't be modified.</i>
    </p>

    <p class="notes-content" ng-show="pauseCtrl.priceChanged() && !pauseCtrl.pausedChanged()">
      <span>Changing the price will require admin approval.</span> <br>
      <span>If we do not approve, then you will be required to change price again to fit our model.</span>
    </p>
  </div>

</md-dialog-content>

<md-dialog-actions layout="row" layout-align="end center">
  <md-button class="md-accent" ng-click="pauseCtrl.cancel()" ng-disabled=" $root.isLoading">
    Cancel
  </md-button>
  <md-button class="md-accent" ng-click="pauseCtrl.ok()" ng-disabled=" $root.isLoading">
    I Understand
  </md-button>
</md-dialog-actions>
