<div class="content-section">
  <div class="content-section__header">
    <h2 class="content-section__title">Frequently Asked Questions</h2>
    <div class="content-section__small-text text-uppercase">Popular Questions</div>
  </div>
  <div class="content-section__content">
    <div class="faq">
      <faq-site role="{{ faqCtrl.role }}"></faq-site>
    </div>
  </div>
</div>