<div class="application__header">
  <div class="header" ng-class="{'header--menu-shown': vm.mobileMenuActive}">
    <div class="header__content" ng-if="vm.isAdvertiser()"
    ng-include src="'app/components/topnav/partials/partial_adv.html'">
    </div>
    <div class="header__content" ng-if="vm.isPublisher()"
    ng-include src="'app/components/topnav/partials/partial_pub.html'">
    </div>
  </div>
  <div style="width: 100%; height: 5px;">
    <md-progress-linear class="md-accent progress-bar" md-whiteframe="3"
      md-mode="indeterminate" ng-show="$root.isLoading">
    </md-progress-linear>
  </div>
</div>
