<div class="content-section__header">
  <h2 class="content-section__title">Account information</h2>
  <div ng-if="profCtrl.isAdvertiser()" class="content-section__right content-section__right--sidebar">
    <a class="btn btn-white btn-small btn-auto" href="" ng-click="profCtrl.showOrderHistory()">Show order history</a>
  </div>
</div>

<div class="account">
  <div class="account__content">
    <div class="account__content-form">
      <form class="account__form" name="profile" ng-submit="profile.$valid">
        <div class="form-group">
          <input class="form-control" type="text" ng-model="profCtrl.user.first_name" ng-disabled="$root.isLoading" placeholder="First name">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" ng-model="profCtrl.user.last_name" ng-disabled="$root.isLoading" placeholder="Last name">
        </div>
        <div class="form-group">
          <input class="form-control" type="email" name="email" ng-model="profCtrl.user.email" required
                  ng-blur="profCtrl.checkEmail(profile)" ng-disabled="$root.isLoading" placeholder="Email">
          <div ng-messages="profile.email.$error" md-auto-hide="false">
            <div ng-message="required">This is required.</div>
            <div ng-message="email">This email isn't valid.</div>
            <div ng-message="in-use">Email address is already in use. Select another one.</div>
          </div>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" phone-input name="phone" ng-model="profCtrl.user.phone" ng-disabled="$root.isLoading" placeholder="Phone">
          <div ng-messages="profile.phone.$error">
            <div ng-message="pattern">(###) ###-#### - Please enter a valid phone number.</div>
          </div>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" ng-model="profCtrl.user.country" ng-disabled="$root.isLoading" placeholder="Country">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" ng-model="profCtrl.user.state" ng-disabled="$root.isLoading" placeholder="State">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" ng-model="profCtrl.user.city" ng-disabled="$root.isLoading" placeholder="City">
        </div>
        <div class="form-group">
          <input class="form-control"  type="text" ng-model="profCtrl.user.company" ng-disabled="$root.isLoading" placeholder="Company">
        </div>
        <div class="form-group">
          <input class="form-control" type="password" name="newPassword" ng-model="profCtrl.user.password" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="16" minlength="8" placeholder="New password">
          <div ng-messages="profile.newPassword.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="minlength">Password with at least 8 characters</div>
            <div ng-message="md-maxlength">Password with maximum 16 characters</div>
          </div>
        </div>
        <div class="form-group">
          <input class="form-control" type="password" name="confirmPassword" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" ng-model="profCtrl.user.password_confirmation" maxlength="16" minlength="8" ng-change="profCtrl.canChangePassword(profile)" placeholder="Confirm new password">
          <div ng-messages="profile.confirmPassword.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="no-match">Passwords don't match</div>
            <div ng-message="minlength">Password with at least 8 characters</div>
            <div ng-message="md-maxlength">Password with maximum 16 characters</div>
          </div>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-white btn-small btn-auto" ng-disabled="!profile.$valid || !profile.$dirty || $root.isLoading || profCtrl.user.password_confirmation != profCtrl.user.password" ng-click="profCtrl.submit(profile)">Save</button>
        </div>
      </form>
    </div>
    <div class="account__content-card">
      <credit-card-holder></credit-card-holder>
    </div>
  </div>
</div>
