<form name="profileForm" ng-submit="profileForm.$valid">

  <div class="content-section__header">
    <h2 class="content-section__title">Account information</h2>
    <div class="content-section__right">
      <button class="btn btn-default btn-small btn-auto"
        ng-disabled="profileForm.$invalid || !profileForm.$dirty || $root.isLoading"
        ng-click="profCtrl.submit(profileForm)">
        Save Profile
      </button>
    </div>
  </div>

  <div class="account-info">
    <div class="account-info__section account-info__section--info">
      <div class="account-info__content">
        <div class="account-info__fields">
          <div class="form-group">
            <label>First name</label>
            <input class="form-control" name="firstName" ng-required="true" ng-model="profCtrl.user.first_name"
                    type="text" ng-disabled="$root.isLoading">
            <div ng-messages="profileForm.firstName.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </div>
          <div class="form-group">
            <label>Last name</label>
            <input class="form-control" name="lastName" ng-required="true" ng-model="profCtrl.user.last_name"
                    type="text" ng-disabled="$root.isLoading">
            <div ng-messages="profileForm.lastName.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </div>
          <div class="form-group">
            <label>Email</label>
            <div class="hint hint--active hint--right">
              <div class="hint__icon">
                <svg ng-mouseover="profCtrl.setEmailChangeNotice(true)" ng-mouseleave="profCtrl.setEmailChangeNotice(false)" class="icon icon--info">
                  <use xlink:href="assets/images/icons.svg#info"></use>
                </svg>
              </div>
              <div ng-show="profCtrl.showEmailChangeNotice" class="hint__text">Changing your email will require reauthorization via the new email address!</div>
            </div>
            <input class="form-control" type="email" name="email" ng-model="profCtrl.user.email"
                    ng-blur="profCtrl.checkEmail(profileForm)" ng-disabled="$root.isLoading" required>
            <div ng-messages="profileForm.email.$error" md-auto-hide="false">
              <div ng-message="required">This is required.</div>
              <div ng-message="email">This email isn't valid.</div>
              <div ng-message="in-use">Email address is already in use. Select another one.</div>
            </div>
          </div>
          <div class="form-group">
            <label>Payout Email</label>
            <div ng-click="profCtrl.setPaymentMethod('PayPal', profileForm)" class="form-check form-check-radio form-check-inline">
                <input ng-model="profCtrl.user.payment_method" value="PayPal" class="form-check-input" id="payment_method_paypal" name="payment_method" type="radio">
                <label class="form-check-label"><span>PayPal</span></label>
              </div>
              <div ng-click="profCtrl.setPaymentMethod('Skrill', profileForm)" class="form-check form-check-radio form-check-inline">
                  <input ng-model="profCtrl.user.payment_method" value="Skrill" class="form-check-input" id="payment_method_skrill" name="payment_method" type="radio">
                <label class="form-check-label"><span>Skrill</span></label>
              </div>
            <input class="form-control" type="email" name="paypalEmail" ng-model="profCtrl.user[profCtrl.payment_email]"
                    ng-disabled="$root.isLoading" md-autofocus>
            <div ng-messages="profileForm.paypalEmail.$error" md-auto-hide="false">
              <div ng-message="email">This email isn't valid.</div>
            </div>
          </div>
          <div class="form-group">
            <label>Change Password</label>
            <input class="form-control" type="password" name="newPassword" ng-model="profCtrl.user.password"
                    ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()"
                    ng-paste="$event.preventDefault()" ng-change="profCtrl.canChangePassword(profileForm)"
                    maxlength="16" minlength="8">
            <div ng-messages="profileForm.newPassword.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="minlength">Password with at least 8 characters</div>
              <div ng-message="md-maxlength">Password with maximum 16 characters</div>
            </div>
          </div>
          <div class="form-group">
            <label class="d-none d-md-block">Confirm New Password</label>
            <input class="form-control" type="password" name="confirmPassword"
                    ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()"
                    ng-paste="$event.preventDefault()"
                    ng-model="profCtrl.user.password_confirmation"
                    maxlength="16" minlength="8" ng-change="profCtrl.canChangePassword(profileForm)">
            <div ng-messages="profileForm.confirmPassword.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="no-match">Passwords don't match</div>
              <div ng-message="minlength">Password with at least 8 characters</div>
              <div ng-message="md-maxlength">Password with maximum 16 characters</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="account-info__section account-info__section--address">
      <div class="account-info__header">
        <h5 class="account-info__title">Shipping Address for Product Samples (US & Canada only)</h5>
      </div>
      <div class="account-info__content">
        <div class="account-info__fields">
          <div class="form-group">
            <label>Address</label>
            <input class="form-control"  name="addressOne" ng-required="false" ng-model="profCtrl.user.address_line_1"
                    type="text" ng-disabled="$root.isLoading" placeholder="Address Line 1">
            <div ng-messages="profileForm.addressOne.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </div>
          <div class="form-group">
            <input class="form-control" name="addressTwo" ng-required="false" ng-model="profCtrl.user.address_line_2"
                    type="text" ng-disabled="$root.isLoading" placeholder="Address Line 2">
            <div ng-messages="profileForm.addressTwo.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </div>
          <div class="form-groups-row">
            <div class="form-group">
              <input class="form-control" name="city" ng-required="false" ng-model="profCtrl.user.city" type="text"
                ng-disabled="$root.isLoading" placeholder="City">
              <div ng-messages="profileForm.city.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </div>
            <div class="form-group">
              <input class="form-control" name="addressOne" ng-required="false" ng-model="profCtrl.user.state"
                     type="text" ng-disabled="$root.isLoading" placeholder="State / Province">
              <div ng-messages="profileForm.addressOne.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </div>
            <div class="form-group">
                <input
                class="form-control"
                name="zipCode"
                ng-required="false"
                ng-model="profCtrl.user.zip_code"
                ng-focus="profCtrl.toggleZipMask()"
                ng-blur="profCtrl.toggleZipMask()"
                ui-options="{ allowInvalidValue: true, clearOnBlur: false }"
                ui-mask="{{ profCtrl.zipMask }}"
                ui-mask-placeholder-char=""
                type="text" ng-disabled="$root.isLoading">
              <div class="errors" ng-messages="profileForm.zipCode.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="mask">Enter a valid postal code.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
