<div class="content-section">
  <div class="content-section__header">
    <h2 class="content-section__title">Edit campaign</h2>
    <div class="content-section__right">
      <a class="btn btn-white btn-auto" ui-sref="search({ categories: editCampCtrl.categoriesNames(), campaignId: editCampCtrl.campaign.id })">Search new pubs</a>
      <a class="btn btn-white btn-auto ng-cloak" ng-show="!editCampCtrl.isReportNull()"
        href="{{ editCampCtrl.campaign.campaign_report }}" target="_blank">Campaign report</a>
      <button type="button" class="btn btn-white btn-auto ng-cloak" ng-show="editCampCtrl.isReportNull()"
        ng-click="editCampCtrl.showNoReportAlert()">Campaign report</button>
      <a class="btn btn-white-red" ng-click="editCampCtrl.destroy()" href="javascript:void(0)">Delete</a>
    </div>
  </div>
  <div class="content-section__content">
    <div class="edit-campaign">
      <div class="edit-campaign__section">
        <div class="edit-campaign__section-content">
          
          <!-- partial for avatar & name -->
          <div class="edit-campaign__main-data" ng-include="'app/pages/campaigns/editCampaign/partials/header.html'"></div>
          
          <!-- partial for categories -->
          <div class="edit-campaign__categories" ng-include="'app/pages/campaigns/editCampaign/partials/categories.html'"></div>
          <div class="edit-profile__show-control-btn d-block d-md-none"><a class="btn btn-link" href="javascript:void(0)">Hide Categories</a></div>

        </div>
      </div>

      <!-- partial for URLS -->
      <div class="edit-campaign__section" ng-include="'app/pages/campaigns/editCampaign/partials/urls.html'"></div>

    </div>
  </div>
</div>
