.edit-campaign {
  .md-tab {
    span {
      font-size: 1.2em;
      font-weight: bold;
    }
  }

  span {
    &.value {
      font-size: 3.2em;
    }

    &.title {
      font-size: 1.7em;
    }
  }

  .selected-spreadsheet {
    padding-left: 1.4rem;

    .error-message {
      margin-bottom: 1.5rem;
    }

    .trashcan {
      margin-bottom: 3rem;
      cursor: pointer;
    }

    .normal-input {
      margin-top: 1rem;
    }

    .send-admin {
      margin-bottom: 2rem;
    }
  }

  .domain-main-info {
    md-card-content {
      padding: 0;
    }
  }

  .campaign-info-container {
    padding-top: 2rem;
  }

  .md-no-sticky {
    h3 {
      font-weight: bold;
    }
  }

  .name-campaign {
    padding-top: 3rem;

    md-input-container {
      margin-bottom: 0;
      padding-bottom: 0;
      margin-right: 1rem;
    }
  }

  .container-no-padding {
    padding: 0;
  }

  .urls-campaigns {

    .table-icons {
      md-icon {
        font-size: .8em;
        height: 2.6rem;
        width: 2.6rem;
      }
    }

    .truncate-text {
      width: 45rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .query-no-border {
      outline: none;
      border: none;
    }

    .primary-color-svg {
      md-icon {
        fill: $primary;
      }
    }

    table.md-table td.md-cell {
      border-color: rgba($dark-grey, .4);
    }

    table.md-table:not(.md-row-select) {
      & td.md-cell {
        padding: 0;
        padding-right: 1rem;

        &:first-child {
          padding: 0 1rem 0 2rem;
        }

        &:nth-child(n+2):nth-last-child(n+2) {
          padding: 0 1rem 0 3rem;

          &.domain-url {
            text-align: center;
          }

          &.count-urls {
            text-align: left;
          }

          &.delete-icon {
            text-align: center;
          }
        }
      }

      & th.md-column {
        &.domain-url {
          text-align: center;
        }
        &:first-child {
          &.count-urls {
            text-align: center;
          }

          &.delete-icon {
            text-align: center;
          }
        }
      }
    }

    .md-table-pagination {
      border-top-color: rgba($dark-grey, .4);
    }

    .data-table-container {
      .follow-links {
        padding-top: 2rem !important;
      }

      .edit-cell {
        md-icon {
          outline: none;
          cursor: pointer;
        }
      }
    }
  }

  .campaign-urls-container {

    .urls-main-header {
      margin: 0;

      &.main-title {
        background: $primary;
      }

      .url-header-title {
        color: $white;
        font-size: 1.4em;
        font-weight: 600;
      }
    }

    .link-row {
      padding: 1rem 0 2rem 0;
    }

    .links-container {
      .sub-headers {
        font-size: 1.2em;
        font-weight: 500;
      }

      .main-info {
        padding-left: 13.5rem;
      }

      .anchor-data {
        padding-left: 2.5rem;
      }

      .metrics-data {
        padding-left: 5rem;
      }

      .inside-values {
        font-size: 1.3em;

        .live-link {
          width: 25rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    md-expansion-panel .md-expansion-panel-icon svg {
      fill: $primary;
    }

    md-expansion-panel[disabled] md-expansion-panel-collapsed .md-summary {
      color: $black;
    }

    md-expansion-panel.md-open:first-of-type {
      margin-top: 1.6rem;
    }
  }
}

.md-button.md-accent.md-raised:not([disabled]).md-focused { background-color: $accent; }

.campaign-links:focus {
  outline: none;
}

table:not(.table) {
  margin-bottom: 20px;
}
