<div ng-if="!payCtrl.hasItems()">No Payouts Found</div>
<md-table-container ng-if="payCtrl.hasItems()">
<table class="table" md-table ng-model="payCtrl.items" md-progress="promise">
  <thead md-order="payCtrl.query.order" md-head>
  <tr md-row>
    <th md-column md-order-by="date_paid">
      <a class="btn btn-link" href="javascript:void(0)"><span>Date Paid</span></a>
    </th>
    <th md-column md-order-by="domain">
      <a class="btn btn-link" href="javascript:void(0)"><span>Domain</span></a>
    </th>
    <th md-column md-order-by="live_url">
      <a class="btn btn-link" href="javascript:void(0)"><span>Live URL</span></a>
    </th>
    <th md-column md-order-by="product">
      <a class="btn btn-link" href="javascript:void(0)"><span>Product</span></a>
    </th>
    <th md-column md-order-by="amount">
      <a class="btn btn-link" href="javascript:void(0)"><span>Amount</span></a>
    </th>
  </tr>
  </thead>
  <tbody md-body>
  <tr md-row ng-repeat="item in payCtrl.items |
      orderBy: payCtrl.query.order |
      limitTo: payCtrl.query.limit : (payCtrl.query.page -1) * payCtrl.query.limit">
    <td md-cell>{{ item.date_paid | date:'MM-dd-yyyy' }}</td>
    <td md-cell>{{ item.domain }}</td>
    <td md-cell>{{ item.live_url }}</td>
    <td md-cell>{{ item.product }}</td>
    <td md-cell>{{ item.amount | currency }}</td>
  </tr>
  </tbody>
</table>
</md-table-container>
<md-table-pagination md-limit="payCtrl.query.limit" md-page="payCtrl.query.page"
  md-total="{{ payCtrl.items.length }}" md-page-select="true" ng-if="payCtrl.hasItems()">
</md-table-pagination>
