<div class="content-section">
  <div class="content-section__header">
    <h2 class="content-section__title">Search Our Inventory</h2>
    <div class="content-section__right content-section__right--sidebar">
      <md-select aria-label="filterName" class="form-control" name="selectedFilter"
                  ng-model="srchCtrl.filter" md-selected-text="srchCtrl.filter.name" ng-change="srchCtrl.sortBy()">
        <md-optgroup label="Select a criteria">
          <md-option ng-repeat="option in srchCtrl.sortOptions" ng-value="option">
            {{ option.name }}
          </md-option>
        </md-optgroup>
      </md-select>
    </div>
  </div>
  <div class="content-section__content">
    <div class="search">
      <div class="search__content">
        <div class="search__content-categories">
          <chips-input placeholder="{{ srchCtrl.getPlaceholder() }}" ng-model="srchCtrl.selectedCategories"
                    hide-categories="true" hide-toggle="false" search="srchCtrl.search()"
                    on-change="srchCtrl.categoriesChanged()" flex>
          </chips-input>
          <div class="manage-campaigns" ng-hide="srchCtrl.totalItems == 0">
            <div class="manage-campaigns__campaigns-list">
              <div class="campaigns-list">
                <div class="campaigns-list__content">
                  <div class="campaigns-list__list">
                    <ad-spot url="url"  dir-paginate="url in srchCtrl.urls | itemsPerPage: srchCtrl.perPage"
                    current-page="srchCtrl.currentPage" total-items="srchCtrl.totalItems"></ad-spot>
                    <div class="profiles-list__pagination margin-top-5">
                      <dir-pagination-controls on-page-change="srchCtrl.retrieveUrls(srchCtrl.currentPage)"
                                              max-size="6">
                      </dir-pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="search__content-options">
          <filter-box title="Domain authority" min-text="Min" max-text="Max"
                      config="srchCtrl.domain_authority"></filter-box>
          <filter-box title="Trust flow" min-text="Min" max-text="Max"
                      config="srchCtrl.trust_flow"></filter-box>
          <filter-box title="Citation flow" min-text="Min" max-text="Max"
                      config="srchCtrl.citation_flow"></filter-box>
          <filter-box title="Ad price" min-text="Min" max-text="Max"
                      config="srchCtrl.price_range" suffix="+" prefix="$"></filter-box>
        </div>
      </div>

      

    </div>
  </div>
</div>
