.hidden-card {
  margin-left: 0;
  margin-right: 0;
}

md-select.sort {
  font-size: 1.5em;
  width: 28rem;
}

md-card.search-container {
  display: table;
}

md-card.search-container {
  display: table;
}

div.empty-state-container {
  margin-top: 3rem;

  h2 {
    text-align: center;
    font-size: 1.7em;
  }
}

div.filters {
  margin: .8rem;
  min-width: 15% !important;
  position: fixed;
  right: 0;
}

@media (max-width: 999px) {
  .filters-container .filters {
    width: 15rem;
  }
}

@media (min-width: 1000px) and (max-width: 1220px) {
  .filters-container .filters {
    width: 17rem;
  }
}

@media (min-width: 1280px) and (max-width: 1399px) {
  .filters-container .filters {
    width: 20rem;
  }
}

@media (min-width: 1400px) and (max-width: 1520px) {
  .filters-container .filters {
    width: 22rem;
  }
}

.manage-campaigns {
  margin-top: 18px;
}
