<div class="dialog-container" layout-align="center center">
  <md-dialog>
    <md-dialog-content>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Upload Spreadsheet file</h2>
        </div>
      </md-toolbar>

      <div layout-padding>
      <div class="md-dialog-content" layout-padding>
          <p>
            Download the <a class="md-primary" ng-href="{{ urlUploadCtrl.getFileRoute() }}"
            ng-click="urlUploadCtrl.download()"> example file</a>.
          </p>
          <p>Download the file first. Copy paste all the URLs into Column A with http(s)://
          </p>
          <p>Save your changes and upload with the button below.</p>
        </div>

        <md-card-content class="selected-file" ng-show="urlUploadCtrl.csv" flex layout="row"
                          layout-align="center center">
          <md-input-container class="normal-input" flex>
            <label>Selected spreadsheet file</label>
            <input name="csv" class="highlighted" disabled ng-model="urlUploadCtrl.csv.name">
          </md-input-container>
          <md-button class="md-accent" ng-if="urlUploadCtrl.csv"
                     ng-click="urlUploadCtrl.clearCsv()">
            Remove
          </md-button>
        </md-card-content>
      </div>
      <md-divider></md-divider>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="end center">
      <md-button class="btn btn-white btn-small" type="file" ngf-select class="md-accent"
                 ng-model="urlUploadCtrl.csv" name="csv" ngf-accept="'.xlsx, .csv'"
                 ng-disabled="!$root.sampleSpreadsheet">
        Select file
      </md-button>

      <md-button class="btn btn-white btn-small" ng-click="urlUploadCtrl.submit()"
        ng-disabled="!$root.sampleSpreadsheet">
        Upload
      </md-button>
    </md-dialog-actions>
  </md-dialog>
</div>
