.demo-md-panel {
  min-height: 100rem;
}

.dialog-content {
  padding: 2rem;
  width: 100%;

  md-input-container {
    margin-bottom: 2rem;
  }

  h2 {
    color: $dark-grey;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 1.3em;
  }

  .word {
    margin: 2rem 0;
  }
}

.infographic {
  margin-bottom: 15px;
  color: $black;
}

.dialog-actions {
  width: 100%;
}

md-radio-button .md-label {
  font-size: 1.6em;
  color: $black;
}

.md-panel-outer-wrapper {
  position: fixed;
}

.note {
  float: right;
  font-size: 1.6em;
  margin-top: .2rem;
  color: $dark-grey;
}

text-angular {
  font-size: 1.6em;

  textarea {
    width: 100%;
  }

  .ta-scroll-window .ta-bind {
    border: 1px solid $dark-grey;
  }
}

.ta-toolbar {
  display: flex;
  flex-flow: row wrap;

  .ta-button-group {
    display: flex;
    flex-flow: row wrap;

    .md-button {
      font-size: 1em;
      font-weight: 600;
      color: $dark-grey;
      min-width: 0;
      min-height: 0;
      line-height: normal;
      margin-left: 0;
      padding-bottom: .1rem;

      &.md-primary:not([disabled]) {
        color: $primary;
        font-weight: bold;
      }
    }
  }
}
