<md-card ng-class="{ 'expand-bottom': vm.selectedCard }">
  <md-card-content>
    <div layout="row" class="small-margin" layout-align="start center">
      <!-- Radio button groups for 'domestic' or 'international' -->
      <md-radio-group ng-init="vm.creditCardOrigin = 'domestic'" ng-model="vm.creditCardOrigin" layout="row" ng-disabled="$root.isLoading">
        <md-radio-button value="domestic">
          Domestic
        </md-radio-button>
        <md-radio-button value="international">
          International Purchase
        </md-radio-button>
      </md-radio-group>
    </div>

    <div layout="row">
      <md-input-container class="md-block positioned-top-margin" flex>
        <label>First name</label>
        <input name="firstName" ng-required="true" ng-model="vm.firstName" type="text"
          ng-disabled="$root.isLoading">
        <div ng-messages="paymentForm.firstName.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block positioned-top-margin" flex>
        <label>Last name</label>
        <input name="lastName" ng-required="true" ng-model="vm.lastName" type="text"
          ng-disabled="$root.isLoading">
        <div ng-messages="paymentForm.lastName.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
    </div>

    <md-input-container class="md-block" flex>
      <label>Billing Address 1</label>
      <input name="address" ng-required="true" ng-model="vm.address" type="text"
        ng-disabled="$root.isLoading">
      <div ng-messages="paymentForm.address.$error">
        <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>

    <md-input-container class="md-block" flex>
      <label>Billing Address 2</label>
      <input ng-model="vm.address2" type="text" ng-disabled="$root.isLoading">
    </md-input-container>

    <div layout="row" ng-if="vm.creditCardOrigin == 'domestic'">
      <md-input-container class="md-block positioned-bottom" flex="35">
        <label>City</label>
        <input name="city" ng-required="true" ng-model="vm.city" type="text"
          ng-disabled="$root.isLoading">
        <div ng-messages="paymentForm.city.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-input-container class="positioned-bottom" flex="35">
        <label>State</label>
        <md-select name="state" ng-required="true" ng-model="vm.state"
          ng-disabled="$root.isLoading">
          <md-option ng-repeat="state in vm.states" ng-value="state.name">{{ state.name }}</md-option>
        </md-select>
        <div ng-messages="paymentForm.state.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block positioned-bottom" flex="30">
        <label>Zip code</label>
        <input
          name="zipCode"
          ng-required="true"
          ng-model="vm.zipCode"
          ng-focus="vm.toggleZipMask()"
          ng-blur="vm.toggleZipMask()"
          ui-options="{ allowInvalidValue: true, clearOnBlur: false }"
          ui-mask="{{ vm.zipMask }}"
          ui-mask-placeholder-char=""
          type="text" ng-disabled="$root.isLoading">
        <div ng-messages="paymentForm.zipCode.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="mask">Enter a valid zip code.</div>
        </div>
      </md-input-container>
    </div>
    <div layout="column" ng-if="vm.creditCardOrigin == 'international'">
      <md-input-container class="md-block positioned-bottom" flex>
        <label>Country</label>
        <md-select name="country" ng-required="true" ng-model="vm.country"
          ng-disabled="$root.isLoading">
          <md-option ng-repeat="country in vm.countries" ng-value="country.name">{{ country.name }}</md-option>
        </md-select>
        <div ng-messages="paymentForm.country.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <div layout="row">
        <md-input-container class="positioned-top-margin" flex="33">
          <label>City</label>
          <input name="city" ng-required="true" ng-model="vm.city" type="text"
            ng-disabled="$root.isLoading">
          <div ng-messages="paymentForm.city.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container class="positioned-top-margin state" flex="33">
          <label>State</label>
          <input name="state" ng-required="true" ng-model="vm.state" type="text"
            ng-disabled="$root.isLoading">
          <div ng-messages="paymentForm.state.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block positioned-top-margin" flex="33">
          <label>Zip code</label>
          <input
            name="zipCode"
            ng-required="true"
            ng-model="vm.zipCode"
            type="text" ng-disabled="$root.isLoading">
          <div ng-messages="paymentForm.zipCode.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
      </div>
    </div>
  </md-card-content>
</md-card>
