<div class="md-dialog-container" id="myDialog">
  <md-dialog class="credit-card-dialog">
    <md-toolbar md-whiteframe="3">
      <div class="md-toolbar-tools">
        <h2>Select a credit card to pay</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div layout-margin>
        <div ng-repeat="card in vm.cards">
          <md-radio-group ng-model="vm.selectedCardId">
            <md-radio-button class="selectable-card" aria-label="use store card" value="{{ card.id }}" ng-disabled="$root.isLoading">
              <md-card-content layout="row" layout-align="start center" flex>
                <img class="card-logo" ng-src="{{ card.image_url }}" alt="credit card logo" height="38" width="56">
                <span>{{ card.masked_number }}</span>
              </md-card-content>
            </md-radio-button>
          </md-radio-group>
          <md-divider ng-if="!$last"></md-divider>
        </div>
      </div>
      <md-divider></md-divider>
    </md-dialog-content>

    <div class="md-actions" layout="row" layout-align="end center">
      <md-button class="md-primary" ng-click="vm.closeDialog()">Cancel</md-button>
      <md-button class="md-accent" ng-click="vm.setSelectedCard()" ng-disabled="!vm.selectedCardId">Select</md-button>
    </div>
  </md-dialog>
</div>
