<md-card ng-if="!vm.selectedCard">
  <md-card-content>
    <h1 class="card-information-title">Card Information</h1>

    <div ng-if="vm.hasStoredCards()" layout="row" layout-align="start center">
      <md-button class="md-accent" ng-disabled="$root.isLoading" tabindex="-1" md-no-ink ng-click="vm.creditCardsDialog()">
        Use card on file?
      </md-button>
    </div>

    <div layout="row" layout-align="center start">
      <md-input-container class="md-block" flex>
        <label>Card number</label>
        <input id="card-number" ng-model="vm.ccNumber" name="ccNumber" class="hosted-field" ng-required="true" ng-credit-card-type="vm.ccType" ng-focus="vm.toggleCreditCardMask()" ng-blur="vm.toggleCreditCardMask()" ui-options="{ allowInvalidValue: true, clearOnBlur: false }"
            ui-mask="{{ vm.ccNumberMask }}" ui-mask-placeholder-char="" type="text" ng-disabled="$root.isLoading">
          <div ng-messages="paymentForm.ccNumber.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="mask">Enter a valid credit card.</div>
            <div ng-message="invalid">This credit card number is invalid.</div>
          </div>
      </md-input-container>
      <img class="credit-card-logo" ng-if="vm.ccType" ng-src="{{ vm.ccType.logo }}" alt="credit card logo" height="38" width="56">
    </div>

    <div layout="row" layout-align="start start" flex>
      <md-input-container flex class="positioned-top" flex="25">
        <label>Month</label>
        <md-select name="expDateMonth" ng-model="vm.expDate.month" ng-required="true" ng-disabled="$root.isLoading" ng-change="vm.checkExpirationDate()">
          <md-option id="exp-date-month" ng-value="opt" ng-repeat="opt in vm.months">{{ opt }}</md-option>
        </md-select>
        <div ng-messages="paymentForm.expDateMonth.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="past">The card is expired.</div>
        </div>
      </md-input-container>

      <md-input-container flex class="positioned-top" flex="25">
        <label>Year</label>
        <md-select name="expDateYear" ng-model="vm.expDate.year" ng-required="true" ng-disabled="$root.isLoading" ng-change="vm.checkExpirationDate()">
          <md-option id="exp-date-year" ng-value="opt" ng-repeat="opt in vm.years">{{ opt }}</md-option>
        </md-select>
        <div ng-messages="paymentForm.expDateYear.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block positioned-top" flex>
        <label>CVV</label>
        <input id="cvv" name="cvv" class="hosted-field" ng-required="true" ng-model="vm.cvvNumber" ng-focus="vm.toggleCvvMask()" ng-blur="vm.toggleCvvMask()" ui-mask="{{ vm.cvvMask }}" ui-options="{ allowInvalidValue: true, clearOnBlur: false }" ui-mask-placeholder-char=""
            type="text" ng-disabled="$root.isLoading">
          <div ng-messages="paymentForm.cvv.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="mask">Enter a valid cvv</div>
          </div>
      </md-input-container>

      <md-button class="md-icon-button information" ng-click="vm.showInfo()" md-no-ink="true" ng-disabled="$root.isLoading" aria-label="info">
        <md-icon>info</md-icon>
      </md-button>
    </div>

    <div flex></div>

    <div layout="row" layout-align="start center">
      <md-checkbox ng-model="vm.remember" name="remember card" aria-label="remember" ng-disabled="$root.isLoading">
        <span>Store card for future purchases?</span>
      </md-checkbox>
    </div>
  </md-card-content>
</md-card>

<div layout-gt-sm="row" layout="column" flex>
  <md-card flex ng-if="vm.selectedCard" layout="row" layout-align="space-between start">
    <div layout="column">
      <md-card-header class="no-top-bottom-padding">
        <h2>Billing address</h2>
      </md-card-header>
      <md-card-content class="billing-data" layout="column">
        <span>{{ vm.selectedCard.cardholder_name }}</span>
        <span>{{ vm.selectedCard.street_address }} {{ vm.selectedCard.extended_address }}</span>
        <span>{{ vm.selectedCard.city }}, {{ vm.selectedCard.state | uppercase }} {{ vm.selectedCard.zip_code }}</span>
        <span>{{ vm.selectedCard.country_name }}</span>
      </md-card-content>
    </div>
    <div layout="column">
      <md-card-header class="no-top-bottom-padding">
        <h2>Selected credit card</h2>
      </md-card-header>
      <md-card-content layout="row" layout-align="start center" flex>
        <img class="card-logo" ng-src="{{ vm.selectedCard.image_url }}" alt="credit card logo" height="38" width="56">
        <span class="masked-number">{{ vm.selectedCard.masked_number }}</span>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Remove" ng-click="vm.selectedCard = null">
          <md-tooltip>Change the credit card</md-tooltip>
          <md-icon>close</md-icon>
        </md-button>
      </md-card-content>
    </div>

  </md-card>
  <md-card flex>
    <md-card-content flex layout="row" layout-align="space-between center">
      <h1>Total charge today</h1>
      <h1 class="price">{{ vm.amount | currency }}</h1>
    </md-card-content>
  </md-card>
</div>
