<md-card ng-hide="!vm.orders.length" class="payment">
  <md-table-container>
    <table md-table ng-model="vm.orders"
           md-progress="promise">
      <thead md-head md-order="vm.query.order" class="header-row-blue">
        <tr md-row>
          <th md-column><span>Publisher</span></th>
          <th md-column md-order-by="url.domain_authority"><span>DA</span></th>
          <th md-column md-order-by="ad.campaign.name"><span>Campaign</span></th>
          <th md-column md-order-by="ad.blog_post_title"><span>Title</span></th>
          <th md-column md-order-by="ad.link.href"><span>Destination URL</span></th>
          <th md-column md-order-by="ad.link_text"><span>Anchor Text</span></th>
          <th md-column md-numeric md-order-by="url.shown_price"><span>Price</span></th>
          <th md-column><span>Remove</span></th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row
        ng-repeat="order in vm.filtered = (vm.orders | filter: vm.query.filter) | orderBy: vm.query.order
        | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
          <td md-cell ng-if="vm.createdFromQuote(order)">{{ order.url.href }}</td>
          <td md-cell ng-if="vm.createdFromSearch(order)">
            <md-button class="md-icon-button" aria-label="hidden">
              <md-tooltip>Get Quote to See Domains</md-tooltip>
              <md-icon>visibility_off</md-icon>
            </md-button>
          </td>
          <td md-cell>{{ order.url.domain_authority }}</td>
          <td md-cell data-ellipsis data-ng-bind="order.ad.campaign.name | limitTo: 30" data-ellipsis-append="...">
            <md-tooltip md-direction="bottom">
              {{ order.ad.campaign.name }}
            </md-tooltip>
          </td>
          <td md-cell md-cell data-ellipsis data-ng-bind="order.ad.blog_post_title | limitTo: 30"
              data-ellipsis-append="...">
              <md-tooltip md-direction="bottom">
                {{ order.ad.blog_post_title }}
              </md-tooltip>
          </td>
          <td md-cell data-ellipsis data-ellipsis-append="..."
            data-ng-bind="order.ad.link.href | limitTo: 30" >
            <md-tooltip md-direction="bottom">
              {{ order.ad.link.href }}
            </md-tooltip>
          </td>
          <td md-cell>{{ order.ad.link_text }}</td>
          <td md-cell>{{ order.url.shown_price | currency:undefined:0 }}</td>
          <td md-cell>
            <md-menu class="send-back">
              <md-button aria-label="Remove order" ng-click="vm.openMenu($mdOpenMenu, $event)"
                ng-disabled="$root.isLoading">
                <md-icon class="menu-icon">delete</md-icon>
                <md-icon class="menu-icon">arrow_drop_down</md-icon>
              </md-button>
              <md-menu-content width="2">
                <md-menu-item ng-show="order.origin == 'cart'" >
                  <md-button ng-click="vm.orderSendBack(order)">
                    Send Back to Cart
                  </md-button>
                </md-menu-item>
                <md-menu-item ng-show="order.origin == 'content'">
                  <md-button ng-click="vm.orderSendBack(order)">
                    Send back to Content Done
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>

          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>

  <md-table-pagination class="arrows-enabled" md-limit="vm.query.limit" md-page="vm.query.page"
                       md-total="{{ vm.filtered.length }}"
                       md-page-select="true" >
  </md-table-pagination>
</md-card>
