md-list {
  md-list-item {
    height: 4.8rem;

    h2 {
      margin: 0;
    }

    .hidden-div {
      height: 0;
    }
  }
}

.xls-container {
  padding: 0;
}

.item-active {
  align-items: baseline;
  min-height: 30rem;
  transition: all 1s linear;
}

.accordion {
  md-checkbox {
    margin: .6rem;
    padding: 0;
  }

  span {
    font-size: 1.5em;

    &.title {
      color: $dark-grey;
      margin-bottom: -2rem;
    }

    &.price {
      font-size: 2em;
      color: $primary;
    }
  }

  .md-button {
    max-height: 15rem;
    font-size: 1em;

    span {
      font-size: 1em;
      text-transform: none;
    }
  }

  md-input-container label {
    font-size: 1.6em;
  }

  md-expansion-panel .md-expansion-panel-icon {
    cursor: pointer;
  }

  md-expansion-panel-header {
    &.green-background {
      background-color: $green-submit;
    }

    .md-expansion-panel-header-container {
      padding-left: 0;
      background-color: transparent;
    }
  }

  .quote-sub-form {
    padding-left: 3.4rem;
  }

  .centered-headers {
    padding-left: 5rem;
  }
}

.md-tab {
  font-size: 1.7em;

  &.md-active {
    color: $orange-tabs !important;
  }

  md-tab-items {
    padding-top: 1.2rem;
  }
}

md-icon.arrow-back {
  padding-top: .2rem;
}

.text-info {
  color: $primary;
  font-size: 1.6em;
}

md-expansion-panel md-expansion-panel-collapsed {
  &.green-background {
    background-color: $green-submit;
  }
}

.chevrons {
  cursor: pointer;
}

.campaign-name {
  font-weight: 700;
}

.quotes-divider {
  border-right-width: .2rem !important;
  padding: 2rem .5rem 1rem 0;
}

.xls-icon {
  padding: 0;
  margin: 0;
  width: 5rem;
  height: 5rem;
}

.input-separation {
  padding: 0 1.5rem;
}

.new-quotes-container {
  .range-selectors-container {
    margin: 0 8rem;

    .da-range-container {
      margin-right: 3rem;
    }

    .tf-range-container {
      margin-left: 1rem;
    }

    .rzslider .rz-pointer {
      margin-left: .7rem;
    }

    .rzslider .rz-tick.rz-selected {
      background: $primary;
    }

    .rzslider .rz-bar {
      left: .7rem;
    }
  }

  .info-icons {
    md-icon svg {
      fill: $accent;
    }
  }
  .authors-container {
    padding: 2rem 0;

    md-radio-group {
      margin-left: 2rem;
    }

    .error-message {
      padding-left: 2rem;
    }
  }
}

.selectable-box {
  cursor: pointer;
}

.da-range-container, .tf-range-container {

  .tf-range-container {
    margin-left: 1rem;
  }

  .rzslider .rz-bar {
    background-color: $divider;
  }
  
  .rzslider .rz-selection {
    background-color: $primary2;
  }

  .rzslider .rz-pointer {
    margin-left: .7rem;
    background-color: $primary2;
  }

  .rzslider .rz-tick.rz-selected {
    background: $primary;
  }

  .rzslider .rz-bar {
    left: .7rem;
  }
}

div.quotes-for {
  h2.campaign-name {
    font-size: 20px;
  }

  .accordion span {
    font-size: 1.2em;
  }
}

.quotes-received  md-card {
  font-size:1em;
}

.quotes-received  md-card > div {
  padding: 17px 0 17px 8px;
}
