<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Notes Between You and Advertiser</h2>
    </div>
  </md-toolbar>

  <md-dialog-content layout="column" layout-padding>
    <div ng-repeat="note in noteCtrl.notes">
      <p class="notes-content">
        {{ note.creator | capitalize }}: <span> {{ note.note }} </span> - <span>  {{ note.created_at | date: 'short' }} </span>
      </p>
    </div>
  </md-dialog-content>

  <md-divider></md-divider>

  <md-dialog-actions layout="row" layout-align="end center">
    <md-button class="md-accent" ng-click="noteCtrl.ok()" ng-disabled=" $root.isLoading">
      Ok
    </md-button>
  </md-dialog-actions>
</md-dialog>
