<md-dialog class="edit-dialog-container">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{newUrlCtrl.title}}</h2>
    </div>
  </md-toolbar>
  <md-dialog-content layout="column">
    <form name="form" layout-padding>
      <div layout="column">
        <!-- <md-input-container class="domain-hint md-block"> -->
        <form class="form-group">
          <label>URL</label>
          <input class="form-control" url-input required name="url" ng-model="newUrlCtrl.url.href"
            ng-disabled="$root.isLoading" placeholder="http://www.awesome.site.com">
          <span class="error-message" ng-if="newUrlCtrl.showMinValues">
            Minimum MOZ Domain Authority is 15 and Majestic Trust Flow is 10
          </span>
          <div class="errors2" ng-messages="form.url.$error" multiple md-auto-hide="false">
            <div ng-message="required">This is required.</div>
            <div ng-message="pattern">This doesn't appear to be a valid URL. Please fix to move forward.</div>
          </div>
        </form>
        <!-- </md-input-container> -->
      </div>
    </form>
    <md-divider></md-divider>

    <md-dialog-actions layout="row" layout-align="end center">
      <md-button class="md-accent" ng-click="newUrlCtrl.cancel()" ng-disabled=" $root.isLoading">
        Cancel
      </md-button>
      <md-button class="md-accent" ng-click="newUrlCtrl.submit()" ng-disabled="newUrlCtrl.showMinValues || form.$invalid || $root.isLoading">
        Save
      </md-button>
    </md-dialog-actions>
  </md-dialog-content>
</md-dialog>
