<div class="dialog-container" layout-align="center center">
  <md-dialog>
    <md-dialog-content>
      <md-toolbar flex>
        <div class="md-toolbar-tools">
          <h2>Upload Spreadsheet</h2>
        </div>
      </md-toolbar>

      <div layout-padding flex>
        <div class="md-dialog-content">
          <p>PLEASE REVIEW THIS EXAMPLE BEFORE UPLOADING</p>
        </div>
        <div class="upload-modal">
          <table class="csv-modal">
            <tr>
              <th>URL</th>
              <th ng-if="csvModalCtrl.isContributor">
                Author Page
              </th>
              <th ng-if="csvModalCtrl.isContributor">
                Describe what you write about
              </th>
              <th>
                Do Follow Links?
              </th>
              <th>
                Alow Home Page Links?
              </th>
              <th>
                Only Link to Blog Posts?
              </th>
              <th>
                750-1000 words?
              </th>
              <th>
                1000-1250 words?
              </th>
              <th>
                1250-1500 words?
              </th>
              <th>
                1500+ words?
              </th>
              <th>
                Best Price
              </th>
            </tr>

            <tbody>
              <tr>
                <td>https://HealthWebSite.com</td>
                <td ng-if="csvModalCtrl.isContributor">
                  https://HealthWebSite.com<br />/author/Jane-Doe
                </td>
                <td class="wrap-description" ng-if="csvModalCtrl.isContributor">
                  I am one of the most popular authors on this site.
                </td>
                <td>Yes</td>
                <td>No</td>
                <td>Yes</td>
                <td>&times</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
                <td>{{ csvModalCtrl.getPrice() }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <md-card-content class="selected-file" ng-show="csvModalCtrl.csv" flex layout="row"
                          layout-align="center center">
          <md-input-container class="normal-input" flex>
            <label>Selected csv file</label>
            <input name="csv" class="highlighted" disabled ng-model="csvModalCtrl.csv.name">
          </md-input-container>
          <md-button class="md-accent" ng-if="csvModalCtrl.csv"
                     ng-click="csvModalCtrl.clearCsv()">
            Remove
          </md-button>
        </md-card-content>
      </div>
      <md-divider></md-divider>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="end center">
      <a class="btn btn-white btn-small" ng-href="{{csvModalCtrl.getFileRoute()}}"
        ng-click="csvModalCtrl.download()">
        Download Sample File
      </a>

      <md-button class="btn btn-white btn-small" type="file" ngf-select class="md-accent"
                 ng-model="csvModalCtrl.csv" name="csv" ngf-accept="'.xlsx, .csv'"
                 ng-disabled="!$root.sampleDownloaded">
        Select file
      </md-button>

      <md-button class="btn btn-white btn-small" ng-click="csvModalCtrl.submit()"
        ng-disabled="!$root.sampleDownloaded">
        Upload
      </md-button>
    </md-dialog-actions>
  </md-dialog>
</div>
