.grid-container {
  max-height: 100%;
  height: 80%;
  max-width: 90%;

  h2 {
    padding: 2rem 0;
  }

  .info-text {
    padding: 1rem 1rem;
    font-size: 1.6em;
    font-style: italic;
  }

  .grid {
    h2 {
      font-weight: bold;
      font-size: 1.6em;
    }

    table {
      border-collapse: collapse;
      font-size: 1.6em;

      th {
        padding-bottom: 1.2rem;
      }

      tr {
        text-align: center;
      }

      tr td:first-child {
        border: none;
      }

      td {
        border: .1rem solid $divider;
        padding: 1.2rem 2rem;
      }

      td, th {
        &.index {
          color: $dark-grey;
          font-weight: normal;
        }
      }

      .around {
        &:not(:first-child) {
          background-color: $green;
          color: $black;
        }
      }

      .select {
        &:not(:first-child) {
          background-color: $dark-green;
          color: $white;
        }
      }
    }
  }
}
