<div class="grid" layout-padding layout="column" layout-align="center center">
  <h2 class="title">
    Majestic Trust Flow
  </h2>
  <div layout="row" layout-align="start center">
    <h2 class="title">
        Moz
        <br>
        Domain
        <br>
        Authority
      </h2>
    <table>
      <tr>
        <th class="index" ng-repeat="index in vm.matrix[0]">{{ index }}</th>
      </tr>
      <tr ng-repeat="(key, row) in vm.matrix" ng-if="$index > 0">
        <td ng-init="id = ((key - 1) * vm.rows) + $index + key - 1" id="id"
            ng-class="{ index: $first, around: vm.isAround(id), select: vm.isTarget(id) }"
            ng-repeat="value in row">{{ value }}
        </td>
      </tr>
    </table>
  </div>
</div>
