<div layout="row" layout-align="space-between start">
  <div layout="column">
    <md-subheader class="md-no-sticky">
      <h2>Resubmitted Content</h2>
    </md-subheader>
  </div>
</div>

<md-card ng-hide="resCtrl.resubmitted.length === 0" >
  <md-table-container>
    <table md-table ng-model="resCtrl.resubmitted"
           md-progress="promise" flex>
      <thead class="header-row-blue" md-head md-order="resCtrl.query.order">
        <tr md-row>
          <th md-column md-order-by="url.profile_name"><span>Profile Name</span></th>
          <th md-column md-order-by="url.href"><span>URL</span></th>
          <th md-column md-numeric md-order-by="url.price"><span>Payout</span></th>
          <th md-column md-order-by="rejected_reason" md-desc><span>1st Rejected Reason</span></th>
          <th md-column><span>Notes</span></th>
          <th md-column><span>Get Content</span></th>
          <th md-column><span>Approve</span></th>
          <th md-column><span>Reject Again</span></th>
        </tr>
      </thead>
      <tbody md-body flex>
        <tr md-row ng-repeat="order in resCtrl.filtered = (resCtrl.resubmitted | filter: resCtrl.query.filter) | orderBy: resCtrl.query.order
        | limitTo: resCtrl.query.limit : (resCtrl.query.page -1) * resCtrl.query.limit">

          <td md-cell data-ellipsis data-ng-bind="order.url.profile_name | limitTo: 30"
              data-ellipsis-append="...">
            <md-tooltip md-direction="bottom">
              {{ order.url.profile_name }}
            </md-tooltip>
          </td>

          <td md-cell data-ellipsis data-ng-bind="order.url.href | limitTo: 30"
              data-ellipsis-append="...">
            <md-tooltip md-direction="bottom">
              {{ order.url.href }}
            </md-tooltip>
          </td>

          <td md-cell class="price">
            ${{ order.url.price }}
          </td>

          <td md-cell class="rejected-reason" data-ellipsis data-ng-bind="order.rejected_reason | limitTo: 30 | capitalize"
              data-ellipsis-append="...">
            <md-tooltip md-direction="bottom">
              {{ order.rejected_reason }}
            </md-tooltip>
          </td>

          <td md-cell class="action">
            <md-button class="md-icon-button primary-color-svg" aria-label="description"
                       ng-show="order.notes"
                       ng-click="resCtrl.showNotes($event, order)">
              <md-icon md-svg-src="{{ resCtrl.showNotesIcon() }}"></md-icon>
            </md-button>
          </td>

          <td md-cell class="action">
            <md-button class="md-icon-button md-primary" aria-label="description"
                       ng-href="{{order.word.url}}" target="_blank"
                       ng-show="order.word"
                       ng-click="resCtrl.downloadContent($event, order)">
              <md-icon>
                file_download
              </md-icon>
            </md-button>
            <md-button class="md-icon-button md-primary" aria-label="description"
                       ng-show="order.blog_post_body"
                       ng-click="resCtrl.downloadContent($event, order)">
              <md-icon>
                file_download
              </md-icon>
            </md-button>
          </td>

          <td md-cell>
            <a class="actions md-primary" ng-click="resCtrl.approve(order)">
              Approve
            </a>
          </td>

          <td md-cell>
            <a class="actions md-primary" ng-click="resCtrl.decline(order)">
              Reject
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>

  <md-table-pagination md-limit="resCtrl.query.limit" md-page="resCtrl.query.page"
                       md-total="{{ resCtrl.filtered.length }}"
                       md-page-select="true">
  </md-table-pagination>
</md-card>



<md-subheader ng-hide="resCtrl.resubmitted.length > 0" class="md-no-sticky no-items"
              layout="row" layout-align="center center">
  <h2 class="no-items">No content to display</h2>
</md-subheader>
