<div class="content-section">
  <div class="content-section__header">
    <div class="content-section__back"><a class="btn btn-white" ui-sref="adv-dash"><svg class="icon icon--chevron">
          <use xlink:href="assets/images/icons.svg#chevron"></use>
        </svg><span>Back</span></a></div>
    <h2 class="content-section__title">Pending Approval</h2>
    <div class="content-section__right">
      <form class="search-widget" ng-submit="repAwaitingCtrl.search()">
        <input ng-model="repAwaitingCtrl.query.filter" ng-change="repAwaitingCtrl.search()"
          class="form-control" placeholder="Search..."
          ng-disabled="repAwaitingCtrl.awaitingAds.length === 0">
        <button type="submit">
          <svg class="icon icon--search"><use xlink:href="assets/images/icons.svg#search"></use></svg>
        </button>
      </form>
    </div>
  </div>
  <div class="content-section__content">
    <div class="active-ads">
      <div class="active-ads__section active-ads__section--submit">
        <h5 ng-hide="repAwaitingCtrl.awaitingAds.length > 0" class="active-ads__section-title">No Pending Content</h5>
        <div class="active-ads__section-content d-lg-block" ng-hide="repAwaitingCtrl.awaitingAds.length === 0">
            <md-table-container>
                <table class="table" md-table ng-model="repAwaitingCtrl.awaitingAds"
                        md-progress="promise">
                  <thead md-head md-order="repAwaitingCtrl.query.order">
                    <tr md-row>
                      <th class="date" md-column md-order-by="requested_date"><a class="btn btn-link" href="javascript:void(0)"><span>Date ordered</span></a></th>
                      <th class="campaign" md-column md-order-by="campaign.name"><a class="btn btn-link" href="javascript:void(0)"><span>Campaign</span></a></th>
                      <th class="publisher" md-column md-order-by="url.href" md-desc><a class="btn btn-link" href="javascript:void(0)"><span>Publisher</span></a></th>
                      <th class="da" md-column md-order-by="url.domain_authority"><a class="btn btn-link" href="javascript:void(0)"><span>DA</span></a></th>
                      <th class="cost" md-column md-order-by="url.shown_price"><a class="btn btn-link" href="javascript:void(0)"><span>Cost</span></a></th>
                      <th class="url" md-column md-order-by="link.href"><a class="btn btn-link" href="javascript:void(0)"><span>Destination URL</span></a></th>
                      <th class="action" md-column><a class="btn btn-link" href="javascript:void(0)"><span>Download content</span></a></th>
                    </tr>
                  </thead>
                  <tbody md-body>
                    <tr md-row
                    ng-repeat="ad in repAwaitingCtrl.filtered = (repAwaitingCtrl.awaitingAds | filter: repAwaitingCtrl.query.filter) | orderBy: repAwaitingCtrl.query.order
                    | limitTo: repAwaitingCtrl.query.limit : (repAwaitingCtrl.query.page -1) * repAwaitingCtrl.query.limit">
                      <td md-cell>{{ ad.requested_date | date:'MM-dd-yyyy' }}</td>
                      <td md-cell data-ellipsis data-ng-bind="ad.campaign.name"
                          data-ellipsis-append="...">
                        <md-tooltip md-direction="bottom">
                          {{ ad.campaign.name }}
                        </md-tooltip>
                      </td>
                      <td md-cell data-ellipsis data-ng-bind="ad.url.href"
                          data-ellipsis-append="...">
                        <md-tooltip md-direction="bottom">
                          {{ ad.url.href }}
                        </md-tooltip>
                      </td>
                      <td md-cell>{{ ad.url.domain_authority }}</td>
                      <td md-cell>{{ ad.url.shown_price | currency:"$":0 }}</td>
                      <td md-cell class="url" data-ellipsis data-ng-bind="ad.link.href | limitTo: 30"
                          data-ellipsis-append="...">
                        <md-tooltip md-direction="bottom">
                          {{ ad.link.href }}
                        </md-tooltip>
                      </td>
                      <td md-cell>
                        <a class="btn btn-download" aria-label="description"
                            ng-href="{{ad.word.url}}" target="_blank"
                            g-show="ad.word"
                            ng-click="repAwaitingCtrl.downloadContent($event, ad)">
                          <svg class="icon icon--download">
                          <use xlink:href="assets/images/icons.svg#download"></use>
                        </svg></a>
                        <a class="btn btn-download" aria-label="description"
                            ng-href="javascript:void(0)" ng-show="ad.blog_post_body"
                            ng-click="repAwaitingCtrl.downloadContent($event, ad)">
                          <svg class="icon icon--download">
                          <use xlink:href="assets/images/icons.svg#download"></use>
                        </svg></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </md-table-container>
            
              <md-table-pagination md-limit="repAwaitingCtrl.query.limit" md-page="repAwaitingCtrl.query.page"
                                    md-total="{{ repAwaitingCtrl.filtered.length }}"
                                    md-page-select="true" >
              </md-table-pagination>
        </div>
      </div>

    </div>
  </div>
</div>
