.billing-container {
  .billing-content {
    padding-bottom: 5rem;
  }

  md-card {
    margin-left: 0;
    margin-right: 0;

    .accordion {
      height: 20rem;
    }

    .card-billing {
      padding: 0 0 1rem 1rem;
    }
  }

  md-expansion-panel-collapsed .md-summary {
    p {
      margin-top: 0;
      margin-bottom: 0;
      padding-right: 5rem;
      display: inline;
      color: $dark-grey;
    }
  }

  md-expansion-panel-collapsed .md-title {
    font-size: 1.5em;
    max-width: 20rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    padding-right: 5rem;
  }

  md-expansion-panel-expanded .md-summary {
    p {
      margin-top: 0;
      margin-bottom: 0;
      padding-right: 5rem;
      display: inline;
      color: $dark-grey;
    }
  }

  md-expansion-panel-expanded .md-title {
    font-size: 1.5em;
    max-width: 20rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    padding-right: 5rem;
  }

  md-expansion-panel.md-open:first-of-type {
    margin-top: 1.6rem;
  }
}
