<div class="billing-container">

  <div layout="row" layout-align="space-between center">
    <md-subheader class="md-no-sticky">
      <h2>Billing</h2>
    </md-subheader>
    <md-button class="md-raised full-accent" ui-sref="show-profile" ng-disabled="$root.isLoading" aria-label="back to my account">
      Back to my account
    </md-button>
  </div>

  <div class="billing-content">
    <div dir-paginate="invoice in billCtrl.invoices | itemsPerPage: billCtrl.perPage"
      current-page="billCtrl.query.page" total-items="billCtrl.total_invoices">
      <md-expansion-panel md-component-id="expansionPanelOne">
        <md-expansion-panel-collapsed layout-gt-sm="row" layout="column" flex>
          <div class="md-title">
            Date purchased: {{ invoice.date_purchased | date:'MM-dd-yyyy'}}
          </div>
          <div class="md-summary">
            <p>
              Total blog posts ordered: {{ invoice.total_orders }}
            </p>
            <p>
              Total accepted: {{ invoice.total_accepted }}
            </p>
            <p>
              Total charged: {{ invoice.total_charged }}
            </p>
          </div>
          <md-expansion-panel-icon></md-expansion-panel-icon>
        </md-expansion-panel-collapsed>
        <md-expansion-panel-expanded>
          <md-expansion-panel-header>
            <div class="md-title">
              Date purchased: {{ invoice.date_purchased | date:'MM-dd-yyyy' }}
            </div>
            <div class="md-summary">
              <p>
                Total blog posts ordered: {{ invoice.total_orders }}
              </p>
              <p>
                Total accepted: {{ invoice.total_accepted }}
              </p>
              <p>
                Total charged: {{ invoice.total_charged }}
              </p>
            </div>
            <md-expansion-panel-icon ng-click="$panel.collapse()"></md-expansion-panel-icon>
          </md-expansion-panel-header>

          <md-expansion-panel-content>
            <md-table-container>
              <table md-table ng-model="invoice.orders" md-progress="promise">
                  <thead md-head md-order="billCtrl.query.order">
                    <tr md-row>
                      <th md-column flex="20"><span>Publisher</span></th>
                      <th md-column md-order-by="url.domain_authority" flex="20"><span>DA</span></th>
                      <th md-column md-order-by="ad.campaign.name" flex="5"><span>Campaign</span></th>
                      <th md-column  md-order-by="url.price" flex="20"><span>Cost</span></th>
                      <th md-column flex="20"><span>Live Link</span></th>
                    </tr>
                  </thead>
                  <tbody md-body>
                    <tr md-row ng-repeat="ad in invoice.orders |
                      orderBy: billCtrl.query.order |
                      limitTo: billCtrl.query.limit : (billCtrl.query.page -1) * billCtrl.query.limit">

                      <td md-cell data-ellipsis data-ng-bind="ad.url.href | limitTo: 30"
                          data-ellipsis-append="...">
                        <md-tooltip md-direction="bottom">
                          {{ ad.url.href }}
                        </md-tooltip>
                      </td>

                      <td md-cell>{{ ad.url.domain_authority }}</td>

                      <td md-cell data-ellipsis data-ng-bind="ad.ad.campaign.name | limitTo: 20"
                          data-ellipsis-append="...">
                        <md-tooltip md-direction="bottom">
                          {{ ad.campaign.name }}
                        </md-tooltip>
                      </td>
                      <td md-cell>${{ ad.url.shown_price }}</td>

                      <td md-cell>
                        <a ng-href="{{ ad.ad.full_pub_url }}" target="_blank">Click Here</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </md-table-container>

              <md-table-pagination md-limit="billCtrl.query.limit" md-page="billCtrl.query.page"
                                   md-total="{{ invoice.orders.length }}"
                                   md-page-select="true" >
              </md-table-pagination>
          </md-expansion-panel-content>
        </md-expansion-panel-expanded>
      </md-expansion-panel>
    </div>
  </div>

  <dir-pagination-controls max-size="billCtrl.maxSize" on-page-change="billCtrl.paginateInvoices(newPageNumber, oldPageNumber)"></dir-pagination-controls>

  <md-subheader ng-hide="billCtrl.invoices.length > 0" class="md-no-sticky"
                layout="row" layout-align="center center">
    <h2>No results found</h2>
  </md-subheader>
</div>
