.as-metrics-cell {
  padding: 5px;
}

.content-link {
  width: 35rem;
}

.card-value {
  margin-right: 2rem;
  padding-left: 2rem;

  h3 {
    font-size: 1.8em;
    margin: 0;
  }

  p {
    font-size: 1.3em;
    max-height: 6rem;
    max-width: 50rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  span {
    font-size: 2.3em;
    padding-right: 2.3rem;
  }

  &.description-container {
    width: 100%;
  }
}

.url-price {
  font-size: 2.4em;
}

@media (min-width: 960px) and (max-width: 1080px) {
  .url-price {
    font-size: 1.9em;
  }
}

.href-title {
  overflow-x: hidden;
}

.card-no-padding {
  padding: 0 .8rem 0 0;

  .avatar-container {
    padding: 0;

    label {
      font-size: 1.4em;
      color: $primary;
      max-height: 6rem;
      max-width: 25rem;
      padding-left: 1.8rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    span {
      margin-bottom: -.2rem;
    }
    .avatar-picture {
      padding: 0;
      margin: 0;
      width: 10rem;
      height: 10rem;
    }
  }
}

.campaign-row {
  .display-table {
    display: table;
  }

  .display-table-row {
    display: table-row;
  }

  .display-table-cell {
    display: table-cell;
  }

  .url-desc {
    max-height: 40px;
    max-width: 480px;
  }
}
