<div class="campaign-row">
  <div class="campaign-row__content">
    <div class="campaign-row__cell campaign-row__cell--image">
      <div ng-if="vm.hasImage()" class="campaign-row__image"><img ng-src="{{ vm.getImage() }}" alt></div>
      <div ng-if="!vm.hasImage()" class="campaign-row__image">
        <div class="image-placeholder">
          <div class="image-placeholder__icon"><svg class="icon icon--mask">
              <use xlink:href="assets/images/icons.svg#mask"></use>
            </svg></div>
          <div class="image-placeholder__label">No image</div>
        </div>
      </div>
    </div>
    <div class="campaign-row__cell campaign-row__cell--main">
      <div class="display-table">
        <div class="display-table-row">
          <div class="as-metrics-cell display-table-cell">{{ vm.url.domain_authority }}</div>
          <div class="as-metrics-cell display-table-cell">{{ vm.url.trust_flow }}</div>
          <div class="display-table-cell">{{ vm.url.citation_flow }}</div>
        </div>
        <div class="display-table-row">
          <div class="as-metrics-cell display-table-cell"><h6>DA</h6></div>
          <div class="as-metrics-cell display-table-cell"><h6>TF</h6></div>
          <div class="as-metrics-cell display-table-cell"><h6>CF</h6></div>
        </div>
      </div>
    </div>
    <div class="campaign-row__cell campaign-row__cell--types">
      <div class="campaign-row__label"><p data-ng-bind="vm.url.description" data-ellipsis class="url-desc"></p></div>
    </div>
    <div class="campaign-row__cell campaign-row__cell--buttons">
      {{ vm.url.shown_price | currency:undefined:0 }}/post
      <md-button class="btn btn-white" ng-click="vm.checkIfOrdered()"
        ng-disabled="vm.added() || $root.isLoading">Add to cart</md-button>
    </div>
  </div>
</div>
