.header__main-menu li:nth-last-child(2) {
  margin-left: unset;
}

.header__main-menu li:nth-child(5) {
  -webkit-box-ordinal-group: unset;
  order: unset;
  -ms-flex-order: unset;
}

.ext-user-menu__dropdown {
  right: 25px;
}

.ext-user-menu__dropdown li a {
  font-size: 14px;
  text-transform: initial;
}
.ext-user-menu__dropdown li a:hover {
  color: $dark-grey2;
}

@media only screen and (max-width: 768px) {
  .header__main-menu .desktop-only {
    display: none;
  }
}
@media only screen and (min-width: 769px) {
  .header__main-menu .mobile-only {
    display: none;
  }
}
