<div class="application__header">
  <div class="header" ng-class="{'header--menu-shown': vm.mobileMenuActive}">
    <div class="header__content">
      <a class="header__logo" href="https://www.scalefluence.com"><img src="assets/images/logo.svg" alt></a>
      <ul class="header__main-menu">
        <li style="margin-left: auto;"><a ng-click="vm.setMobileMenuInactive()" href="https://www.scalefluence.com/influencers/">Home</a></li>
        <li><a ng-click="vm.setMobileMenuInactive()" href="https://www.scalefluence.com/influencers/">Influencers</a></li>
        <li><a ng-click="vm.setMobileMenuInactive()" href="https://www.scalefluence.com/agencies/">Agencies</a></li>
        <li><a ng-click="vm.setMobileMenuInactive()" href="https://www.scalefluence.com/brands/">Brands</a></li>
        <li><a ng-click="vm.setMobileMenuInactive()" href="https://www.scalefluence.com/blog">Blog</a></li>
        <li><a ng-click="vm.setMobileMenuInactive(); vm.setLoginMenuInactive()" ui-sref="sign-in">Login</a></li>
        <li class="desktop-only"><a href='javascript:void(0)' ng-click="vm.setMobileMenuInactive(); vm.toggleLoginMenu()">Signup</a>
          <div ng-if="vm.loginMenuActive" ng-mouseleave="vm.setLoginMenuInactive()"  class="user-menu">
          <ul class="user-menu__dropdown ext-user-menu__dropdown">
            <li><a ui-sref="sign-up({accountType: 'agency'})"><svg class="icon icon--plus-user">
              <use xlink:href="assets/images/icons.svg#plus-user"></use>
                </svg><span>Agencies / Brands</span></a></li>
            <li><a ui-sref="sign-up({accountType: 'influencer'})"><svg class="icon icon--plus-user">
                  <use xlink:href="assets/images/icons.svg#plus-user"></use>
                </svg><span>Bloggers / Influencers</span></a></li>
          </ul>
          </div>
        </li>
        <li class="mobile-only"><a ui-sref="sign-up({accountType: 'agency'})">Signup -> Agencies / Brands</a></li>
        <li class="mobile-only"><a ui-sref="sign-up({accountType: 'influencer'})">Signup -> Bloggers / Influencers</a></li>
      </ul>
      <div class="header__mobile-menu" style="margin-left: auto;">
        <button type="button" ng-click="vm.toggleMobileMenu()"><span></span><span></span><span></span></button>
      </div>
    </div>
  </div>
</div>