<div class="categories">
  <div class="categories__header">
    <h6 class="categories__title">Categories &amp; Strings</h6>
  </div>
  <div style="display: flex;">
    <div class="chips-bg">
      <md-chips ng-model="vm.categories" class="md-no-underline user-chips"
                md-add-on-blur="false"
                md-on-remove="vm.onRemove($chip)" md-require-match flex
                md-on-add="vm.onAdd($chip, true)" class="no-shadows">
        <md-autocomplete flex md-search-text="vm.searchText" md-clear-button="true" md-highlight-flags="$"
                        md-items="item in vm.querySearch(vm.searchText)" md-item-text="item.name" md-no-cache="true"
                        placeholder="{{ vm.placeholder }}" md-autoselect="false" md-autofocus="false">
          <span ng-if="!item.byKeywords || !item.activeKey" md-highlight-text="vm.searchText" id="virtualOptionsParent" md-highlight-flags="i">
            {{ item.name }}
          </span>
          <span ng-if="item.byKeywords && item.activeKey" md-highlight-text="vm.searchText" id="virtualOptionsParent" md-highlight-flags="i">
            {{ item.activeKey }}
          </span>
        </md-autocomplete>
        <md-chip-template search-chip>
          <span>
            <strong>{{ vm.chipName($chip) }}</strong>
          </span>
        </md-chip-template>
      </md-chips>
    </div>
    <button ng-hide="vm.hideInput" class="btn btn-white btn-search" ng-if="vm.search"
      ng-click="vm.checkChips(vm.searchText); vm.search()"
      ng-disabled="vm.categories.length === 0">Search Pubs</button>
  </div>
  <div class="categories__show-control-btn d-none d-md-block" ng-hide="vm.hideToggle">
    <button class="btn btn-link" ng-click="vm.toggleCatList()">Show/Hide Categories</button>
  </div>
  <ul ng-hide="vm.hideCategories" class="categories__list">
    <li
      ng-repeat="category in vm.mCategories">
      <a ng-click="vm.toggleCategory(category)"
        ng-class="{ 'selected': vm.isSelected(category) }"
        href="">{{ category.name }}</a>
    </li>
  </ul>
</div>
