.filter-component-container {
  .button-search {
    height: 4.8rem;
    margin-top: .8rem;
  }

  .user-chips {
    md-chips-wrap.md-chips {
      md-chip {
        &.user {
          border-radius: 1.6rem;
          background-color: $user-word-chip;
        }
      }
    }
  }

  md-chips.md-chips {
    width: 100%;
  }

  md-chips .md-chips,
  md-chips.md-default-theme .md-chips {
    box-shadow: none;
  }

  md-chips-wrap.md-chips {
    box-shadow: none;
    padding: .8rem 1rem;

    &.md-focused {
      box-shadow: none;
    }

    .md-chip-input-container.ng-scope {
      margin: 0;
      width: 53rem;
    }

    md-chip {
      border-radius: 0;
      margin: 0 .5rem .3rem 0;
      background-color: $primary;
      color: $white;
      padding-right: 3rem;

      md-chip-template {
        font-size: .9em;
      }
    }
  }

  md-icon {
    min-height: 2.1rem;
  }

  .category {
    min-width: 18rem;

    &.md-button.md-raised {
      background: $category-background;
      color: $dark-text;
      font-size: 1.4em;
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;

      &.selected-category {
        background-color: $primary;
        color: $white;
      }
    }
  }
}

.md-chips .md-chip-input-container md-autocomplete input {
  font-size: 14px;
}

.md-chips.md-removable md-chip.user {
  color: #ff6602;
}
md-chips md-chip.user md-icon {
  color: #ff6602;
}

.categories .chips-bg {
  border: 1px solid $bg-off-white;
  border-radius: 6px;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
}

.categories .btn-search {
  width: 185px;
  margin-left: 10px;
  margin-top: 5px;
  white-space: nowrap;
}
