<div class="view-quotes__tab-content__title">Please allow up to two business days</div>
<div class="view-quotes__tab-content__table">
  <h2 ng-hide="qPenCtrl.contents.length > 0">No quotes received</h2>
  <div dir-paginate="quote in qPenCtrl.contents | itemsPerPage: qPenCtrl.perPage" pagination-id="qPenCtrl.dirId">
      <md-card class="accordion">
        <div layout="column">
          <md-button class="md-no-style" layout="row" layout-padding ng-click="qPenCtrl.toggleQuote(quote)">
            <span flex="40">Quote for:
              {{ quote.campaign.name }}</span>
              <div layout="row" layout-align="end center" flex="60">
                <span flex="60">{{ qPenCtrl.getDoingContentText(quote) }}</span>
                <span flex="20">{{ quote.date | date:'MM-dd-yyyy' }}</span>
              </div>
          </md-button>
          <md-divider></md-divider>
    
          <md-content ng-show="quote.show" ng-init="qPenCtrl.hideQuote(quote)">
            <div layout="row" layout-padding layout-align="start">
              <div layout="column" layout-align="start start">
                <md-subheader class="md-no-sticky">
                  <h5>Trust Flow</h5>
                </md-subheader>
                <h2 layout-padding>{{ quote.trust_flow_min }} - {{ quote.trust_flow_max }}</h2>
              </div>
              <div layout="column" layout-align="start start">
                <md-subheader class="md-no-sticky">
                  <h5>Domain Authority</h5>
                </md-subheader>
                <h2 layout-padding>{{ quote.domain_authority_min }} - {{ quote.domain_authority_max }}</h2>
              </div>
              <div flex>
              </div>
              <div layout="column" layout-align="start start" flex="40">
                <md-subheader class="md-no-sticky">
                  <h5>Categories</h5>
                </md-subheader>
                <md-chips class="rounded" ng-model="quote.categories" ng-attr-readonly="true">
                  <md-chip-template>
                    {{$chip.name}}
                  </md-chip-template>
                </md-chips>
              </div>
            </div>
            <md-divider></md-divider>
          </md-content>
        </div>
      </md-card>
    </div>
    
    <dir-pagination-controls max-size="6" on-page-change="qPenCtrl.goTop()" pagination-id="qPenCtrl.dirId"></dir-pagination-controls>
</div>
