
<md-dialog md-theme="default">
  <div class="md-toolbar-tools">
    <h2 class="sub-title">How to Deal with Rejection</h2>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="repRejCtrl.cancel()">
      <md-icon aria-label="Close dialog">close</md-icon>
    </md-button>
  </div>
  <md-dialog-content class="md-dialog-content highlight-words" role="document">
    <ul>
      <li>Publishers can either fully reject the post, or allow you to make edits</li>
      <br>
      <li>Download the content first, then check the notes.</li>
      <br>
      <li>After that, the Pencil Icon will appear blue or remain greyed out.</li>
      <br>
      <li>
        <a>If the Pencil Icon is blue (publisher is allowing edits):</a>
        <ul>
          <li>Click the Notes Icon to read what needs to be corrected</li>
          <li>Make edits on the Word doc and save it</li>
          <li>Click the Pencil Icon</li>
          <li>Make sure the word matches: Title | Destination URL | Anchor Text</li>
          <li>Upload the edited content</li>
        </ul>
      </li>
      <br>
      <li>If the Pencil Icon is greyed out (publisher rejected content outright):
        <ul>
        <li>Save content for another publisher</li>
        <li>Delete the item</li>
        </ul>
      </li>
    </ul>
  </md-dialog-content>
</md-dialog>
