<div class="content-section rejected-wrapper">
  <div class="content-section__header">
    <div class="content-section__back"><a class="btn btn-white" ui-sref="adv-dash"><svg class="icon icon--chevron">
          <use xlink:href="assets/images/icons.svg#chevron"></use>
        </svg><span>Back</span></a></div>
    <h2 class="content-section__title">Rejected Content</h2>
    <div class="content-section__right">
      <button class="btn btn-white btn-small btn-auto"
        ng-click="repRejCtrl.showInstructions()">
        Instructions
      </button>
    </div>
  </div>
  <div class="content-section__content">
    <div class="active-ads">
      <div class="active-ads__section active-ads__section--submit">
        <h5 ng-hide="repRejCtrl.rejectedAds.length > 0"  class="active-ads__section-title">No Rejected Content</h5>
        <div class="active-ads__section-content d-lg-block"  ng-hide="repRejCtrl.rejectedAds.length === 0">
          <md-table-container>
            <table class="table" md-table ng-model="repRejCtrl.rejectedAds"
          md-progress="promise">
    <thead md-head md-order="repRejCtrl.query.order">
      <tr md-row>
        <th md-column><a class="btn btn-link" href="javascript:void(0)"><span>Order date</span></a></th>
        <th md-column md-order-by="url.href" md-desc><a class="btn btn-link" href="javascript:void(0)"><span>Publisher</span></a></th>
        <th class="da" md-column  md-order-by="url.domain_authority"><a class="btn btn-link" href="javascript:void(0)"><span>DA</span></a></th>
        <th md-column md-order-by="campaign.name"><a class="btn btn-link" href="javascript:void(0)"><span>Campaign</span></a></th>
        <th class="action" md-column><a class="btn btn-link" href="javascript:void(0)"><span>Download content</span></a></th>
        <th md-column class="notes"><a class="btn btn-link" href="javascript:void(0)"><span>Notes</span></a></th>
        <th class="action" md-column><a class="btn btn-link" href="javascript:void(0)"><span>Edit</span></a></th>
        <th class="action" md-column><a class="btn btn-link" href="javascript:void(0)"><span>Delete</span></a></th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row
      ng-repeat="ad in repRejCtrl.filtered = (repRejCtrl.rejectedAds | filter: repRejCtrl.query.filter) | orderBy: repRejCtrl.query.order
      | limitTo: repRejCtrl.query.limit : (repRejCtrl.query.page -1) * repRejCtrl.query.limit">

        <td md-cell><span>{{ ad.requested_date | date:'MM-dd-yyyy' }}</span></td>

        <td md-cell data-ellipsis data-ng-bind="ad.url.href"
            data-ellipsis-append="...">
          <md-tooltip md-direction="bottom">
            {{ ad.url.href }}
          </md-tooltip>
        </td>

        <td md-cell>{{ ad.url.domain_authority }}</td>

        <td md-cell data-ellipsis data-ng-bind="ad.campaign.name"
            data-ellipsis-append="...">
          <md-tooltip md-direction="bottom">
            {{ ad.campaign.name }}
          </md-tooltip>
        </td>

        <td md-cell class="action">
          <a class="btn btn-download" aria-label="description"
                ng-href="{{ad.word.url}}" target="_blank"
                ng-show="ad.word"
                ng-click="repRejCtrl.downloadContent($event, ad)">
              <svg class="icon icon--download">
              <use xlink:href="assets/images/icons.svg#download"></use>
            </svg></a>
            <a class="btn btn-download" aria-label="description"
              ng-href="{{ad.word.url}}" target="_blank"
              ng-show="ad.blog_post_body"
              ng-click="repRejCtrl.downloadContent($event, ad)">
            <svg class="icon icon--download">
            <use xlink:href="assets/images/icons.svg#download"></use>
          </svg></a>
        </td>

        <td md-cell class="notes">
          <md-tooltip md-direction="bottom">
            {{repRejCtrl.getTooltipText('notes', ad)}}
          </md-tooltip>
          <md-button class="md-icon-button primary-color-svg" aria-label="description"
                      ng-class="{'md-primary': ad.downloaded, 'icon-disabled': !ad.downloaded}"
                      ng-click="repRejCtrl.showMoreNotes(ad)" ng-disabled="!ad.downloaded">
            <md-icon md-svg-src="{{ repRejCtrl.showNotesIcon() }}" >
              note
            </md-icon>
          </md-button>
        </td>

        <td md-cell class="action">
          <md-tooltip md-direction="bottom">
            {{repRejCtrl.getTooltipText('edit', ad)}}
          </md-tooltip>
          <md-button class="md-icon-button" ng-class="{'md-primary': ad.editable}"
                      ng-disabled="!repRejCtrl.canEdit(ad)" aria-label="edit"
                      ng-click="repRejCtrl.blogPostEditDialog($event, ad, false)">
              <md-icon>
              edit
            </md-icon>
          </md-button>
        </td>

        <td md-cell class="action">
          <md-tooltip md-direction="bottom">
            {{repRejCtrl.getTooltipText('delete', ad)}}
          </md-tooltip>
          <md-button class="md-icon-button" ng-class="{'md-primary': ad.downloaded}"
                    aria-label="description" ng-click="repRejCtrl.deleteUrl(ad.id)"
                    ng-disabled="!repRejCtrl.canDelete(ad)">
            <md-icon class="icon-enabled">delete</md-icon>
          </md-button>
        </td>
      </tr>
    </tbody>
  </table>
</md-table-container>

<md-table-pagination md-limit="repRejCtrl.query.limit" md-page="repRejCtrl.query.page"
                      md-total="{{ repRejCtrl.filtered.length }}"
                      md-page-select="true" >
</md-table-pagination>
        </div>
      </div>

    </div>
  </div>
</div>
