.payment {
  margin-bottom: 3rem;

  md-card-content.aligned-card {
    padding-top: 3.5rem;

    h1.price {
      color: $primary;
      font-size: 2.5em;
    }
  }

  span.masked-number {
    font-size: 1.6em;
  }

  .md-button.md-accent {
    margin: 0;
    padding: 0 .3rem;
    font-size: 1.4em;
  }

  .small-margin {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .no-top-bottom-padding {
    padding-bottom: 0;

    h2 {
      margin: 0;
      font-weight: bold;
    }
  }

  .billing-data {
    font-size: 1.4em;
  }

  input[placeholder], [placeholder], *[placeholder] {
    color: $dark-grey;
  }

  .md-button.md-icon-button.information {
    margin-right: 0;
    padding-right: 0;
  }

  md-checkbox {
    margin-bottom: 0;
    margin-right: 1.5rem;
  }

  md-checkbox span {
    font-size: 1.6em;
  }

  md-input-container {
    font-size: 1.8em;

    label {
      font-size: 1em;
    }

    &.positioned-top {
      margin-top: 0;

      &:not(:first-child) {
        margin-left: 2.5rem;
      }
    }

    &.positioned-top-margin {
      margin-top: 2.5rem;
      margin-bottom: 0;

      &:last-child {
        margin-left: 2.5rem;
      }
    }

    &.positioned-bottom {
      margin-top: 0;
      margin-bottom: 0;

      &:not(:first-child) {
        margin-left: 2.5rem;
      }
    }

    &.state {
      margin-left: 2rem;
    }
  }

  .credit-card-logo {
    margin-top: 1.5rem;
    margin-left: 2.5rem;
  }

  .md-table-pagination {
    color: $white;
    height: 4rem;
  }

  .arrows-enabled {
    md-table-pagination md-select:not([disabled]):focus .md-select-value {
      color: $white;
    }

    .md-select:not([disabled]):focus .md-select-value {
      color: $white;
    }

    .md-button[disabled] md-icon {
      color: $primary-dark;
    }

    md-icon {
      color: $white;
    }
  }

  .send-back {
    .md-button:hover {
      .menu-icon {
        color: $primary;
      }
    }

    .menu-icon {
      color: $dark-grey;
    }
  }
}

.md-dialog-container {
  .credit-card-dialog {
    min-width: 40rem;

    .selectable-card {
      margin: .8rem;
    }
  }
}

h1.card-information-title {
  margin-top: 0;
}

p.error {
  font-size: 1.8em;
  text-align: center;
  color: $error-red;
  font-weight: bold;
}
