<md-subheader class="md-no-sticky">
  <h2>Preview of purchase</h2>
</md-subheader>

<div ng-include="'app/components/payments/partials/preview.html'"></div>

<!-- Credit card and owner info -->
<form name="paymentForm" ng-submit="paymentForm.$valid">
  <!-- Error card for showing notification -->
  <md-card ng-if="vm.errorLabel">
    <md-card-content>
      <p class="error">This order has been declined.</p>
      <p class="error" ng-bind-html="vm.errorLabel"></p>
    </md-card-content>
    <div class="md-actions" layout="row" layout-align="end center">
      <md-button class="md-warn md-raised" ng-click="vm.errorLabel = ''">OK</md-button>
    </div>
  </md-card>

  <div class="payment" layout-gt-sm="row" layout="column">
    <div ng-if="!vm.selectedCard" ng-include="'app/components/payments/partials/billing.html'" flex="50"></div>
    <div ng-include="'app/components/payments/partials/creditCard.html'" flex="50" layout="column"></div>
  </div>
  <!-- Terms & conditions acceptance and purchase button -->
  <div class="payment" layout="row" layout-align="end center">
    <md-checkbox ng-model="vm.agreed" name="string" ng-change="expr" ng-disabled="$root.isLoading" aria-label="string">
      <span>By Clicking Purchase I Agree to the Terms and Conditions</span>
    </md-checkbox>
    <md-button class="md-raised full-accent" ng-disabled="paymentForm.$invalid || $root.isLoading || vm.cantPurchase() || (!vm.selectedCard && paymentForm.$invalid)" ng-click="vm.submit()">
      Purchase
    </md-button>
  </div>
</form>

<div ng-show="vm.useCardOnFile" ng-include="'app/components/payments/partials/cards.html'"></div>
