.profiles {
  md-icon {
    cursor: pointer;
  }

  md-autocomplete {
    min-width: 27rem;
  }

  md-content md-tabs md-tab-content {
    padding: 1.5rem;
  }

  md-tabs-wrapper md-prev-button md-icon {
    color: $white;
  }

  md-tabs-wrapper md-next-button md-icon {
    color: $white;
  }

  md-tabs.md-primary > md-tabs-wrapper {
    background-color: $primary;
  }

  md-tabs .md-tab[disabled] {
    color: rgba($light-grey, .6);
  }

  .social-handles {
    margin-top: 2rem;
  }

  .sign-in-inputs-container {
    margin-top: 2.5rem;
  }

  .md-tab {
    font-size: 1.7em;
    cursor: default;

    .profile-step-label {
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      display: inline-block;
      margin-right: .8rem;
      border: .2rem solid rgba($white, .4);
    }

    &.md-active .profile-step-label {
      color: $orange-tabs;
      border: .2rem solid $orange-tabs;
    }

    &.md-active {
      color: $orange-tabs !important;
    }
  }

  md-input-container {
    font-size: 1.6em;
    margin-left: 1rem;

    &.seo-price {
      margin-left: 0;
    }
  }

  md-select {
    font-size: 1.2em;
  }

  md-input-container.md-icon-right {
    min-width: 30rem;
    margin: 0 1rem;
  }

  .meta-description {
    line-height: 2rem;
  }

  .step-one-container {
    h2 {
      padding-right: 2rem;
      margin: 0;
    }

    .text-divider {
      span {
        font-size: 1.6em;
        text-transform: uppercase;
      }
    }

    .profile-name {
      bottom: 0;
      margin: 1rem;
      position: absolute;
      width: 45rem;
    }

    .profile-info-container {
      padding-top: 2rem;
    }

    .error-message {
      padding-left: 2rem;
    }
  }

  .step-two-container {
    md-input-container {
      margin: 0 1rem;
      padding: 0;
    }

    .domain-description {
      margin-top: 1rem;
    }

    .domain-hint {
      label {
        font-size: 1.2em;
      }
    }

    .information-text {
      margin: 0 .4rem;
    }
  }

  .step-four-container {
    md-icon {
      margin-bottom: 0;
      margin-top: 0;
    }

    p {
      font-size: 1.6em;
      font-weight: 400;
      padding-left: 1rem;
    }

    .info-icons {
      padding-left: 0;
    }

    .price-inputs {
      @media (max-width: 959px) {
        md-input-container.md-icon-right {
          padding-right: .6rem;
        }

        md-input-container md-icon-left md-icon-right {
          padding-left: 1rem;
        }
      }
    }

    md-input-container.md-icon-left.md-icon-right { padding-left: 2rem; }

    .social-network-authenticate {
      border: white;
      border-radius: 50%;
      height: 4.5rem;
      margin-left: 1rem;
      width: 4.5rem;

      &.facebook  { background-color: $facebook-blue; }
      &.twitter   { background-color: $twitter-blue; }
      &.youtube   { background-color: $youtube-red; }
      &.instagram { background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); }
    }
  }

  .step-five-container {
    .follow-link-container {
      padding-left: 1rem;
      padding-bottom: 2rem;
    }

    .seo-boolean-container {
      margin-bottom: 2rem;
      padding-top: 2rem;

      md-radio-group {
        margin-left: 2rem;

        &.second {
          margin-left: 8.9rem;
        }
      }
    }

    .categories-container {
      padding-top: 1rem;
    }

    p {
      font-size: 1.6em;
      font-weight: 400;
      padding-left: 1rem;
    }

    .suggested-info {
      font-size: 1.5em;
      font-style: italic;
      padding-top: 1.5rem;
    }

    .price-icon {
      margin-bottom: 2rem;

      md-icon { color: $accent; }
    }
  }

  .custom-error {
    color: $error-red;
    font-size: 1.2em;
  }

  .info-icons {
    md-icon svg {
      fill: $accent;
    }
  }

  #gSignInWrapper {
    #customBtn {
      display: inline-block;
      background: $white;
      color: $dark-menu-selected;
      width: 17rem;
      border-radius: .5rem;
      border: thin solid $hover-gray;
      box-shadow: .1rem .1rem .1rem $hover-gray;
      white-space: nowrap;
      padding: .2rem 1rem;

      &:hover {
        cursor: pointer;
      }
    }

    span.label {
      font-family: serif;
      font-weight: normal;
    }

    span.buttonText {
      display: inline-block;
      vertical-align: middle;
      padding-left: 3.2rem;
      padding-right: 4.2rem;
      font-size: .9em;
      font-weight: bold;
      text-transform: capitalize;
      /* Use the Roboto font that is loaded in the <head> */
      font-family: 'Roboto', sans-serif;
    }
  }
}

.twitter-handle { width: 90%; }


.error-message {
  font-size: 1em;
  font-weight: normal;
}

md-input-container {
  width: 100%;
}

md-input-container .md-errors-spacer {
  min-height: 0;
}

.create-profile__pathway span {
  opacity: 1;
}
.create-profile__pathway span.active {
  opacity: 1;
  color: $tony-fave;
}
.create-profile__pathway span.complete {
  opacity: 0.5;
}
.create-profile .input-label-1 {
  font-size: 1.4em;
}
