<div class="content-section">
  <div class="content-section__header">
    <h2 class="content-section__title">Create a profile</h2>
    <div class="content-section__small-text text-uppercase">Step {{ newProfCtrl.selectedIndex + 1 }}: {{ newProfCtrl.getCurrentStepName() }}</div>
    <div class="content-section__right d-none d-md-block">
      <button class="btn btn-white btn-small btn-auto no-animate" ng-click="newProfCtrl.previous()"
        ng-disabled="newProfCtrl.selectedIndex < 1">
        Previous
      </button>
      <button class="btn btn-default btn-small btn-auto no-animate" ng-click="newProfCtrl.next($event)"
        ng-disabled="newProfCtrl.nextDisabled() || socialsForm.$invalid"
        ng-show="!newProfCtrl.lastStep()" tabindex="50">
        Next
      </button>
      <button class="btn btn-default btn-small btn-auto no-animate" ng-click="newProfCtrl.submit()"
            ng-disabled="newProfCtrl.cantSubmit() || socialsForm.$invalid ||
            !newProfCtrl.url.description"
            ng-if="newProfCtrl.lastStep()">
        {{ newProfCtrl.getFinishText() }}
      </button>
    </div>
  </div>
  <div class="content-section__content">
    <div class="create-profile">
      <div class="create-profile__content">
        <div ng-include src="'app/pages/profiles/newProfile/tabPartials/navigation.html'">
        </div>
        <div class="create-profile__inner">
          <div ng-show="newProfCtrl.selectedIndex == 0" ng-include src="'app/pages/profiles/newProfile/tabPartials/step1.html'"></div>
          <div ng-show="newProfCtrl.selectedIndex == 1" ng-include src="'app/pages/profiles/newProfile/tabPartials/step2.html'"></div>
          <div ng-show="newProfCtrl.selectedIndex == 2" ng-include src="'app/pages/profiles/newProfile/tabPartials/step3.html'"></div>
          <div ng-show="newProfCtrl.selectedIndex == 3" ng-include src="'app/pages/profiles/newProfile/tabPartials/step4.html'"></div>
          <div ng-show="newProfCtrl.selectedIndex == 4" ng-include src="'app/pages/profiles/newProfile/tabPartials/step5.html'"></div>
          <div class="create-profile__buttons d-flex d-md-none">
            <button class="btn btn-white"  ng-click="newProfCtrl.previous()"
            ng-disabled="newProfCtrl.selectedIndex < 1">Previous</button>
            <button class="btn btn-default" ng-click="newProfCtrl.next($event)"
            ng-disabled="newProfCtrl.nextDisabled() || socialsForm.$invalid"
            ng-show="!newProfCtrl.lastStep()">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
