<md-dialog class="admin-notes-dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Reason Why We Declined Approval</h2>
    </div>
  </md-toolbar>

  <md-dialog-content layout="column" layout-padding>
    <div ng-repeat="note in noteCtrl.notes">
      <p class="notes-content">
        {{ note.creator | capitalize }}: <span> {{ note.note }} </span> - <span>  {{ note.created_at | date: 'medium' }} </span>
      </p>
    </div>
  </md-dialog-content>

  <md-dialog-content layout="column" layout-padding>
    <form name="form">
      <md-input-container class="notes-hint md-block">
        <label>
          Write notes to Admin
        </label>
        <textarea ng-trim="true" ng-model="noteCtrl.pubNote" rows="2"
          md-select-on-focus name="pubNotes">
        </textarea>
      </md-input-container>

      <md-input-container class="notes-hint md-block">
        <label>
          Enter Live Post URL
        </label>
        <input url-input required name="url" ng-model="noteCtrl.pubUrl">
        <div ng-messages="form.url.$error" multiple md-auto-hide="false">
          <div ng-message="required">This is required.</div>
          <div ng-message="pattern">This doesn't appear to be a valid URL. Please fix to move forward.</div>
        </div>
      </md-input-container>
    </form>
  </md-dialog-content>

  <md-divider></md-divider>

  <md-dialog-actions layout="row" layout-align="end center">
    <md-button class="md-accent" ng-click="noteCtrl.ok()"
      ng-disabled="form.$invalid || $root.isLoading">
      Save Changes
    </md-button>
  </md-dialog-actions>
</md-dialog>
