<div class="content-section">
  <div class="content-section__header">
    <h2 class="content-section__title">Manage quotes</h2>
    <div class="content-section__right"><a class="btn btn-white btn-small btn-auto" ng-disabled="$root.isLoading"
      aria-label="new request" ui-sref="new-quote">Create New Quote</a></div>
  </div>
  <div class="content-section__content">
    <div class="view-quotes">
      <ul class="view-quotes__tabs">
        <li ng-class="{ 'active': quotesMainCtrl.activeQuotesOn() }"><a href="javascript:void(0)" ng-click="quotesMainCtrl.setQuotesTab('activeQuotes')">READY TO ORDER&nbsp;({{ $root.quotesReady }})</a></li>
        <li ng-class="{ 'active': !quotesMainCtrl.activeQuotesOn() }"><a href="javascript:void(0)" ng-click="quotesMainCtrl.setQuotesTab('pendingQuotes')">PENDING REQUESTS&nbsp;({{ $root.quotesPending }})</a></li>
      </ul>
      <div class="view-quotes__contents">
        <div class="view-quotes__tab-content" ng-class="{ 'active': quotesMainCtrl.activeQuotesOn() }"
              ng-include src="'app/pages/quotes/received/quotesReceived.html'"
              ng-controller="QuotesReceivedController as qRecCtrl">
        </div>
        <div class="view-quotes__tab-content" ng-class="{ 'active': !quotesMainCtrl.activeQuotesOn() }"
              ng-include src="'app/pages/quotes/pending/quotesPending.html'"
              ng-controller="QuotesPendingController as qPenCtrl">
        </div>
      </div>
    </div>
  </div>
</div>
