<md-button class="menu-item" aria-label="Menu item" ng-click="vm.clickMenu()" ng-class="{ selected: vm.isActive() }">
  <md-icon class="menu-icon">{{ vm.icon }}</md-icon>
  <strong>{{ vm.value }}</strong>
  {{ vm.text }}
</md-button>
<ng-transclude></ng-transclude>
