.cart-header {
  color: $dark-grey;
  font-size: 1.6em;
  margin-right: 1rem;
  margin-left: 1rem;
}

md-checkbox.check-all {
  margin: 0;
  margin-left: .6rem;
}

.error-message {
  font-size: 1.5em;
  font-weight: 600;
  color: $error-red;
  padding-right: 6rem;
}

.sel-all {
  margin-left: -13px;
  margin-bottom: -30px;
}
