<div layout="column">
  <div layout="row">
    <md-subheader class="md-no-sticky">
      <h3>{{ crtCtrl.orders.length }}
        Ad Spots in your Shopping Cart</h3>
    </md-subheader>
  </div>

  <div layout-padding layout="row" layout-align="space-between center">

    <div layout="row" layout-align="start center" class="sel-all">
      <md-checkbox class="check-all" aria-label="check" ng-checked="crtCtrl.allSelected()"
        ng-click="crtCtrl.toggleAll()"></md-checkbox>
      <md-subheader class="md-no-sticky" ng-show="crtCtrl.selectedOrders.length">
        <h3>{{ crtCtrl.selectedItems() || 'Select All/None' }}</h3>
      </md-subheader>
      <md-subheader class="md-no-sticky" ng-hide="crtCtrl.selectedOrders.length">
        <h3>Select All/None</h3>
      </md-subheader>
    </div>

    <div layout="row" layout-align="end center">
      <md-button class="btn btn-white-red btn-small"
        ng-click="crtCtrl.deleteSelected($event)" ng-disabled="crtCtrl.cannotDeleteOrders()"
        aria-label="Delete">Remove Selected
      </md-button>
      <md-button class="btn btn-default btn-small btn-auto" aria-label="checkout"
        ng-disabled="crtCtrl.cannotCheckout()"
        ng-click="crtCtrl.checkout()">
          Checkout
      </md-button>
    </div>
  </div>

  <md-divider></md-divider>
  <div dir-paginate="order in crtCtrl.orders | itemsPerPage: crtCtrl.perPage">
    <cart-item list="crtCtrl.selectedOrders" order="order"
      checkout="crtCtrl.cannotCheckout() && crtCtrl.selectedOrders.length > 0">
    </cart-item>
  </div>

  <dir-pagination-controls max-size="6" on-page-change="crtCtrl.goTop()"></dir-pagination-controls>

  <md-subheader ng-hide="crtCtrl.orders.length" class="md-no-sticky" layout="row" layout-align="center center">
    <h2>No orders to show</h2>
  </md-subheader>
</div>
