<a class="header__logo" ui-sref="adv-dash"><img src="assets/images/logo.svg" alt></a>
  <ul class="header__main-menu">
    <li><a ui-sref-active="active" ng-click="vm.setMobileMenuInactive()" ui-sref="adv-dash">Dashboard</a></li>
    <li><a ui-sref-active="active" ng-click="vm.setMobileMenuInactive()" ui-sref="all-campaigns">Manage Campaigns</a></li>
    <li><a ui-sref-active="active" ng-click="vm.setMobileMenuInactive()" ui-sref="quotes-main">Quotes</a></li>
    <li><a ui-sref-active="active" ng-click="vm.setMobileMenuInactive()" ui-sref="done-articles">Content Pipe</a></li>
    <li><a ui-sref-active="active" ng-click="vm.setMobileMenuInactive()" ui-sref="contact-us">Help</a></li>
    <li><a ui-sref-active="active" ng-click="vm.setMobileMenuInactive()" ui-sref="faq-adv">Faq</a></li>
  </ul>
  <ul class="header__service-menu">
    <li><a ng-click="vm.setMobileMenuInactive(); vm.setUserMenuInactive()" ui-sref="search"><svg class="icon icon--search">
          <use xlink:href="assets/images/icons.svg#search"></use>
        </svg></a></li>
    <li><a ng-click="vm.setMobileMenuInactive(); vm.setUserMenuInactive()" ui-sref="new-campaign"><svg class="icon icon--plus-circle">
          <use xlink:href="assets/images/icons.svg#plus-circle"></use>
        </svg></a></li>
  </ul>
  <div class="header__user-menu">
    <div class="user-menu"><button ng-click="vm.setMobileMenuInactive(); vm.toggleUserMenu()" class="user-menu__button" type="button"><svg class="icon icon--gear">
          <use xlink:href="assets/images/icons.svg#gear"></use>
        </svg></button>
      <ul ng-if="vm.userMenuActive" ng-mouseleave="vm.setUserMenuInactive()" class="user-menu__dropdown">
        <li><a ui-sref="show-profile"><svg class="icon icon--info">
              <use xlink:href="assets/images/icons.svg#info"></use>
            </svg><span>My Account Info</span></a></li>
        <li><a href="" ng-click="vm.changeAccount(ev)"><svg class="icon icon--plus-user">
              <use xlink:href="assets/images/icons.svg#plus-user"></use>
            </svg><span>{{ vm.accountMessage() }}</span></a></li>
        <li><a href="" ng-click="vm.signOut()"><svg class="icon icon--sign-out">
              <use xlink:href="assets/images/icons.svg#sign-out"></use>
            </svg><span>Sign out</span></a></li>
      </ul>
    </div>
  </div>
  <div class="header__mobile-menu"><button type="button" ng-click="vm.toggleMobileMenu(); vm.setUserMenuInactive();"><span></span><span></span><span></span></button></div>
