<div class="advertiser-dashboard">
  <div class="advertiser-dashboard__statistics">
    <div class="common-statistics">
      <div class="common-statistics__content">
        <div class="common-statistics__cell">
          <metric title="Active Content" badge="{{ $root.badgeActive }}" icon="active-ads"
                ng-disable="$root.badgeActive === 0" ng-click="advCtrl.showActiveContent()">
            {{ $root.counterActive || 0 }}
          </metric>
        </div>
        <div class="common-statistics__cell">
          <metric title="Awaiting Publication" badge="{{ $root.badgeAwaiting }}" icon="clock"
            ng-disable="$root.badgeAwaiting === 0" ng-click="advCtrl.showAwaitingContent()">
            {{ $root.counterAwaiting || 0 }}
          </metric>
        </div>
        <div class="common-statistics__cell">
          <metric title="Rejected Content" badge="{{ $root.badgeReused }}" icon="rejected"
            ng-disable="$root.badgeReused === 0" ng-click="advCtrl.seeReport()">
            {{ $root.counterReused || 0 }}
          </metric>
        </div>
        <div class="common-statistics__cell">
          <metric title="Items in Cart" badge="0" icon="plus-cart"
            ng-disable="$root.cartItems.length === 0" ng-click="advCtrl.seeCart()">
            {{ $root.cartItems.length || 0 }}
          </metric>
        </div>
      </div>
    </div>
  </div>
  <div class="advertiser-dashboard__search">
    <div class="search-for-publishers">
      <h5 class="search-for-publishers__title">Search for Publishers</h5>
      <div class="search-for-publishers__wrapper">
        <chips-input placeholder="{{ advCtrl.getPlaceholder() }}" ng-model="advCtrl.selectedCategories"
                      hide-categories="!showCategories" search="advCtrl.search()">
        </chips-input>
      </div>
    </div>
  </div>
  <div class="advertiser-dashboard__campaigns-list">
    <div class="campaigns-list">
      <div class="campaigns-list__header">
        <h5 class="campaigns-list__title">Campaigns</h5>
        <div class="campaigns-list__button"><a class="btn btn-white btn-small" href="#/campaigns/new">New Campaign</a></div>
      </div>
      <div class="campaigns-list__content">
        <div class="campaigns-list__list">
          <campaign-mini ng-repeat="campaign in ::advCtrl.advertiser.campaigns | limitTo:3"
          ng-if="advCtrl.advertiser.campaigns.length > 0" campaign="campaign"></campaign-mini>
        </div>
      </div>
      <div layout="row" class="show-more-container" ng-if="advCtrl.advertiser.campaigns.length > 0" layout-align="end center">
        <md-button class="btn btn-white btn-small" aria-label="show more" ui-sref="all-campaigns">Show more campaigns</md-button>
      </div>
    </div>
  </div>
</div>
