.category-container {
  padding: 0 .8rem;

  .md-subheader {
    h4 {
      font-size: 1.6em;
      padding-top: 1.1rem;
    }
  }
}

.campaign-title {
  white-space: nowrap;
  max-width: 20rem;
  height: 10rem;

  h1 {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.small-chips {
  .md-chips {
    font-size: 1.4em;
    padding: 0 .8rem .8rem;
  }
}

.chips-container {
  padding-right: 2rem;
  padding-left: 2rem;
}

.save-cats-container {
  padding-right: 2rem;
}

.categories-content {
  padding-top: 0;
}
