<md-card>
  <div layout="column" layout-gt-xs="row" layout-align-gt-xs="center center" flex-order="1">
    <md-card-content flex="40" layout="row" layout-align="center center"
      layout-align-gt-xs="center center" class="content-title campaign-title">
      <h1>{{ vm.campaign.name }}
        <md-tooltip md-direction="bottom">
          {{ vm.campaign.name }}
        </md-tooltip>
      </h1>
    </md-card-content>

    <md-divider class="vertical-divider"></md-divider>

    <md-card-content flex="45" layout="row" layout-align="space-around center">
      <div class="values" layout="column" flex="40" layout-align="center center">
        <span class="value">{{ vm.campaign.total_urls }}</span>
        <span>Total Urls</span>
      </div>
      <div class="values" layout="column" layout-align="center center">
        <span class="value">{{ vm.campaign.total_links }}</span>
        <span>Total Links</span>
      </div>
    </md-card-content>
    <div layout="column" hide-sm hide-xs layout-align="start end">
      <md-button class="md-icon-button md-accent" aria-label="description"
        ng-click="vm.onDelete()">
        <md-icon class="menu-icon">delete</md-icon>
      </md-button>
      <span flex></span>
      <div layout="row">
        <md-button class="md-accent" ui-sref="manage-campaign({ campaignId: vm.campaign.id })">
          Edit urls
        </md-button>
        <md-button class="md-accent" aria-label="description"
          ui-sref="search({ categories: vm.categoriesNames(), campaignId: vm.campaign.id })">
          Search publishers
        </md-button>
      </div>

    </div>
  </div>

  <md-divider flex-order="2"></md-divider>

  <!-- Actions in res < sm -->
  <md-divider hide-gt-sm flex-order="5" ng-if="vm.showCategories"></md-divider>
  <div class="md-actions" hide-gt-sm layout="row" layout-align="end center" flex-order="5">
    <md-button class="md-accent" ui-sref="manage-campaign({ campaignId: vm.campaign.id })">
      Edit urls
    </md-button>
    <md-button class="md-accent" aria-label="description"
      ui-sref="search({ categories: vm.categoriesNames() })">
      Search publishers
    </md-button>
    <md-button class="md-icon-button md-accent" aria-label="description"
      ng-click="vm.onDelete()">
      <md-icon class="menu-icon">delete</md-icon>
    </md-button>
  </div>

  <md-divider flex-order="4"></md-divider>

  <!-- Categories -->
  <div layout="column" layout-align="start start" layout-padding flex-order="3"
    class="categories-content">
    <div layout="row" class="category-container">
      <md-subheader class="md-no-sticky">
        <h4>Categories</h4>
      </md-subheader>
      <md-button class="md-accent" ng-click="vm.showCategories = ! vm.showCategories">
        <span>Edit categories</span>
      </md-button>
    </div>

    <md-chips class="rounded small-chips" ng-model="vm.campaign.categories" ng-attr-readonly="true">
      <md-chip-template>
        {{ $chip.name }}
      </md-chip-template>
    </md-chips>
  </div>

  <md-divider hide-sm hide-xs flex-order="6" ng-if="vm.showCategories"></md-divider>

  <div hide-sm hide-xs class="save-cats-container" ng-if="vm.showCategories" flex-order="5"
    layout="row" layout-align="end center">
    <md-button class="md-accent" aria-label="description" flex="18"
      ng-click="vm.submitCategories(vm.campaign)">
      Save Categories
    </md-button>
  </div>
  <div hide-sm hide-xs ng-if="vm.showCategories" layout="column" class="chip-select-component color-background chips-custom-input" flex-order="5">
    <div class="hidden-card chips-container">
      <category-selector placeholder="Search for..." ng-model="vm.selectedCategories"
        hide-input="true"></category-selector>
    </div>
  </div>


  <!-- Category selector in res < sm -->
  <div hide-gt-sm class="save-cats-container" ng-if="vm.showCategories" flex-order="4"
    layout="row" layout-align="end center">
    <md-button class="md-accent" aria-label="description" flex="18">
      Save Categories
    </md-button>
  </div>
  <div hide-gt-sm ng-if="vm.showCategories" layout="column" class="chip-select-component color-background chips-custom-input" flex-order="4">
    <div class="hidden-card chips-container">
      <category-selector placeholder="Search for..." ng-model="vm.selectedCategories"
        hide-input="true"></category-selector>
    </div>
  </div>
</md-card>
