<div class="common-statistic-cell">
  <div class="common-statistic-cell__icon"><svg ng-class="vm.iconCss()">
      <use ng-attr-xlink:href="{{ vm.xlinkHref() }}" xlink:href=""></use>
    </svg></div>
  <div class="common-statistic-cell__wrapper">
    <div class="common-statistic-cell__counter"><ng-transclude></ng-transclude></div>
    <div class="common-statistic-cell__name">{{ vm.title }}</div>
  </div>
  <div ng-if="vm.badge > 0" class="common-statistic-cell__badge">{{ vm.badge }}</div>
</div>