metric {
  cursor: pointer;
}

.metric-card {
  background-color: $white;
}

.metric-value {
  font-size: 5em;
  font-weight: normal;
  margin: 0;
}

.metric-title {
  font-size: 2em;
  font-weight: lighter;
}

.active-metric {
  border-bottom: .4rem solid $accent;
}

.badge {
  position: relative;
  &[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5em;
    background: $accent;
    color: $white;
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-weight: bold;
    line-height: 3rem;
    border-radius: 50%;
    box-shadow: 0 0 0 0;
  }
  &[data-badge='0']:after {
    content: none;
  }
}

@media (max-width: 952px) {
  .metric-title {
    font-size: 1.7em;
  }
}

@media (min-width: 320px) and (max-width:842px) {
  .metric-title {
    font-size: 1.4em;
  }

  .metric-value {
    font-size: 4em;
  }

  md-card md-card-content .badge {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 320px) and (max-width:842px) {
  .metric-title {
    font-size: 1.3em;
  }
}
