md-card-content.content-title {
  border-right: .1rem solid $light-grey;
  overflow-x: hidden;
}

.values {
  &.space-right {
    margin-right: 4rem;
  }

  span {
    font-size: 1.6em;
    &.value {
      font-size: 3.2em;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.square-img {
  object-fit: cover;
  background-size: cover;
  background-position: 50%;
  width: 16rem;
  height: 16rem;
}

.campaign-mini-container {

  md-card-content {
    padding-left: 2rem;
  }

  .small-chips .md-chips {
    padding-bottom: 0;
  }

  .center-cropped {
    cursor: pointer;
  }

  .title-button {
    padding: .5rem 0 2rem;
    color: $primary;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
    cursor: pointer;
    width: 25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media (max-width: 860px) {
    .title-button {
      width: 14rem;
    }

    md-card-content {
      padding-bottom: 0;
    }
  }

  @media (max-width: 814px) {
    .center-title-products {
      margin-left: -8rem;
    }

    .category-container {
      padding: 0;
    }
  }

  .values {
    padding-right: 1rem;

    span.title {
      margin-bottom: 1rem;
    }

    .value {
      font-size: 2em;
      font-weight: 500;
    }
  }

  .totals-values {
    span {
      margin-right: 1rem;
    }
  }

  .chips-container {
    padding: 0;
  }

  .products-chips {
    md-chips-wrap.md-chips {
      md-chip {
        text-transform: capitalize;
        text-align: center;
        width: 9.5rem;

        &.sponsored {
          background-color: $green-chip;
        }

        &.social {
          background-color: $blue-chip;
        }

        &.search {
          background-color: $violet-chip;
        }

        &.social, &.search {
          padding-left: 2.8rem;
        }
      }
    }
  }
}

.rejected-campaign {
  background-color: $light-grey-2;

  .rejected-actions {
    margin: 0;
    background-color: $white;
  }
}

.trashcan {
  margin-bottom: 3rem;
  cursor: pointer;
}
