<div class="campaign-row">
  <div class="campaign-row__content">
    <div class="campaign-row__cell campaign-row__cell--image">
      <div ng-if="vm.hasImage()" class="campaign-row__image"><img ng-src="{{ vm.getImage() }}" ng-click="vm.editCampaign(vm.campaign.id)" ng-disabled="vm.isCampaignRejected()" alt></div>
      <div ng-if="!vm.hasImage()" class="campaign-row__image">
        <div class="image-placeholder">
          <div class="image-placeholder__icon"><svg class="icon icon--mask">
              <use xlink:href="assets/images/icons.svg#mask"></use>
            </svg></div>
          <div class="image-placeholder__label">No image</div>
        </div>
      </div>
    </div>
    <div class="campaign-row__cell campaign-row__cell--main">
      <h4 class="campaign-row__name">{{ vm.campaign.name }}</h4>
    </div>
    <div class="campaign-row__cell campaign-row__cell--types">
      <div class="campaign-row__label">Product Types</div>
      <div class="campaign-row__badges">
        <span ng-repeat="product in vm.campaign.products" ng-class="vm.getProductBadgeClass(product.name)">{{ product.name }}</span></div>
    </div>
    <div class="campaign-row__cell campaign-row__cell--buttons">
      <div ng-if="vm.isCampaignRejected()" class="campaign-row__label" style="text-align:left;">REJECTED</div>
      <a ng-if="vm.isCampaignRejected()" class="btn btn-white" ng-click="vm.destroy()" href="javascript:void(0)">Delete</a>
      <a ng-if="!vm.isCampaignRejected()" class="btn btn-white" ng-click="vm.editCampaign(vm.campaign.id)" href="javascript:void(0)">Manage Campaign</a>
      <a class="btn btn-white" ui-sref="search({ categories: vm.categoriesNames(), campaignId: vm.campaign.id })">Search new pubs</a>
    </div>
  </div>
</div>
