<md-dialog class="instructions-dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Instructions</h2>
    </div>
  </md-toolbar>

  <md-dialog-content layout="column" layout-padding>
    <div class="content-instructions">
      <p><b>Actions Links Located on Right Hand Side</b></p>
      <ul>
        <li>
          <p>
            Approve of content? <span class="align-bullets-main first">=</span>
            <span class="instructions-main-words">View</span>
            content then move to checkout & purchase
          </p>
        </li>
        <li>
          <p>
            Make minor changes <span class="align-bullets-main second">=</span>
            <span class="instructions-main-words"> Download </span> Word doc, edit locally, save &
            <span class="instructions-main-words"> Upload </span>
          </p>
        </li>
        <li>
          <p>
            Need major changes	<span class="align-bullets-main third">=</span>
            <span class="instructions-main-words">Rewrite</span>, then be specific with changes needed
          </p>
        </li>
      </ul>
    </div>
    <div class="content-instructions rows-container">
      <p><b>Color Codes for Each Row</b></p>
      <ul>
        <li>White = Content is Being Worked On by Our Team</li>
        <br>
        <li>Green = Content is Ready for Review & Checkout</li>
        <br>
        <li>Pink <span class="aligned-row-bullets">= Content is Being Rewritten per Your Request</span></li>
      </ul>
    </div>
  </md-dialog-content>

  <md-divider></md-divider>

  <md-dialog-actions layout="row" layout-align="end center">
    <md-button class="md-accent md-raised" ng-click="aDoneCtrl.ok()">
      Got it!
    </md-button>
  </md-dialog-actions>
</md-dialog>
