<md-dialog class="admin-notes-dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{ noteCtrl.title() }}</h2>
    </div>
  </md-toolbar>

  <md-dialog-content class="full-content" layout="column" layout-padding ng-if="!noteCtrl.addNotes">
    <div ng-repeat="note in noteCtrl.notes" class="no-spacing">
      <p class="notes-content {{ note.creator | lowercase }}" >
        {{ note.creator | capitalize }}: <span> {{ note.note }} </span> - <span>  {{ note.created_at | date: 'medium' }} </span>
      </p>
    </div>
  </md-dialog-content>

  <md-dialog-content layout="column" layout-padding ng-if="noteCtrl.addNotes">
    <form name="form">
      <md-input-container class="notes-hint md-block">
        <label>
          Write notes to Author
        </label>
        <textarea ng-trim="true" ng-model="noteCtrl.noteAdv" rows="2"
          md-select-on-focus name="noteAdv">
        </textarea>
      </md-input-container>
    </form>
  </md-dialog-content>

  <md-divider></md-divider>

  <md-dialog-actions layout="row" layout-align="end center">
    <md-button class="md-accent" ng-click="noteCtrl.ok()"
      ng-disabled="form.$invalid || $root.isLoading"
      ng-if="noteCtrl.addNotes">
      Submit
    </md-button>

    <md-button class="md-accent" ng-click="noteCtrl.cancel()"
      ng-disabled="form.$invalid || $root.isLoading">
      {{ noteCtrl.buttonText() }}
    </md-button>
  </md-dialog-actions>
</md-dialog>
