.toolbar {
  height: 6.4rem;

  .md-toolbar-tools {
    .md-button {
      font-size: .8em;
      padding-right: 0;
      padding-left: .5rem;
      text-transform: lowercase;
    }
    md-menu {
      margin-right: 0;
    }
  }
}

.toolbar, .progress-bar {
  z-index: 61;
}

.toolbar .title {
  font-size: 1.5em;
  text-transform: uppercase;
}

md-toolbar:not(.md-menu-toolbar) {
  background-color: $primary;
}
