<md-toolbar class="toolbar" md-whiteframe="3" layout="row" layout-align="center center">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Menu" ng-click="vm.toggleMenu()" hide-gt-md>
      <md-icon>menu</md-icon>
    </md-button>

    <md-button class="md-button" aria-label="Logo"
               ng-click="vm.goToDashboard()">
      <b class="title">
        <strong ng-transclude></strong>
      </b>
    </md-button>

    <span flex></span>

    <md-menu>
      <md-button aria-label="user profile" ng-click="vm.openMenu($mdOpenMenu, $event)">
        <md-icon class="menu-icon">person</md-icon>
        <span hide-xs>{{ vm.email }}</span>
        <md-icon class="menu-icon">arrow_drop_down</md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-click="vm.profile()">
            <md-icon>account_circle</md-icon>
            My Account Info
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="vm.changeAccount(ev)">
            <md-icon>supervisor_account</md-icon>
            {{ vm.accountMessage() }}
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ng-click="vm.signOut()">
            <md-icon>exit_to_app</md-icon>
            Sign out
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

  </div>
</md-toolbar>
<md-progress-linear class="md-accent progress-bar" md-whiteframe="3"
  md-mode="indeterminate" ng-show="$root.isLoading">
</md-progress-linear>
