<div class="view-quotes__tab-content__title">These Quotes are valid for 60 days</div>
<div class="view-quotes__tab-content__table quotes-received">
  <h2 ng-hide="qRecCtrl.contents.length > 0">No quotes received</h2>
  <div dir-paginate="quote in qRecCtrl.contents | itemsPerPage: qRecCtrl.perPage" pagination-id="qRecCtrl.dirId">
    <md-card class="accordion _md" layout="row" flex>
      <div flex="50">Campaign: <a href="javascript:void(0)" ng-click="qRecCtrl.showQuotesFrom(quote)">{{ quote.campaign.name }}</a></div>
      <div flex="35">{{ qRecCtrl.getDoingContentText(quote) }}</div>
      <div flex="15">{{ quote.date | date:'MM-dd-yyyy' }}</div>
    </md-card>
  </div>
  <dir-pagination-controls max-size="6" on-page-change="qRecCtrl.goTop()" pagination-id="qRecCtrl.dirId"></dir-pagination-controls>
</div>
