<md-dialog>
  <md-dialog-content>
    <div layout-padding>
      <div class="md-dialog-content">
        <h2>Upload Spreadsheet file</h2>
        <p>
          Download the <a class="md-primary" href="assets/files/example_file.csv"> example file</a>.
          Fill up as shown in the file, save your changes and upload with the button below.
        </p>
        <p>Rememeber to write the urls in <b>column A</b> as shown in the
           example file.
        </p>
      </div>
      <md-button class="md-accent" type="file" ngf-select class="md-accent"
                   ng-model="modCampCtrl.campaign.csv" name="csv" ngf-accept="'.xlsx, .csv'">
          Select file
      </md-button>
       <md-card-content ng-show="modCampCtrl.campaign.csv" flex layout="row"
                        layout-align="center center">
        <md-input-container class="normal-input" flex>
          <label>Selected Spreadsheet</label>
          <input name="csv" class="highlighted" disabled ng-model="modCampCtrl.campaign.csv.name">
        </md-input-container>
        <md-button class="md-accent" ng-if="modCampCtrl.campaign.csv"
                   ng-click="modCampCtrl.clearCsv()">
          Remove
        </md-button>
      </md-card-content>
    </div>
    <md-divider></md-divider>
  </md-dialog-content>


  <md-dialog-actions layout="row" layout-align="end center">
      <md-button class="md-accent" ng-click="modCampCtrl.submit()">
       Upload
      </md-button>
  </md-dialog-actions>
</md-dialog>
