<div class="content-section">
  <div class="content-section__header">
    <div class="content-section__back"><a class="btn btn-white" ui-sref="pub-dash"><svg class="icon icon--chevron">
          <use xlink:href="assets/images/icons.svg#chevron"></use>
        </svg><span>Back</span></a></div>
    <h2 class="content-section__title">Pricing & Pausing<span ng-hide="ppCtrl.pricingPausing.length > 0"> (0 Items)</span>
      <md-button ng-click="ppCtrl.showInfo()" class="md-icon-button info-icons"
                aria-label="info">
        <md-icon md-svg-src="assets/images/help-circle.svg">
        </md-icon>
      </md-button>
    </h2>
    <div class="content-section__right" ng-show="ppCtrl.pricingPausing.length > 0">
      <form class="search-widget" action="#"><input ng-model="ppCtrl.query.filter" class="form-control" name="name" type="text" placeholder="Search for something..." value><button type="submit"><svg class="icon icon--search">
            <use xlink:href="assets/images/icons.svg#search"></use>
          </svg></button></form>
    </div>
  </div>
  <div class="content-section__content" ng-show="ppCtrl.pricingPausing.length > 0">
    <div class="pricing-pausing">
      <div class="pricing-pausing__content d-none d-lg-block">
        <table class="table" md-table ng-model="ppCtrl.pricingPausing">
          <thead md-head md-order="ppCtrl.query.order">
          <tr md-row>
            <th md-column md-order-by="profile_name"><a class="btn btn-link" href="javascript:void(0)"><span>Profile Name</span></a></th>
            <th md-column md-order-by="href"><a class="btn btn-link" href="javascript:void(0)"><span>URL</span></a></th>
            <th md-column md-order-by="product_type" md-desc class="product"><a class="btn btn-link" href="javascript:void(0)"><span>Product Type</span></a></th>
            <th md-column md-order-by="price"><a class="btn btn-link" href="javascript:void(0)"><span>Change Your Price</span></a></th>
            <th md-column md-order-by="suggested_price" class="suggested-cost"><a class="btn btn-link" href="javascript:void(0)"><span>Our Suggested Price</span></a></th>
            <th md-column><a class="btn btn-link" href="javascript:void(0)"><span>Pause from Search?</span></a></th>
          </tr>
          </thead>
          <tbody md-body>
          <tr md-row ng-repeat="order in ppCtrl.filtered = (ppCtrl.pricingPausing | filter: ppCtrl.query.filter) |
            orderBy: ppCtrl.query.order |
            limitTo: ppCtrl.query.limit : (ppCtrl.query.page -1) * ppCtrl.query.limit"
            ng-class="ppCtrl.getRowClass(order)">
            <td md-cell data-ellipsis data-ng-bind="order.profile_name | limitTo: 30"
              data-ellipsis-append="...">
              <md-tooltip md-direction="bottom">
                {{ ppCtrl.isSubmitted(order) ? 'Submission waiting Admin approval' : order.profile_name }}
              </md-tooltip>
            </td>

            <td md-cell data-ellipsis data-ng-bind="order.href | limitTo: 30"
                data-ellipsis-append="...">
              <md-tooltip md-direction="bottom">
                {{ ppCtrl.isSubmitted(order) ? 'Submission waiting Admin approval' : order.href }}
              </md-tooltip>
            </td>

            <td md-cell data-ellipsis data-ng-bind="order.product_type | limitTo: 30 | capitalize"
                data-ellipsis-append="...">
            </td>

            <td md-cell ng-click="editPrice($event, order)" ng-disabled="true">
              {{ order.price | currency:"$":0 }}
              <md-tooltip md-direction="bottom">
                  {{ ppCtrl.isSubmitted(order) ? 'Submission waiting Admin approval' : ppCtrl.getEditPriceTooltipText(order) }}
              </md-tooltip>

            </td>

            <td md-cell class="suggested-cost">
              {{ order.suggested_price | currency:"$":0 }}
            </td>

            <td md-cell>
              <div class="switcher">
                <input ng-id="{{ order.id }}-pause" type="checkbox" ng-checked="order.paused" ng-model="order.paused"
                  ng-disabled="order.submitted" aria-label="paused">
                </input>
                <label ng-if="order.submitted" ng-for="{{ order.id }}-pause" data-on="ON" data-off="OFF"></label>
                <label ng-if="!order.submitted" ng-click="ppCtrl.toggleOrderPaused(order); ppCtrl.submitUrl(order)" ng-for="{{ order.id }}-pause" data-on="ON" data-off="OFF"></label>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <md-table-pagination md-limit="ppCtrl.query.limit" md-page="ppCtrl.query.page"
                            md-total="{{ ppCtrl.filtered.length }}"
                            md-page-select="true">
        </md-table-pagination>
      </div>
      <div class="pricing-pausing__content d-block d-lg-none">
        <table dir-paginate="order in ppCtrl.filtered = (ppCtrl.pricingPausing | filter: ppCtrl.query.filter) |
        orderBy: ppCtrl.query.order | itemsPerPage: 20" pagination-id="mobile-pricing" ng-class="ppCtrl.getRowClass(order)">
          <tr>
            <th>Profile Name</th>
            <td data-ellipsis data-ng-bind="order.profile_name | limitTo: 30"
              data-ellipsis-append="...">
              <md-tooltip md-direction="bottom">
                {{ ppCtrl.isSubmitted(order) ? 'Submission waiting Admin approval' : order.profile_name }}
              </md-tooltip>
            </td>
          </tr>
          <tr>
            <th>URL</th>
            <td data-ellipsis data-ng-bind="order.href | limitTo: 30"
                data-ellipsis-append="...">
              <md-tooltip md-direction="bottom">
                {{ ppCtrl.isSubmitted(order) ? 'Submission waiting Admin approval' : order.href }}
              </md-tooltip>
            </td>
          </tr>
          <tr>
            <th>Product Type</th>
            <td data-ellipsis data-ng-bind="order.product_type | limitTo: 30 | capitalize"
                data-ellipsis-append="...">
            </td>
          </tr>
          <tr>
            <th>Change Your Price</th>
            <td>
              <span>$</span><input class="form-control form-control--editable" name="name" type="number" placeholder ng-value="order.price" ng-blur="editPriceBlur($event, order)">
              <md-tooltip md-direction="bottom">
                  {{ ppCtrl.isSubmitted(order) ? 'Submission waiting Admin approval' : ppCtrl.getEditPriceTooltipText(order) }}
              </md-tooltip>
            </td>
          </tr>
          <tr>
            <th>Our Suggested Price</th>
            <td class="suggested-cost">
              {{ order.suggested_price | currency:"$":0 }}
            </td>
          </tr>
          <tr>
            <th>Pause from Search?</th>
            <td>
              <div class="switcher">
                <input ng-id="{{ order.id }}-mpause" type="checkbox" ng-checked="order.paused" ng-model="order.paused"
                  ng-disabled="order.submitted" aria-label="paused">
                </input>
                <label ng-if="order.submitted" ng-for="{{ order.id }}-mpause" data-on="ON" data-off="OFF"></label>
                <label ng-if="!order.submitted" ng-click="ppCtrl.toggleOrderPaused(order); ppCtrl.submitUrl(order)" ng-for="{{ order.id }}-mpause" data-on="ON" data-off="OFF"></label>
              </div>
            </td>
          </tr>
        </table>
        <div class="profiles-list__pagination margin-top-5">
          <dir-pagination-controls boundary-links="true" on-page-change="changeHandler(newPageNumber)" pagination-id="mobile-pricing"></dir-pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
