.edit-profiles {
  md-input-container label:not(.md-no-float):not(.md-container-ignore), md-input-container .md-placeholder {
    font-size: 1.1em;
  }

  div.header-container {
    margin-right: 2rem;

    md-icon {
      font-size: 1.8em;
    }
  }

  md-input-container.no-errors {
    font-size: .8em;
    margin-bottom: .2rem;
  }

  .domain-main-info {
    md-card-content {
      padding: 0;
    }
  }

  .description-container {
    padding-top: 2rem;
  }

  .content-more-padding {
    margin-top: 3.8rem;
  }

  .name-profile {
    padding-top: 3rem;

    md-input-container {
      margin-bottom: 0;
      padding-bottom: 0;
      margin-right: 1rem;
    }
  }

  md-icon.state-icon {
    border: none;
    margin-left: 2rem;

    &.active {
      color: $dark-green;
    }

    &.rejected {
      color: $error-red;
    }

    &.penbding {
      color: $dark-grey;
    }
  }

  .md-button.md-icon-button.action-icon {
    margin-top: 1.2rem;

    &.remove-icon {
      margin-left: -.5rem;
    }
  }

  div.domain-info-icon-container {
    padding-bottom: 2.5rem;
    padding-left: 2rem;
  }

  div.state-icon-container {
    margin-top: 2.1rem;
    padding-left: 2.4rem;
  }

  .domain-hint {
    label {
      font-size: 1.2em;
    }
  }

  .input-no-margin {
    margin-top: 0;
  }

  .md-subheader .md-subheader-inner {
    h3 {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  .truncate-text {
    width: 25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .query-no-border {
    outline: none;
    border: none;
  }

  table.md-table td.md-cell {
    border-color: rgba($dark-grey, .4);
  }

  .md-table-pagination {
    border-top-color: rgba($dark-grey, .4);
  }

  .table-icons {
    md-icon {
      font-size: .8em;
      height: 2.6rem;
      width: 2.6rem;
    }
  }

  .md-no-sticky {
    h3 {
      font-weight: bold;
    }
  }

  .selected-spreadsheet {
    padding-left: 1.4rem;

    .error-message {
      margin-bottom: 1.5rem;
    }

    .trashcan {
      margin-bottom: 3rem;
    }

    .normal-input {
      margin-top: 1rem;
    }

    .send-admin {
      margin-bottom: 1.5rem;
    }
  }

  .data-table-container {
    .follow-links {
      padding-top: 2rem !important;
    }

    .edit-cell {
      md-icon {
        outline: none;
        cursor: pointer;

        &.active {
          color: $primary;
        }

        &.rejected {
          color: $accent;
        }

        &.cancelled {
          color: $error-red;
        }
      }
    }
  }

  .delete-icon {
    padding-left: 1rem;
  }

  .send-file {
    max-height: 4.5rem;
  }

  .vertical-divider {
    margin: .5rem 0 2rem 0;
  }

  .suggested-price {
    font-size: 1.5em;
    margin-top: -3rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
  }

  md-icon {
    cursor: pointer;
  }
}

.edit-dialog-container {
  min-width: 80%;

  h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000000;
  }

  .md-button.md-accent, .md-button.md-accent:not([disabled]) {
    height: 40px;
    padding: 6px 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    border-radius: 4px;
    color: #fff;
    background: linear-gradient(90deg, #36b0a5 0%, #1098aa 100%);
    box-shadow: 0 2px 0 0 #1d5e70;
  }
  .md-button.md-accent:disabled {
    opacity: .65;
  }

  .error-message {
    font-size: .8em;
    font-weight: 300;
  }

  .url-follow {
    padding: 2rem 0 2rem 0;
  }

  md-input-container {
    font-size: 1.6em;
    margin-bottom: 0;
  }

  .pausing-url {
    margin-left: 2rem;
    padding-top: 2rem;
    font-size: 1.6em;

    span {
      margin-left: 2rem;
    }
  }

  .suggested-price {
    font-size: 1.5em;
    padding-left: 2rem;
  }

  .rejected-reasons {
    padding-left: 1.6rem;
    padding-top: 1.6rem;
    font-size: 2rem;

    .bold-red {
      color: $error-red;
      font-weight: bold;
    }
  }
}

.dialog-container {
  max-width: 90%;

  md-input-container label:not(.md-no-float):not(.md-container-ignore) {
    font-size: 1.1em;
  }

  .no-link {
    text-decoration: none;

    &:hover {
      color: $accent !important;
    }
  }

  md-dialog .md-dialog-content {
    padding: 0 0 0 1.2rem;
  }

  .sample-file-button {
    color: $accent;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1.3rem 2rem;
    font-size: 1.6em;
    max-height: 6rem;
    border-radius: 0;

    &:hover:not([disabled]) {
      background-color: rgba($hover-gray,.2);
    }
  }

  .upload-modal {
    padding-bottom: 3rem;

    table {
      border-collapse: collapse;
      font-size: 1.5em;

      th {
        padding: 0 1rem;
        border: .1rem solid $dark-text;
        text-align: center;
        color: $black;
        background-color: $excel-blue;
        line-height: 2.2rem;

        &:last-child {
          background-color: $excel-yellow;
        }
      }

      tr {
        text-align: center;
      }

      tr td:last-child {
        width: 15%;
      }

      td {
        border: .1rem solid $divider;
        padding: 1rem;
      }

      td, th {
        &.index {
          color: $dark-grey;
          font-weight: normal;
        }
      }
    }

    .wrap-description {
      width: 25rem;
    }
  }
}

.edit-profile__section {
  margin-bottom: 30px;
}

table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2),
table.md-table:not(.md-row-select) th.md-column:first-child {
  padding: 15px 2px;
}

table.md-table:not(.md-row-select) td.md-cell:first-child,
table.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2),
table.md-table td.md-cell:last-child {
  padding: 10px 15px;
}

.switcher label {
  margin-left: 5px;
}

.edit-profile__content .table tr th:last-child {
  width: auto;
}

md-icon.rejected {
  color: #f60;
}

md-icon.active {
  color: $label-success;
}

md-icon.cancelled {
  color: #d50000;
}

md-icon.paused {
  color: $primary;
}

// .md-tooltip {
//   padding: 9px 7px 11px 9px !important;
//   font-size: 12px !important;
//   background: #fff !important;
//   border: 1px solid #dfe4ef !important;
//   border-radius: 4px !important;
//   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07) !important;
// }

.form-control {
  height: 40px;
  padding-right: 16px;
  padding-left: 16px;
  font-size: 14px;
  border-color: $bg-off-white;
  border-radius: 6px;
}

md-icon {
  cursor: pointer;
}

.social-handles md-icon {
  min-height: 28px;
  min-width: 28px;
}

div.selected-spreadsheet {
  md-icon.md-accent {
    margin: 0;
  }

  md-input-container {
    margin-top: 1rem;
    width: 175px;
  }

  md-button {
    width: 185px;
  }
}

.pause-url-lbl {
  font-size: 16px;
}

.edit-profile__content .edit-prof-save {
  margin-top: 15px;
}

.pending-state-row {
  margin-top:27px;
}
