<div class="content-section">
  <div class="content-section__header">
    <div class="content-section__back"><a class="btn btn-white" ui-sref="all-profiles"><svg class="icon icon--chevron">
          <use xlink:href="assets/images/icons.svg#chevron"></use>
        </svg><span>Back</span></a></div>
    <h2 class="content-section__title">Edit Profile</h2>
    <div class="content-section__right"></div>
  </div>
  <div class="content-section__content">
    <div class="edit-profile">
      <div class="edit-profile__section">
        <div class="edit-profile__content">
          <!-- partial for avatar/name & categories -->
          <div ng-include="'app/pages/profiles/editProfile/partials/header.html'"></div>
        </div>
      </div>
      <div class="edit-profile__section">
        <h5 class="edit-profile__title">Category Information</h5>
        <div class="edit-profile__content">
            <div class="edit-profile__categories">
                <!-- partial for categories -->
                <div ng-include="'app/pages/profiles/editProfile/partials/categories.html'"></div>
              </div>
          </div>
      </div>
      <div class="edit-profile__section" ng-include="'app/pages/profiles/editProfile/partials/broker&ContributorPartial.html'" ng-if="editProfCtrl.isBroker() || editProfCtrl.isContributor()"></div>
      <div ng-include="'app/pages/profiles/editProfile/partials/bloggerPartial.html'" ng-if="editProfCtrl.isBlogger()">
      </div>
    </div>
  </div>
</div>
