<form class="new-campaign__main-data__form" name="form" ng-submit="form.$valid && newCampCtrl.submit()">
  <div class="content-section">
    <div class="content-section__header">
      <h2 class="content-section__title">Create New Campaign</h2>
      <div class="content-section__right">
        <button type="button" class="btn btn-default btn-small btn-auto" ng-click="form.$valid && newCampCtrl.submit()" ng-disabled="form.$invalid || newCampCtrl.campaign.categories.length == 0 || $root.isLoading">Save</button>
      </div>
    </div>
    <div class="content-section__content">
      <div class="new-campaign">
        <div class="new-campaign__content">
          <div class="new-campaign__main-data">
            <div class="new-campaign__main-data__photo">
              <image-selector image="newCampCtrl.campaign.image"></image-selector>
            </div>
            
              <div class="new-campaign__main-data__inputs">
                <div class="form-group"><input class="form-control" type="text" placeholder="Write a campaign name" ng-model="newCampCtrl.campaign.name" name="name" required unique-on="newCampCtrl.campaignNames"></div>
                <div class="errors errors-1" ng-messages="form.name.$error" md-auto-hide="false">
                  <div ng-message="required">This is required.</div>
                  <div ng-message="repeated">This name has already been used.</div>
                </div>
                <h6 ng-show="!newCampCtrl.campaign.csv">Submit home page first. Subpages are added during order process</h6>
                <div class="form-group" ng-show="!newCampCtrl.campaign.csv">
                  <input class="form-control" type="text" ng-required="!newCampCtrl.campaign.csv" name="url"
                  ng-model="newCampCtrl.campaign.url" placeholder="http://www.awesome.site.com"
                  url-input>
                  <div class="errors" ng-messages="form.url.$error" multiple md-auto-hide="false">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="pattern">This doesn't appear to be a valid URL. Please fix to move forward.</div>
                  </div>
                </div>
              </div>
            
          </div>

          <!-- CSV file uploaded -->
          <md-card-content ng-show="newCampCtrl.campaign.csv" flex layout="row" layout-align="center center">
            <md-input-container class="normal-input" flex>
              <label>Uploaded Spreadsheet</label>
              <input name="csv" class="highlighted" disabled ng-model="newCampCtrl.campaign.csv.name">
            </md-input-container>
            <md-button class="md-raised orange-button" ng-if="newCampCtrl.campaign.csv" ng-click="newCampCtrl.clearCsv()">
              Remove
            </md-button>
          </md-card-content>

          <div class="new-campaign__categories">
            <category-selector flex placeholder="Select your categories..."
              ng-model="newCampCtrl.campaign.categories"
              hide-categories="!newCampCtrl.showCategories">
            </category-selector>
          </div>
          <div class="edit-profile__show-control-btn d-block d-md-none"><a class="btn btn-link" href="javascript:void(0)" ng-click="newCampCtrl.toggleCategories()">{{ newCampCtrl.toggleCategoriesActionMsg() }}</a></div>
        </div>
      </div>
    </div>
  </div>
</form>
