// Image size
$preview-width-min: 15rem;
$preview-height-min: 15rem;
$preview-width-max: 30rem;
$preview-height-max: 15rem;

.drop-box {
  background-color: $primary;
  min-width: $preview-width-min;
  min-height: $preview-height-min;
  max-height: $preview-height-max;
  max-width: $preview-width-max;
  text-align: center;
  display: flex;
  cursor: pointer;

  .icon {
    font-size: 4.8em;
    color: $white;
    height: auto;
    width: auto;
  }
}

.drop-box-no-background {
  @extend .drop-box;
  background-color: transparent;
}

.center-cropped {
  max-height: $preview-height-max;
  max-width: $preview-width-max;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;

  img {
    min-height: 100%;
    min-width: 100%;
    /* IE 8 */
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    /* IE 5-7 */
        filter: alpha(opacity=0);
    /* modern browsers */
    opacity: 0;
  }
}

.errors-1 {
  margin-top: -20px;
}

@media only screen and (max-width: 768px) {
  .errors-1 {
    margin-top: -12px;
  }
}
