<div class="content-section">
  <div class="content-section__header">
    <h2 class="content-section__title">Campaigns ({{ allCampCtrl.campaigns.length }} results)</h2>
  </div>
  <div class="content-section__content">
    <div class="manage-campaigns">
      <div class="manage-campaigns__campaigns-list">
        <div class="campaigns-list">
          <div class="campaigns-list__content">
            <div class="campaigns-list__list">
                <md-subheader ng-if="allCampCtrl.campaigns.length === 0" class="md-no-sticky"
                              layout="row" layout-align="center center">
                  <h2>No campaigns to show</h2>
                </md-subheader>
              <campaign-mini dir-paginate="campaign in allCampCtrl.campaigns | itemsPerPage: allCampCtrl.perPage" campaign="campaign"></campaign-mini>     
            </div>
            <div class="campaigns-list__pagination">
              <dir-pagination-controls max-size="6" on-page-change="allCampCtrl.goTop()"></dir-pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
