.sub-menu-item {
  margin: 0;
  padding: .4rem 0 .4rem 2rem;
  text-transform: none;
  color: $white;
  font-size: 1.6em;
  width: 100%;
  text-align: left;
  background-color: $white;
}

.sub-menu-item.ng-hide-add, .sub-menu-item.ng-hide-remove {
  /* this is required as of 1.3x to properly
   apply all styling in a show/hide animation */
  transition: all 1s linear;
}
