.reports-main {
  md-list {
    md-list-item {
      height: 4.8rem;

      h2 {
        margin: 0;
      }

      .hidden-div {
        height: 0;
      }
    }
  }

  md-dialog {
    max-width: 58%;
    height: 100%;
  }
}

.price-pause-report {
  .pausing-checkbox {
    margin-left: 1.3rem !important;
  }

  td.md-cell.md-numeric {
    text-align: center !important;
  }

  th.md-column:nth-child(n+2):nth-last-child(n+2) {
    padding: 0 1rem 0 0;

    &.profile-name {
      width: 10%;
    }

    &.cost {
      width: 5%;
      text-align: center;
    }

    &.suggested-cost {
      width: 5%;
      text-align: center;
    }

    &.url {
      width: 25%;
    }

    &.product {
      width: 5%;
    }

    &.action {
      width: 10%;
    }
  }
}

.reports {
  table.md-table:not(.md-row-select) {
    & td.md-cell {
      padding: 0;
      padding-right: 1rem;

      &:first-child {
        padding: 0 1rem 0 2rem;
      }

      &:nth-child(n+2):nth-last-child(n+2) {
        padding: 0 1rem 0 0;

        &.action {
          text-align: center;
        }

        &.rejected-reason {
          padding-left: 5rem;
        }

        &.url {
          padding-left: 5rem;
        }

        &.center-cell {
          text-align: center;
        }

        &.price {
          text-align: center;
          padding-left: 2rem;
        }

        &.notes {
          text-align: center;
        }
      }

      &:last-child {
        padding: 0 2rem 0 0;
        text-align: center;
      }
    }
    & th.md-column {
      padding: 0;
      padding-right: 1rem;

      &:first-child {
        padding: 0 1rem 0 2rem;

        &.publisher {
          width: 15%;
        }

        &.date {
          width: 15%;
        }
      }

      &:nth-child(n+2):nth-last-child(n+2) {
        padding: 0 1rem 0 0;

        &.date {
          width: 15%;
        }

        &.rejected-reason {
          padding-left: 5rem;
        }

        &.action-button {
          width: 10%;
        }

        &.da {
          width: 5%;
        }

        &.cost {
          width: 5%;
        }

        &.url {
          padding-left: 5rem;
          width: 20%;

          &.no-padding {
            padding-left: 0;
          }
        }

        &.publisher {
          width: 15%;
        }

        &.campaign {
          width: 20%;
        }

        &.product {
          width: 10%;
        }

        &.action {
          text-align: center;
        }

        &.notes {
          text-align: center;
        }
      }

      &:last-child {
        padding: 0 2rem 0 0;
        text-align: center;

        &.download {
          width: 12%;
        }

        &.action-button {
          width: 10%;
        }
      }
    }
  }

  md-select-menu md-option[selected] {
    background-color: $light-grey-2;
  }

  md-option {
    background-color: $light-grey;
  }

  table.md-table td.md-cell.md-placeholder {
    color: $dark-placeholder;
    font-style: italic;
  }

  .md-green {
    md-icon {
      color: $dark-green;
    }
  }
}

.rejected-warning {
  color: $error-red;
}

.search-container {
  padding-right: .7rem;
}

.search-indicator {
  font-size: 1.6em;
  font-weight: 500;
  padding: 1rem;
}

.search-input {
  padding: 1rem;
}

.item-active {
  align-items: baseline;
  min-height: 30rem;
  transition: all 1s linear;
}

.range-selectors-container {
  margin: 0 8rem;
}

.accordion {
  .content-container {
    padding: 2rem 1rem;

    .notes-wrapper {
      p {
        font-size: 1.5em;
        max-height: 3rem;
        overflow: hidden;
        margin: 0;
      }

      span {
        font-size: inherit;
        font-weight: 600;
        cursor: pointer;
      }
    }

    .price-report {
      color: $primary;
      text-align: left;
      font-size: 2.3em;
    }

    .md-button {
      max-height: 15rem;

      span {
        font-size: 1em;
        text-transform: none;
      }
    }

    .url-container {
      span {
        overflow-x: hidden;
        text-overflow: ellipsis;
      }
    }

    md-input-container label {
      font-size: 1.6em;
    }

    .card-value {
      font-size: 1.5em;
      max-height: 8rem;
      max-width: 20rem;
    }
  }
}

.sub-title {
  font-style: italic;
  font-weight: 100;
  font-size: 1.2em;
}

.highlight-words {
  a {
    font-weight: 500;
    color: $primary;
  }
}

.no-items {
  padding: 3rem;
}

table.md-table td.md-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 13rem;
}

.upload-warning {
  font-weight: 900;
  font-size: 1.5em;
  padding-left: 1.1rem;
}

.no-padding {
  padding: 0;
}

.column-container {
  padding: .7rem;
}

.actions {
  cursor: pointer;

  &.disabled {
    color: $dark-grey;
  }
}

.item-list {
  font-size: 1.3em;
}

.notes-hint {
  label {
    font-size: 1.5em;
  }
}

.admin-notes-dialog {
  width: 30%;
}

.pub-notes {
  font-style: italic;
}

.bigger-checkbox {
  margin-top: 1rem;
  font-size: 1.6em;
  color: $dark-grey;
}

.query-no-border {
  outline: none;
  border: none;
}

.submitted-url {
  background-color: $light-grey;
}

.rejected-url {
  background-color: $article-rejected;
}

.submitted-ads {
  padding-top: 4rem;
}

.primary-color-svg {
  md-icon svg {
    fill: $primary;
  }
}

.notes-content {
  font-size: 1.4em;
}

.icon-disabled {
  md-icon svg {
    fill: $disabled-icon;
  }
}

.small-search-icon {
  margin-right: 0;
}

.info-icons {
  md-icon svg {
    fill: $accent;
  }
}

.md-green {
  md-icon {
    color: $dark-green;
  }

  md-chip {
    background-color: $dark-green;
  }
}

md-chip.clickable-chip {
  cursor: pointer;
}

md-chips.centered {
  md-chips-wrap {
    padding-left: 9.8rem;
  }
}
md-dialog .notes-content {
  color: $head-text;
  font-size: 1em;
}

.active-ads .btn-white[disabled] {
  color: $light-grey-3;
}

.active-ads-search-widget {
  display: inline-flex;
}

.active-ads-dl-report {
  margin: 6px 0px;
  margin-left: 10px;
}

@media only screen and (max-width: 768px) {
  .active-ads-dl-report {
    margin-left: 0;
  }
}

.rejected-wrapper .md-button.md-primary:not([disabled]) {
  background: none;
  box-shadow: none;
  padding: 0px;
}

.notes-h2 {
  font-size: 16px;
}
