.confirmation-container {
  width: 40%;

  .dialog-content {
    width: 100%;
    padding: 1rem 1rem;

    md-input-container {
      margin-bottom: 1rem;
      margin-top: .8rem;
      font-size: 1.6em;
    }

    p {
      font-size: 1.6em;
    }
  }
}
