<md-dialog class="confirmation-container" layout="column" layout-align="center center">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Changing Your Email?</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="confirmCtrl.closeDialog()">
        <md-icon aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-content class="dialog-content" layout-align="start center">
    <form name="form" ng-submit="false" layout="column" flex>
      <p>Changing your email will require re-authorization via the new email address!</p>
      <md-input-container class="md-block">
        <label>Current password</label>
        <input type="password" name="currentPassword" ng-model="confirmCtrl.current_password"
               ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()"
               ng-paste="$event.preventDefault()"
               required maxlength="16" minlength="8">
        <div ng-messages="form.currentPassword.$error">
          <div ng-message="minlength">Password with at least 8 characters</div>
          <div ng-message="md-maxlength">Password with maximum 16 characters</div>
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

    </form>
  </md-content>

  <div class="dialog-actions">
    <md-divider></md-divider>
    <md-card-actions layout="row" layout-align="end center" flex>
      <md-button class="md-primary" ng-disabled="$root.isLoading"
        ng-click="confirmCtrl.closeDialog()">Cancel</md-button>
      <md-button class="md-accent" ng-disabled="$root.isLoading || form.$invalid"
        ng-click="confirmCtrl.save()">Save</md-button>
    </md-card-actions>
  </div>
</md-dialog>
