<div class="create-profile__pathway">
  <span ng-class="{'active': newProfCtrl.selectedIndex == 0, 'complete': newProfCtrl.selectedIndex > 0}">Create</span><svg class="icon icon--chevron">
    <use xlink:href="assets/images/icons.svg#chevron"></use>
  </svg><span ng-class="{'active': newProfCtrl.selectedIndex == 1, 'complete': newProfCtrl.selectedIndex > 1}">Description</span><svg class="icon icon--chevron">
    <use xlink:href="assets/images/icons.svg#chevron"></use>
  </svg><span ng-class="{'active': newProfCtrl.selectedIndex == 2, 'complete': newProfCtrl.selectedIndex > 2}">Sponsored Blog</span><svg class="icon icon--chevron">
    <use xlink:href="assets/images/icons.svg#chevron"></use>
  </svg><span ng-class="{'active': newProfCtrl.selectedIndex == 3, 'complete': newProfCtrl.selectedIndex > 3}">Sponsored Social</span><svg class="icon icon--chevron">
    <use xlink:href="assets/images/icons.svg#chevron"></use>
  </svg><span ng-class="{'active': newProfCtrl.selectedIndex == 4, 'complete': newProfCtrl.selectedIndex > 4}">SEO</span>
</div>
