<div class="create-profile__main-data">
  <div class="create-profile__main-data__domain">
    <div class="domain-info">
      <h2 class="domain-info__name">{{ newProfCtrl.profile.name }}</h2>
      <div class="domain-info__activity">{{ newProfCtrl.profile.profileType }}</div>
      <div class="domain-info__url" ng-if="!newProfCtrl.isInfluencer()"><a href="#">{{ newProfCtrl.url.href }}</a></div>
      <form class="domain-info__meta" action="#">
        <textarea ng-if="!newProfCtrl.isInfluencer()" ng-model="newProfCtrl.url.description"
        name="description" required class="form-control" rows="3" placeholder="Be colorful. Pitch yourself with easy keywords to be found by our partners. Travel, tech, business, health, entertainment, etc. Words like this are easy to search."></textarea>
        <textarea ng-if="newProfCtrl.isInfluencer()" ng-model="newProfCtrl.url.description"
        name="description" required class="form-control" rows="3" placeholder="Description: Tell Us About Yourself and Your Audience. What type of content best resonates?"></textarea>
        <button ng-if="!newProfCtrl.isInfluencer()" class="btn btn-white" type="button" ng-mousedown="newProfCtrl.getMetaDescription()"
        ng-disabled="!newProfCtrl.url.href || $root.isLoading">Use my Meta Description</button></form>
    </div>
  </div>
</div>
<div class="create-profile__categories">
  <category-selector placeholder="Search/Select"
    ng-model="newProfCtrl.categories"
    hide-categories="!newProfCtrl.categoriesOn"
    text-to-show="Select categories for this domain" flex>
  </category-selector>
</div>
<div class="create-profile__show-control-btn d-block d-md-none">
  <a class="btn btn-link" href="javascript:void(0)" ng-click="newProfCtrl.toggleCategories()">{{ newProfCtrl.categoriesActionMsg() }}</a>
</div>
