<div class="create-profile__sposored-blog">
  <div class="sposored-blog">
    <div class="sposored-blog__note">
      For Sponsored Content, we must verfiy traffic through Google Analytics. We only verify traffic, you will not be giving us your password
      <md-button ng-click="newProfCtrl.showInfo(3)" class="md-icon-button info-icons"
        aria-label="info">
        <md-icon md-svg-src="assets/images/help-circle.svg">
        </md-icon>
      </md-button>
    </div>
    <form class="sposored-blog__form" name="form" ng-submit="form.$valid">
      <div class="sposored-blog__logo"><img src="assets/images/google.svg" alt></div>
      <div class="sposored-blog__button">
        <button ng-click="newProfCtrl.authorize($event)" ng-hide="newProfCtrl.hidden" class="btn btn-white btn-small" type="button">Authorize</button>
      </div>
      <div class="sposored-blog__input">
        <md-input-container>
          <label>Google Analytics Accounts</label>
          <md-select class="form-control" ng-model="newProfCtrl.selectedAnalytics" ng-disabled="!newProfCtrl.analytics.length" name="gaUrl" ng-change="newProfCtrl.analyticSelected()">
            <md-option ng-repeat="account in newProfCtrl.analytics" value="{{account}}">
              {{ account.name }}
            </md-option>
          </md-select>
          <div ng-messages="form.gaUrl.$error" multiple md-auto-hide="false">
            <div ng-message="required">This is required.</div>
            <div ng-message="url">You must add http(s)://  in front of the domain.</div>
          </div>
        </md-input-container>
      </div>
      <div class="sposored-blog__input">
        <input ng-required="newProfCtrl.profile.web_content.href" name="gaPrice"
        ng-model="newProfCtrl.profile.web_content.price" maxlength="9"
        format="currency" min="1" ui-money-mask="0" class="form-control" type="text" placeholder="Your price per post (USD)">
        <div ng-messages="form.gaPrice.$error" multiple md-auto-hide="false">
          <div ng-message="required">This is required.</div>
          <div ng-message="min">Must be greater than zero</div>
        </div>
      </div>
      <div>
        <md-icon ng-click="newProfCtrl.showPriceGa('GA', '', true)"
          ng-show="newProfCtrl.profile.web_content.href">
          info
        </md-icon>
        <md-icon ng-if="!newProfCtrl.profile.web_content.href"
          ng-click="newProfCtrl.showWarningPopup()">
          info
        </md-icon>
      </div>
    </form>
  </div>
</div>
