<div class="create-profile__sponsored-social">
  <form name="socialsForm">  
    <div class="sponsored-social">

      <!-- FACEBOOK SIGN IN -->
      <div ng-repeat="sh in newProfCtrl.profile.facebook_handles">
        <ng-form name="fbForm[{{$index}}]">
          <div class="sponsored-social__row">
            <div class="sponsored-social__icon"><img src="assets/images/facebook.svg" alt></div>
            <div class="sponsored-social__name">
              <h6>Facebook</h6>
              <span>
                <md-icon class="info-icons" ng-hide="!sh.url || $mdMedia('gt-sm')"
                  ng-click="newProfCtrl.showPriceGa('facebook', sh, true)"
                  ng-disabled="$root.isLoading">
                  info
                </md-icon>
                <md-icon ng-hide="sh.url || $mdMedia('gt-sm')"
                  ng-click="newProfCtrl.showWarningPopup()">
                  info
                </md-icon>
                <md-icon ng-show="sh.url && $mdMedia('gt-sm')" ng-click="newProfCtrl.showPriceGa('facebook', sh, true)"
                        ng-disabled="$root.isLoading">
                        info
                </md-icon>
                <md-icon ng-if="!sh.url && $mdMedia('gt-sm')"
                  ng-click="newProfCtrl.showWarningPopup()">
                  info
                </md-icon>
              </span>
            </div>
            <div class="sponsored-social__input">
              <input ui-money-mask="0" maxlength="9" ng-disabled="!sh.url"
              name="price" ng-required="sh.url" ng-model="sh.price"
              format="currency" min="1" class="form-control" type="text" placeholder="Your price per post (USD)">
              <div class="errors" ng-messages="fbForm[$index].price.$error" multiple md-auto-hide="false">
                <div ng-message="required">This is required.</div>
                <div ng-message="min">Must be greater than zero</div>
              </div>
            </div>
            <div class="sponsored-social__button"><button ng-click="newProfCtrl.handleFacebookAuthentication($event, sh, 'facebook')" class="btn btn-white btn-small" type="button">Connect</button></div>
          </div>
        </ng-form>
      </div>

      <!-- INSTAGRAM SIGN IN -->
      <div ng-repeat="sh in newProfCtrl.profile.instagram_handles">
        <ng-form name="inForm[{{$index}}]">
          <div class="sponsored-social__row">
            <div class="sponsored-social__icon"><img src="assets/images/instagram.svg" alt></div>
            <div class="sponsored-social__name">
              <h6>Instagram</h6>
              <span>
                <md-icon class="info-icons" ng-hide="!sh.url || $mdMedia('gt-sm')"
                  ng-click="newProfCtrl.showPriceGa('instagram', sh, true)"
                  ng-disabled="$root.isLoading">
                  info
                </md-icon>
                <md-icon ng-hide="sh.url || $mdMedia('gt-sm')"
                  ng-click="newProfCtrl.showWarningPopup()">
                  info
                </md-icon>
                <md-icon ng-show="sh.url && $mdMedia('gt-sm')" ng-click="newProfCtrl.showPriceGa('instagram', sh, true)">
                  info
                </md-icon>
                <md-icon ng-if="!sh.url && $mdMedia('gt-sm')"
                    ng-click="newProfCtrl.showWarningPopup()">
                    info
                </md-icon>
              </span>
            </div>
            <div class="sponsored-social__input">
              <input ui-money-mask="0" maxlength="9" name="price" ng-disabled="!sh.url"
              ng-required="sh.url" ng-model="sh.price" format="currency" min="1" class="form-control" type="text" placeholder="Your price per post (USD)">
              <div class="errors" ng-messages="inForm[$index].price.$error" multiple md-auto-hide="false">
                <div ng-message="required">This is required.</div>
                <div ng-message="min">Must be greater than zero</div>
              </div>
            </div>
            <div class="sponsored-social__button"><button ng-click="newProfCtrl.handleFacebookAuthentication($event, sh, 'instagram')" class="btn btn-white btn-small" type="button">Connect</button></div>
          </div>
        </ng-form>
      </div>

      <!-- YOUTUBE SIGN IN -->
      <div flex ng-repeat="sh in newProfCtrl.profile.youtube_handles">
        <div class="sponsored-social__row">
          <div class="sponsored-social__icon"><img src="assets/images/youtube.svg" alt></div>
          <div class="sponsored-social__name">
            <h6>Youtube</h6>
            <span>
              <md-icon class="info-icons" ng-hide="!sh.url || $mdMedia('gt-sm')"
                ng-click="newProfCtrl.showPriceGa('youtube', sh, true)"
                ng-disabled="$root.isLoading">
                info
              </md-icon>
              <md-icon ng-hide="sh.url || $mdMedia('gt-sm')"
                ng-click="newProfCtrl.showWarningPopup()">
                info
              </md-icon>
              <md-icon ng-show="sh.url && $mdMedia('gt-sm')"
                        ng-click="newProfCtrl.showPriceGa('youtube', sh, true)">
                        info
              </md-icon>
              <md-icon ng-if="!sh.url && $mdMedia('gt-sm')"
                ng-click="newProfCtrl.showWarningPopup()">
                info
              </md-icon>
            </span>
          </div>
          <div class="sponsored-social__input">
            <input ng-disabled="!sh.url"
            ui-money-mask="0" maxlength="9" name="price" ng-required="sh.url" ng-model="sh.price" format="currency" min="1" class="form-control" type="text" placeholder="Your price per post (USD)">
            <div class="errors" ng-messages="ytForm[$index].price.$error" multiple md-auto-hide="false">
              <div ng-message="required">This is required.</div>
              <div ng-message="min">Must be greater than zero</div>
            </div>
          </div>
          <div class="sponsored-social__button"><button ng-click="newProfCtrl.authorize($event, true, sh)" class="btn btn-white btn-small" type="button">Connect</button></div>
        </div>
      </div>

      <!-- TWITTER SIGN IN -->
      <div ng-repeat="sh in newProfCtrl.profile.twitter_handles">
        <ng-form name="twForm[{{$index}}]">
          <div class="sponsored-social__row sponsored-social__row--disconnect">
            <div class="sponsored-social__icon"><img src="assets/images/twitter.svg" alt></div>
            <div class="sponsored-social__name">
              <h6>Twitter</h6>
              <span>
                <md-icon class="info-icons" ng-hide="!sh.url || $mdMedia('gt-sm')"
                  ng-click="newProfCtrl.showPriceGa('twitter', sh, true)"
                  ng-disabled="$root.isLoading">
                  info
                </md-icon>
                <md-icon ng-hide="sh.url || $mdMedia('gt-sm')"
                  ng-click="newProfCtrl.showWarningPopup()">
                  info
                </md-icon>
                <md-icon ng-show="sh.url && $mdMedia('gt-sm')" ng-click="newProfCtrl.showPriceGa('twitter', sh, true)"
                          ng-disabled="$root.isLoading">
                          info
                </md-icon>
                <md-icon ng-if="!sh.url && $mdMedia('gt-sm')"
                  ng-click="newProfCtrl.showWarningPopup()">
                  info
                </md-icon>
              </span>
            </div>
            <div class="sponsored-social__input">
              <input ui-money-mask="0" maxlength="9" name="price" ng-disabled="!sh.url"
              ng-required="sh.url" ng-model="sh.price" format="currency" min="1" class="form-control" type="text" placeholder="Your price per post (USD)">
              <div class="errors" ng-messages="twForm[$index].price.$error" multiple md-auto-hide="false">
                <div ng-message="required">This is required.</div>
                <div ng-message="min">Must be greater than zero</div>
              </div>
            </div>
            <div class="sponsored-social__button"><button ng-click="newProfCtrl.authenticateTwitter($event, sh)" class="btn btn-white btn-small" type="button">Connect</button></div>
          </div>
        </ng-form>
      </div>
    </div>
  </form>
</div>
