<script src="https://apis.google.com/js/client.js?onload=authorize"></script>

<div class="create-profile__main-data">
  <div class="create-profile__main-data__photo">
    <image-selector image="newProfCtrl.profile.image"></image-selector>
  </div>
  <form name="form" ng-submit="form.$valid">
    <div class="create-profile__main-data__inputs">
      <div class="form-group form-group--radios">
        <label><span class="input-label-1">What Kind of User Are You?</span>
          <span class="error-message" ng-if="newProfCtrl.showTypeError">
            <br>Need to select one type of User
          </span>
        </label>
        <div ng-click="newProfCtrl.setAsBlogger()" class="form-check form-check-radio form-check-inline">
          <input tabindex="3" ng-disabled="$root.isLoading" ng-model="newProfCtrl.profile.profileType" class="form-check-input" name="profileType" ng-value="newProfCtrl.blogger()" type="radio"><label class="form-check-label"><span>Blogger</span></label>
          <md-tooltip md-direction="bottom" md-autohide="true">
            You own a blog and social channels
          </md-tooltip>
        </div>
        <div ng-click="newProfCtrl.setAsInfluencer()" class="form-check form-check-radio form-check-inline">
          <input tabindex="4" ng-disabled="$root.isLoading" ng-model="newProfCtrl.profile.profileType" class="form-check-input" name="profileType" ng-value="newProfCtrl.influencer()" type="radio"><label class="form-check-label"><span>Social Influencer</span></label>
          <md-tooltip md-direction="bottom" md-autohide="true">
            You are only on social. No blog
          </md-tooltip>
        </div>
        <div ng-click="newProfCtrl.setAsBroker()" class="form-check form-check-radio form-check-inline">
          <input tabindex="5" ng-disabled="$root.isLoading" ng-model="newProfCtrl.profile.profileType" class="form-check-input" name="profileType" ng-value="newProfCtrl.broker()" type="radio"><label class="form-check-label"><span>Broker</span></label>
          <md-tooltip md-direction="bottom" md-autohide="true">
            You work with other blog owners
          </md-tooltip>
        </div>
        <div ng-click="newProfCtrl.setAsContributor()" class="form-check form-check-radio form-check-inline">
          <input tabindex="6" ng-disabled="$root.isLoading" ng-model="newProfCtrl.profile.profileType" class="form-check-input" name="profileType" ng-value="newProfCtrl.contributor()" type="radio"><label class="form-check-label"><span>Contributor</span></label>
          <md-tooltip md-direction="bottom" md-autohide="true">
            You contribute content as an author.
          </md-tooltip>
        </div>
      </div>
      <div class="form-group"><label>Profile Name</label><input ng-model="newProfCtrl.profile.name" name="name"
        required unique-on="newProfCtrl.profileNames" tabindex="1" class="form-control" type="text" placeholder="Name your profile">
        <div ng-messages="form.name.$error" md-auto-hide="false" class="errors">
          <div ng-message="required">This is required.</div>
          <div ng-message="repeated">This name has already been used.</div>
        </div>
      </div>
      <div class="form-group" ng-if="!newProfCtrl.isInfluencer()"><label>Domain</label>
        <input name="domainUrl" ng-model="newProfCtrl.url.href" ng-blur="newProfCtrl.checkSEO(form)" tabindex="2" class="form-control" type="text" name="domain" required placeholder="https://MyWebsiteURL.com">
        <div ng-messages="form.domainUrl.$error" md-auto-hide="false" class="errors">
          <div ng-message="required">Required unless only a Social Influencer.</div>
          <div ng-message="url">This url doesn't seem good, please check.</div>
        </div>
      </div>
    </div>
    <div class="create-profile__main-data__radios">
      <div class="form-group form-group--radios">
        <label><span class="input-label-1">What Kind of Content do You Allow?</span>
          <span class="error-message" ng-if="newProfCtrl.showMissingContentTypeError">
            <br>Need to select type of Content
          </span>
        </label>
        <div ng-click="newProfCtrl.setContentType('own')" class="form-check form-check-radio form-check-inline">
          <input tabindex="7" ng-disabled="$root.isLoading" ng-model="newProfCtrl.profile.contentType" value="own" class="form-check-input" name="contentType" type="radio"><label class="form-check-label"><span>I write my own content. Period.</span></label>
        </div>
        <div ng-click="newProfCtrl.setContentType('ghosted')" class="form-check form-check-radio form-check-inline">
          <input tabindex="8" ng-disabled="$root.isLoading" ng-model="newProfCtrl.profile.contentType" value="ghosted" class="form-check-input" name="contentType" type="radio"><label class="form-check-label" for="radio6"><span>I accept ghosted content.</span></label>
        </div>
        <div ng-click="newProfCtrl.setContentType('collaborate')" class="form-check form-check-radio form-check-inline">
          <input tabindex="9" ng-disabled="$root.isLoading" ng-model="newProfCtrl.profile.contentType" value="collaborate" class="form-check-input" name="contentType" type="radio"><label class="form-check-label" for="radio7"><span>I can do either. Open to collaboration.</span></label>
        </div>
      </div>
    </div>
  </form>
</div>
