<form class="create-profile__seo" name="form" ng-submit="form.$valid">
  <div class="create-profile__seo__text">This guest content in exchange for natural link in SEO known as link building. This content is NOT DISCLOSED as you will not be pitching a product for purchase. You will not be listed publicly to any Agency or brand and you will have full editorial control.</div>
  <div class="create-profile__seo__radios">
    <div class="form-group" ng-if="newProfCtrl.isContributor()">
      <label>Publication Author Page</label>
      <input class="form-control" url-input name="authorPage" ng-model="newProfCtrl.url.author_page"
        placeholder='For example: http://HealthPublication.com/Author/Jane-Doe' />
      <div class="errors" ng-messages="form.authorPage.$error" multiple md-auto-hide="false">
        <div ng-message="pattern">This doesn't appear to be a valid URL. Please fix to move forward.</div>
      </div>
    </div>
    <div class="form-group form-group--radios"><label>Required article length?</label>
      <div ng-click="newProfCtrl.setUrlRequiredLength('750-1000')" class="form-check form-check-radio form-check-inline">
        <input value="750-1000" ng-model="newProfCtrl.url.required_length" class="form-check-input" name="required_length" type="radio">
        <label class="form-check-label"><span>750 - 1000</span></label>
      </div>
      <div ng-click="newProfCtrl.setUrlRequiredLength('1000-1250')" class="form-check form-check-radio form-check-inline">
        <input value="1000-1250" ng-model="newProfCtrl.url.required_length" class="form-check-input" name="required_length" type="radio">
        <label class="form-check-label"><span>1000 - 1250</span></label>
      </div>
      <div ng-click="newProfCtrl.setUrlRequiredLength('1250-1500')" class="form-check form-check-radio form-check-inline">
        <input value="1250-1500" ng-model="newProfCtrl.url.required_length" class="form-check-input" name="required_length" type="radio">
        <label class="form-check-label"><span>1250 - 1500</span></label>
      </div>
      <div ng-click="newProfCtrl.setUrlRequiredLength('1500-+')" class="form-check form-check-radio form-check-inline">
        <input value="1500-+" ng-model="newProfCtrl.url.required_length" class="form-check-input" name="required_length" type="radio">
        <label class="form-check-label"><span>1500 +</span></label>
      </div>
      <p class="error-message" ng-show="newProfCtrl.showHomePageError">
        {{ newProfCtrl.showHomePageErrorMessage() }}
      </p>
    </div>
  </div>
  <div class="create-profile__seo__radios create-profile__seo__radios--group">
    <div class="form-group form-group--radios">
      <label>Do You Allow Home Page Links?</label>
      <div ng-click="newProfCtrl.setUrlAllowHomepage(true)" class="form-check form-check-radio form-check-inline">
        <input value="true" ng-model="newProfCtrl.url.allow_home_page"
         class="form-check-input" name="allow_home_page" type="radio">
        <label class="form-check-label"><span>Yes</span></label>
      </div>
      <div ng-click="newProfCtrl.setUrlAllowHomepage(false)" class="form-check form-check-radio form-check-inline">
          <input value="false" ng-model="newProfCtrl.url.allow_home_page"
           class="form-check-input" name="allow_home_page" type="radio">
        <label class="form-check-label"><span>No</span></label>
      </div>
    </div>
    <div class="form-group form-group--radios">
      <label>Are the links Do-Follow?</label>
      <div ng-click="newProfCtrl.setUrlFollowLink(true)" class="form-check form-check-radio form-check-inline">
        <input value="true" ng-model="newProfCtrl.url.follow_link" class="form-check-input" name="follow_link" type="radio">
        <label class="form-check-label"><span>Yes</span></label>
      </div>
      <div ng-click="newProfCtrl.setUrlFollowLink(false)" class="form-check form-check-radio form-check-inline">
          <input value="false" ng-model="newProfCtrl.url.follow_link" class="form-check-input" name="follow_link" type="radio">
        <label class="form-check-label"><span>No</span></label>
      </div>
    </div>
    <div class="form-group form-group--radios">
      <label>I only allow links to blog posts</label>
      <div ng-click="newProfCtrl.setUrlAllowBlogPost(true)" class="form-check form-check-radio form-check-inline">
        <input value="true" ng-model="newProfCtrl.url.allow_blog_post" ng-disabled="newProfCtrl.url.allow_home_page == 'true';" class="form-check-input" name="allow_blog_post" type="radio">
        <label class="form-check-label"><span>Yes</span></label>
      </div>
      <div ng-click="newProfCtrl.setUrlAllowBlogPost(false)" class="form-check form-check-radio form-check-inline">
          <input value="false" ng-model="newProfCtrl.url.allow_blog_post" ng-disabled="newProfCtrl.url.allow_home_page == 'true';" class="form-check-input" name="allow_blog_post" type="radio">
        <label class="form-check-label" for="radio10"><span>No</span></label>
      </div>
    </div>
  </div>
  <div class="create-profile__seo__input">
    <input ui-money-mask="0" maxlength="9" name="searchPrice"
    ng-model="newProfCtrl.url.price" format="currency" min="1"
    ng-required="newProfCtrl.isContributor() || newProfCtrl.isBroker()" class="form-control" type="text" placeholder="Your price per post (USD)">
    <div class="hint" ng-click="newProfCtrl.showPriceSEO()">
      <div class="hint__icon"><svg class="icon icon--question">
          <use xlink:href="assets/images/icons.svg#question"></use>
        </svg></div>
      <div class="hint__text">Lorem ipsum dolor sit amet.</div>
    </div>
  </div>
  <div class="errors" ng-messages="form.searchPrice.$error" multiple md-auto-hide="false">
    <div ng-message="required">This is required.</div>
    <div ng-message="min">Must be greater than zero</div>
  </div>
</form>
