.dashboard {
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  background-color: $dashboard-background;

  .container {
    max-width: 150rem;
    width: 100%;
  }
}

.empty-state-info {
  margin-top: 7rem;

  p {
    font-size: 1.3em;
  }
}

.show-more-container {
  margin-top: 20px;
}
