<div class="application">
  <topnav>SCALEFLUENCE</topnav>
  <content ui-view id="top" class="application__content">
  </content>
  <div class="application__footer">
    <div class="footer">&copy;ScaleFluence 2019</div>
  </div>
</div>