<div class="row-container">
  <h2 class="title">
    {{ vm.getHeader() }}
  </h2>
  <table>
    <tr>
      <th class="index" ng-repeat="row in vm.showedRows" ng-class="{ highlighted: vm.isSelected($index + vm.min) }">{{ row.index }}</th>
    </tr>
    <tr>
      <td ng-repeat="row in vm.showedRows" ng-class="{ around: vm.around($index + vm.min), select: vm.isSelected($index + vm.min) }">
        {{ row.value }}
      </td>
    </tr>
  </table>
</div>
