.row-container {
  .title {
    font-weight: bold;
  }

  .row-component {
    margin: 1rem 1.5rem;
  }

  span.content-format {
    font-size: 1.8em;
    font-style: italic;
  }

  table {
    border-collapse: collapse;
    font-size: 1.6em;

    th {
      padding-bottom: 1.2rem;
    }

    tr {
      text-align: center;
    }

    td {
      border: .1rem solid $divider;
      padding: 1rem 1.6rem;
    }

    td, th {
      &.index {
        color: $primary;
        font-weight: bold;

        &.highlighted {
          color: $accent-dark;
        }
      }
    }

    .around {
      background-color: $green;
      color: $black;
    }

    .select {
      background-color: $dark-green;
      color: $white;
    }
  }
}
