<div ng-if="!vm.finish && vm.isFinishing()" class="finishing">
  <span>{{ vm.time.minutes }}m</span>
  <span>{{ vm.time.seconds }}s</span>
  <span>({{ vm.endingDate() }})</span>
</div>

<span ng-if="!vm.finish && !vm.isFinishing()">
  {{ vm.remainingHours() }}h ({{ vm.endingDate() }})
</span>

<span ng-if="vm.finish">Finished</span>
