<div class="content-section">
    <div class="content-section__header">
      <h2 class="content-section__title">All profiles</h2>
      <div class="content-section__small-text">{{ allProfCtrl.profiles.length }} profiles</div>
      <div class="content-section__right"><a class="btn btn-white btn-small" ui-sref="new-profile">Create new profile</a></div>
    </div>
    <div class="content-section__content">
      <div class="profiles-list">
        <div class="profiles-list__content">
          <div class="profiles-list__list" dir-paginate="profile in allProfCtrl.profiles | itemsPerPage: allProfCtrl.perPage">
            <profile-mini profile="profile"></profile-mini>
          </div>
          <div class="profiles-list__pagination">
            <dir-pagination-controls max-size="6" on-page-change="allProfCtrl.goTop()"></dir-pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
