<md-card>
    <div class="profile-row__content">
      <div ng-if="!vm.hasImage()" class="profile-row__cell profile-row__cell--image">
        <div class="profile-row__image">
          <div class="image-placeholder">
            <div class="image-placeholder__icon"><svg class="icon icon--mask">
                <use xlink:href="assets/images/icons.svg#mask"></use>
              </svg></div>
            <div class="image-placeholder__label">No image</div>
          </div>
        </div>
      </div>
      <div ng-if="vm.hasImage()" class="profile-row__cell profile-row__cell--image">
        <div class="profile-row__image"><img ng-src="{{ vm.getImage() }}" ng-click="vm.editProfile()" alt></div>
      </div>
      <div class="profile-row__cell profile-row__cell--main">
        <h4 class="profile-row__name">{{ vm.profile.name }}</h4>
        <md-chips class="chips-container rounded small-chips"
          ng-model="vm.profileType" ng-attr-readonly="true">
          <md-chip-template>
            {{ $chip.name }}
          </md-chip-template>
        </md-chips>
        <!-- <div class="profile-row__badges"><span class="badge badge-primary text-uppercase">*Blogger</span></div> -->
      </div>
      <div class="profile-row__cell profile-row__cell--user-statistics">
        <div class="profile-row__user-statistics">
          <div class="user-statistics">
            <div class="user-statistics__row">
              <div class="user-statistics__cell">{{ vm.profile.total_sites }}</div>
              <div class="user-statistics__cell">Total Sites</div>
            </div>
            <div class="user-statistics__row">
              <div class="user-statistics__cell">{{ vm.profile.total_orders }}</div>
              <div class="user-statistics__cell">Total Orders</div>
            </div>
            <div class="user-statistics__row">
              <div class="user-statistics__cell">{{ vm.profile.total_earned | currency:undefined:0 }}</div>
              <div class="user-statistics__cell">Total Earned</div>
            </div>
          </div>
        </div>
      </div>
      <div class="profile-row__cell profile-row__cell--buttons"><a class="btn btn-white btn-small" href="" ng-click="vm.editProfile()">EDIT PROFILE</a></div>
    </div>
  </md-card>
  
